index.json
[{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/","title":"Worklog","tags":[],"description":"","content":"Week 1: AWS Overview, Account Creation, Budgets, Support, IAM, VPC, EC2 \u0026amp; IAM Roles for EC2\nWeek 2: Amazon S3 Storage, Static Web Hosting, CloudFront CDN, Edge Computing \u0026amp; AWS CLI\nWeek 3: Amazon RDS Databases, Multi-AZ, Amazon DynamoDB NoSQL \u0026amp; ElastiCache\nWeek 4: Monitoring \u0026amp; Observability with Amazon CloudWatch, Logs Insights, Grafana \u0026amp; VPC Flow Logs\nWeek 5: High Availability \u0026amp; Auto Scaling with Load Balancer (ALB), Auto Scaling \u0026amp; Route 53\nWeek 6: Serverless Computing with AWS Lambda, API Gateway, Cognito \u0026amp; Step Functions\nWeek 7: Infrastructure as Code (IaC) with CloudFormation, AWS CDK \u0026amp; Container Services (Docker, ECS, EKS)\nWeek 8: Project: Ideation, Multi-Tenant SaaS Timekeeping Platform Design \u0026amp; Requirements Analysis\nWeek 9: Project: System Structure Diagram Editing \u0026amp; Architecture Design\nWeek 10: Project: Basic Security Configuration Implementation for the Project\nWeek 11: Project: Updating Frontend UI and Backend Logic\nWeek 12: Project: Completing Worklog Finalization and Refining Workshops\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/4-eventparticipated/4.1-event1/","title":"Event 1","tags":[],"description":"","content":"Summary Report: FCAJ Community Day Event Objectives Learn effective methods for self-directed learning and skill development in the AI era. Master prompt engineering techniques and explore supporting applications like Promptimizer. Identify strategies and paths to secure promising job opportunities in the tech industry. Understand the concept of Vibe Coding and structured methodologies for using BMAD. Key Highlights Hands-on insights into turning self-learning into an engaging, habit-forming routine. Practical guide to writing prompts like an engineer to get deterministic and high-quality outputs. Career orientation session with actionable advice on standing out to recruiters. Demystifying \u0026ldquo;Vibe Coding\u0026rdquo; and learning how to lead AI coding assistants effectively using BMAD. Session 1: How to make self-learning like using social media Topics Covered Overcoming the friction of traditional learning methods. Re-engineering learning loops using social-media-style micro-content and reward systems. Curating a personalized, high-yield feed of educational resources. Building consistency through bite-sized, daily learning habits. Key Takeaways Self-learning should be friction-free, interactive, and gamified. Curate your learning environment to mimic the ease of scrolling social media. Focus on consistent daily micro-habits rather than massive, sporadic study blocks. Session 2: How to write prompts like an engineer and supporting applications (Promptimizer) Topics Covered The anatomy of a well-engineered prompt (Role, Context, Task, Constraints, and Output Format). Moving from trial-and-error prompting to systematic prompt engineering. Introduction to Promptimizer and other tools that automate and optimize prompt design. Practical exercises in refining prompts for complex software engineering tasks. Key Takeaways Prompting like an engineer requires clear structure, specific context, and strict constraints. Automated tools like Promptimizer help refine prompts, reducing tokens and improving consistency. High-quality prompts lead to reliable, production-ready AI outputs. Session 3: How to get job opportunities Topics Covered Building a standout developer portfolio and personal brand. Networking effectively within local and global tech communities. Navigating the modern hiring process and technical interviews. Leveraging internship experiences and community contributions to attract recruiters. Key Takeaways A strong portfolio of real-world projects is more valuable than a generic resume. Active community participation and networking are major channels for hidden job markets. Continuous learning and adaptiveness are highly valued soft skills. Session 4: How to Vibe Coding, methods for using BMAD Topics Covered What is \u0026ldquo;Vibe Coding\u0026rdquo; and how to collaborate with AI coding assistants without losing control. Introduction to BMAD (Behavior, Model, Action, Details) methodology. Managing code quality, testing, and debugging when AI writes most of the code. Best practices for keeping project context clean and manageable. Key Takeaways \u0026ldquo;Vibe Coding\u0026rdquo; doesn\u0026rsquo;t mean coding without thinking; it requires high-level system architectural planning. Structured frameworks like BMAD ensure AI assistants produce aligned and functional code. Always verify, test, and refactor AI-generated code to maintain codebase health. Event Experience \u0026amp; Learnings Participating in the FCAJ Community Day was a fantastic experience that combined career advice with practical AI engineering and development methodologies.\nKey Learnings Mindset shift: Treating self-learning as a habit loop changes how fast one can acquire new skills. Prompt Engineering as a Skill: Writing precise prompts is a core engineering competency in the GenAI era. Collaborative Development: BMAD provides a structured way to code with AI, enhancing speed while ensuring quality. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.1-week1/","title":"Week 1 Worklog","tags":[],"description":"","content":"Week 1 Objectives Onboarding and getting acquainted with First Cloud AI Journey members (starting Tuesday, May 05, 2026) and internship guidelines. Complete 7 foundational modules on CloudJourney: Creating AWS Account, Managing Costs with AWS Budgets, Getting Help with AWS Support, Access Management with AWS IAM, Networking Essentials with Amazon VPC, Compute Essentials with Amazon EC2, and Instance Profiling with IAM Roles for EC2. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 3 - Onboarding \u0026amp; team introduction - Review internship rules and regulations - Creating Your First AWS Account: Sign up for AWS Free Tier account and set initial security - Getting Help with AWS Support: Explore AWS Support Plans and test creating a support case 05/05/2026 05/05/2026 https://000001.awsstudygroup.com https://000009.awsstudygroup.com 4 - Managing Costs with AWS Budgets: Configure budgets, set cost alert thresholds via Email/CloudWatch - Access Management with AWS Identity and Access Management (IAM): Learn IAM Users, Groups, Policies \u0026amp; enable MFA 06/05/2026 06/05/2026 https://000007.awsstudygroup.com https://000002.awsstudygroup.com 5 - Networking Essentials with Amazon Virtual Private Cloud (VPC): + Learn CIDR Blocks, Public Subnets, Private Subnets + Configure Internet Gateway (IGW), Route Tables, and Security Groups for basic VPC 07/05/2026 07/05/2026 https://000003.awsstudygroup.com 6 - Compute Essentials with Amazon Elastic Compute Cloud (EC2): Launch EC2 instance, connect via SSH \u0026amp; SSM Session Manager - Instance Profiling with IAM Roles for EC2: Create IAM Role attached to EC2 instance for secure AWS resource access without hardcoding access keys 08/05/2026 08/05/2026 https://000004.awsstudygroup.com https://000048.awsstudygroup.com Week 1 Achievements Successfully created and secured an AWS Free Tier account with MFA and AWS Budgets alerts. Mastered creating and tracking technical support requests via AWS Support Center. Mastered least privilege access control using IAM Users, Groups, and Managed Policies. Successfully built a fundamental VPC architecture with internet connectivity via Internet Gateway. Launched, accessed, and attached IAM Instance Profiles to EC2 instances securely. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/3-blogsposted/3.1-blog1/","title":"Blog 1","tags":[],"description":"","content":"Amazon S3 Disabling SSE-C by Default Starting April 2026: What Developers and DevOps Need to Know Hello everyone!\nAmazon S3 has long been one of the most popular storage services on AWS, power systems ranging from static websites and data lakes to backups and AI/ML applications. Alongside near-limitless scalability, data security is always a top priority for AWS.\nAWS recently announced an important update regarding Server-Side Encryption with Customer-Provided Keys (SSE-C). Starting April 2026, new S3 General Purpose Buckets will no longer support SSE-C by default. This change may directly impact applications utilizing this encryption method.\n1. CORE CHANGES AND REASONING FROM AWS While SSE-C allows organizations full control over encryption keys, it also means that key management responsibility rests entirely on the application side. If a key is lost or sent incorrectly, data cannot be decrypted.\nAccording to AWS:\nDisabled on New Buckets: New General Purpose Buckets will not support SSE-C by default. Applied to Unused Accounts: For AWS Accounts that have never stored SSE-C encrypted data, existing buckets will also have this feature disabled by default. HTTP 403 Access Denied Error: If an application sends a PutObject request with SSE-C headers (x-amz-server-side-encryption-customer-algorithm, x-amz-server-side-encryption-customer-key, x-amz-server-side-encryption-customer-key-MD5) without re-enabling the feature, Amazon S3 will reject the request with HTTP 403. This update aims to prevent misconfigurations for new users while encouraging migration toward centralized key management solutions such as SSE-KMS.\n2. OPERATIONAL ACTION ITEMS FOR DEVELOPERS \u0026amp; DEVOPS To prevent service disruption in backup pipelines, document upload flows, file-sharing services, or legacy SDK Data Lakes, teams should proactively take the following steps:\nManually Enable SSE-C if Required: Administrators can re-enable SSE-C via API or update Infrastructure as Code (IaC) templates (AWS CloudFormation, Terraform, AWS CDK, AWS CLI) before deployment. Audit All Systems: Review all S3 Buckets, application source code, and SDKs to identify any Customer-Provided Key usage. Migration Roadmap to SSE-S3 or SSE-KMS: Use SSE-S3: For the simplest zero-cost solution enabled by default for most applications. Use SSE-KMS: For Production environments requiring stringent security, IAM access controls, CloudTrail audit logs, automatic key rotation, and compliance standards (PCI DSS, HIPAA, ISO 27001). CONCLUSION This update is vital for teams currently relying on SSE-C. Auditing configurations, updating Infrastructure as Code, and considering a transition to SSE-KMS will ensure service stability before AWS officially enforces the new policy.\nReference Source: AWS Storage Blog - Advanced notice: Amazon S3 will disable SSE-C by default for all new buckets and select existing buckets in April 2026 #AWS #AmazonS3 #CloudSecurity #SSEKMS #SSEC #DevOps #CloudComputing #AWSStorage\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/","title":"Internship Report","tags":[],"description":"","content":"Internship Report Student Information Full Name: Nguyen Anh Khoa\nPhone Number: 0338010733\nEmail: khoaanh.kgi@gmail.com\nUniversity: HUTECH - Ho Chi Minh City University of Technology\nMajor: Information Technology\nClass: 22DTHD4\nInternship Company: Amazon Web Services Viet Nam Company Limited\nInternship Position: Workforce Bootcamp - First Cloud AI Journey\nInternship Duration: From 05/05/2026 to 30/07/2026\nReport Content Worklog Proposal BlogsPosted Events Participated Workshop Self-evaluation Sharing and Feedback "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/6---project/6.1-/","title":"Project Overview","tags":[],"description":"","content":""},{"uri":"https://karos2504.github.io/fcaj-workshop-template/5-workshop/5.1-workshop-overview/","title":"Workshop Overview","tags":[],"description":"","content":"Overview of the Smart Attendance SaaS Platform Workshop Introduction In this lab, you will explore the big picture of building a multi-tenant timekeeping software-as-a-service (SaaS) platform powered 100% by the AWS Serverless ecosystem.\nSystem Architecture Diagram Below is the complete serverless architecture model that you will build and deploy throughout this workshop series:\nKey Objectives \u0026amp; Learning Outcomes After completing this workshop, you will gain hands-on expertise in:\nInfrastructure as Code (IaC): Defining and managing cloud infrastructure using AWS SAM (Serverless Application Model) via template code (template.yaml). Multi-Tenant Authentication: Configuring Amazon Cognito User Pool with custom attributes (tenantId, role) and attaching it to Amazon API Gateway HTTP API v2 via JWT Authorizer. Optimized NoSQL Database Modeling: Designing a Single-Table Design on Amazon DynamoDB, enabling KMS CMK encryption and DynamoDB Streams for Change Data Capture (CDC). Asynchronous Event-Driven Workflows: Integrating EventBridge Pipe, AWS Step Functions Express Workflow, Amazon SQS, and Amazon SES to automatically generate and deliver monthly PDF/Excel attendance reports via email. Web SPA Delivery \u0026amp; Edge Ingress Protection: Hosting a React SPA on Amazon S3, delivering it globally via Amazon CloudFront CDN, and restricting API ingress using a Custom Verification Header (x-origin-verify). Estimated Duration Estimated Time: 60 - 90 minutes. Level: Intermediate to Advanced. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/4-eventparticipated/4.2-event2/","title":"Event 2","tags":[],"description":"","content":"Summary Report: AWS Community Day – AI Track Event Objectives Share cutting-edge trends in AI and practical implementation strategies Explore how AI context, memory, and agents are reshaping the industry Introduce Amazon Q as an AI-powered productivity suite Demonstrate CloudFront\u0026rsquo;s role as a modern infrastructure foundation Inspire students and developers to start building with AI Speakers Session Speaker Title Organization Session 1 Tinh Truong Platform Engineer GoTymeX Session 2 Duc Dao Solutions Architect Cloud Kinetics Session 3 Thinh Nguyen DevOps Engineer FCAJ Session 4 Thao Nguyen GenAI Engineer VIB Session 4 Mai Nguyen GenAI Engineer VIB Session 4 Uyen Le GenAI Engineer VIB Session 5 Anh Pham Cloud Consultant G-AsiaPacific Vietnam Session 6 Vy Lam Senior Business Systems Analyst VPBank Key Highlights Hands-on insights into AI context, prompting, and the Second AI Brain concept Live walkthrough of Amazon Q\u0026rsquo;s natural language capabilities across data and workflows Deep-dive into CloudFront as a security, performance, and reliability layer Real hackathon story: building UTMorpho in 36 hours at LotusHacks Technical discussion on LLM determinism myths and inference optimizations Enterprise multi-agent architecture for startup credit scoring with compliance guardrails Session 1: Context Is Everything: Making AI Actually Work for You 🕘 09:00 – 09:30 AM\nTopics Covered Why AI fails without context \u0026amp; what \u0026ldquo;context\u0026rdquo; really means From prompts to memory: how AI is evolving (Second AI Brain concept) How better context leads to better results (practical mindset \u0026amp; tips) Career insights \u0026amp; how students can start building with AI + Q\u0026amp;A Key Takeaways Context is the foundation for effective AI solutions Understanding the evolution from simple prompts to contextual memory systems Practical strategies for implementing better context in AI applications Career opportunities in AI and how to start building AI solutions Session 2: Friendly AI Assistant with Amazon Q 🕘 09:30 – 09:45 AM\nOverview Amazon Q Chat Agent: AI assistants for exploring data, analyzing insights Amazon Q Flows: Create intelligent workflows with natural language — no coding required Amazon Q Spaces: Shared collaborative spaces that turn individual insights into team knowledge Amazon Q Sight: Build dashboards and reports from raw data using natural language Key Takeaways Amazon Q provides a comprehensive suite for AI-powered workflows Natural language interfaces enable non-technical users to work with data Collaborative spaces enhance team knowledge sharing and insights Automation opportunities in business intelligence and data analysis Session 3: From Edge To Origin: CloudFront as Your Foundation 🕘 09:45 – 10:25 AM\nKey Topics Amazon CloudFront for every workload Cost optimization with Amazon CloudFront Security capabilities Enhanced reliability with Amazon CloudFront Enhanced performance with Amazon CloudFront Key Takeaways CloudFront is a versatile solution for diverse workload types Strategic use of CloudFront reduces costs while improving performance Security and reliability are built-in through edge distribution Performance optimization at scale using edge computing Session 4: 36 hrs with LotusHacks – Building UTMorpho from Idea to Reality 🕘 10:25 – 10:55 AM\nPresentation Outline Why We Joined LotusHacks From Zero to Idea – The Brainstorming Journey Defining the Problem \u0026amp; Shaping UTMorpho Building Under Pressure – 36-Hour Development Sprint Challenges, Failures \u0026amp; Turning Points UTMorpho – Product Overview \u0026amp; platform_architecture Key Learnings \u0026amp; What\u0026rsquo;s Next Key Takeaways Rapid prototyping and iterative development under time constraints Importance of problem definition and clear objectives Learning from challenges and failures during development Practical insights for hackathon participation and product development Session 5: Non-Determinism of \u0026ldquo;Deterministic\u0026rdquo; LLM Settings 🕘 11:00 – 11:30 AM\nCore Concepts How LLMs choose the next token Assumption: Temperature=0 guarantees determinism Reality: Inference optimizations say otherwise Practical impacts Mitigation strategies Key Takeaways Deterministic LLM settings don\u0026rsquo;t guarantee deterministic outputs Understanding inference optimizations and their effects on consistency Practical approaches to manage non-determinism in production systems Best practices for reliable LLM applications Session 6: Enterprise-Grade Multi-Agent System: The Case of Startup Credit Scoring 🕘 11:30 AM – 12:00 PM\nTopics Covered The structural mismatch between banking systems and startup data Single Agent: When to and When Not To The Multi-Agent Paradigm Blueprint of a Virtual Credit Committee Guardrails \u0026amp; Compliance Operational ROI \u0026amp; Implementation Roadmap Key Takeaways Multi-agent systems provide sophisticated solutions for complex business problems Understanding when to use single vs. multiple agents Compliance and guardrails are essential in enterprise AI deployments Measurable ROI through intelligent automation and decision-making Event Experience \u0026amp; Learnings Attending this event was an invaluable experience that exposed me to cutting-edge AI technologies, practical applications, and industry best practices. Key highlights include:\nDiverse AI Applications Explored multiple dimensions of AI: from contextual understanding to enterprise-grade systems Learned how companies implement AI across different domains and use cases Gained insights into both emerging concepts (Second AI Brain, multi-agent systems) and established practices Practical Implementation Insights Understood the importance of context in AI effectiveness Discovered natural language interfaces democratizing data access Learned about performance optimization at global scale with CloudFront Gained perspective on managing LLM non-determinism in production Real-World Case Studies Studied startup credit scoring use case showing enterprise AI deployment Learned from hackathon experience with UTMorpho project Understood the balance between rapid innovation and production reliability Career and Skill Development Learned how students can start building with AI Understood multiple career paths in AI and cloud technologies Gained practical knowledge applicable to future projects Event Photos "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.2-week2/","title":"Week 2 Worklog","tags":[],"description":"","content":"Week 2 Objectives Master Amazon Simple Storage Service (S3) object storage, Storage Classes, and automated S3 Lifecycle data rules. Understand S3 Bucket Policies, SSE Encryption, and static website hosting implementation. Configure Amazon CloudFront CDN to accelerate web content distribution, explore Edge Computing (Lambda@Edge), and manage resources using AWS CLI \u0026amp; AWS Cloud9. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Command Line Operations with AWS CLI \u0026amp; AWS Cloud9: + Initialize AWS Cloud9 cloud IDE + Install \u0026amp; configure AWS CLI (Access Key, Secret Key, Default Region) + Execute AWS resource operations via CLI commands 11/05/2026 11/05/2026 https://000049.awsstudygroup.com https://000011.awsstudygroup.com 3 - Static Website Hosting with Amazon S3: + Buckets, Objects \u0026amp; Storage Classes (Standard, IA, Glacier, Deep Archive) + S3 Versioning, Object Locking \u0026amp; S3 Lifecycle automated storage tiering rules 12/05/2026 12/05/2026 https://000057.awsstudygroup.com 4 - S3 Security Best Practices: + Configure Bucket Policies, ACLs, Block Public Access settings + Data-at-rest encryption with SSE-S3 / SSE-KMS + Hands-on: Enable S3 Static Website Hosting and grant public read permissions 13/05/2026 13/05/2026 https://000069.awsstudygroup.com 5 - Content Delivery with Amazon CloudFront: + Content Delivery Network (CDN) concepts, Edge Locations, Distributions + Configure Origin Access Control (OAC) to secure S3 bucket behind CloudFront + Integrate SSL/TLS certificate via AWS Certificate Manager (ACM) 14/05/2026 14/05/2026 https://000094.awsstudygroup.com 6 - Edge Computing with CloudFront \u0026amp; Lambda@Edge: + Edge Computing concepts using CloudFront Functions \u0026amp; Lambda@Edge + Hands-on: Deploy CloudFront Distribution for S3 static website, test load latency, and configure OAC 15/05/2026 15/05/2026 https://000130.awsstudygroup.com Week 2 Achievements Proficient in AWS CLI operations and AWS Cloud9 cloud IDE setup. Optimized object storage management on Amazon S3 with cost-effective S3 Lifecycle automated tiering rules. Mastered S3 Bucket Security Policies and server-side data encryption best practices. Successfully deployed a production-grade static website with Amazon S3, secured via CloudFront OAC and accelerated globally via CloudFront CDN. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/3-blogsposted/3.2-blog2/","title":"Blog 2","tags":[],"description":"","content":"AWS Backup Adds Item-Level Recovery for Amazon EBS and Amazon S3: Restore Only the Files You Need Hello everyone!\nOne of the most common operational challenges when running cloud workloads is accidental data deletion. It could be a single configuration file, an application log, a PDF document, or a video file stored on Amazon EBS or Amazon S3. Previously, recovering just a single file was far from straightforward.\nWith traditional Amazon EBS Snapshots or backups managed by AWS Backup, administrators often had to restore the entire EBS volume, attach it to a temporary EC2 instance, mount the file system, and manually copy out the target file. This process was time-consuming, expensive, and wasted storage and compute resources.\nTo solve this problem, AWS introduced AWS Backup Search and Item-Level Recovery, allowing engineers to directly search for and restore individual files from Amazon EBS and Amazon S3 backups.\n1. WHAT IS ITEM-LEVEL RECOVERY \u0026amp; ITS REAL-WORLD USE CASES Item-Level Recovery (ILR) provides object-level and file-level granular restoration without requiring a full backup restore. If you only need to retrieve a single file, you no longer need to restore a multi-hundred GB or TB EBS volume.\nKey practical use cases include:\nRecover Accidentally Deleted Files: If a user or script accidentally deletes an application configuration file or key document on an EC2 volume, administrators can search for the exact file in AWS Backup and restore it within minutes. Audit \u0026amp; Forensic Investigations: Easily extract historical contract PDFs, financial Excel reports, security camera footage, or data export CSV files without mounting snapshots or restoring entire volumes. Drastically Reduce Recovery Time Objective (RTO): Cut production downtime from hours to minutes when recovering from file loss incidents. 2. HOW IT WORKS \u0026amp; ACTION ITEMS FOR DEVOPS / OPERATIONS To locate specific files without scanning entire snapshot blocks, AWS Backup indexes file metadata during the backup lifecycle.\nKey operational guidelines:\nEnable Backup Indexing: Enable metadata indexing when configuring Backup Plans or executing On-Demand Backups. Standardize Tagging: Maintain consistent tagging across EC2 Instances, EBS Volumes, and Backup Vaults for easy multi-workload management. Use AWS Backup Search: Query target files directly by file name, path, extension, date range, or metadata before executing Item-Level Restore. Optimize Operations \u0026amp; Defense: Combine appropriate Backup Plans, test restore procedures regularly, and enable AWS Backup Vault Lock to defend against ransomware. CONCLUSION AWS Backup Search and Item-Level Recovery represent a major enhancement for DevOps and Cloud Operations teams. Instead of restoring an entire snapshot to recover a single file, you can now search and retrieve exact data quickly, lowering operational costs and drastically improving RTO metrics.\nReference Source: AWS Storage Blog - Enable item-level search and recovery for Amazon EC2 with AWS Backup #AWS #AWSBackup #AmazonEBS #AmazonS3 #DisasterRecovery #DataProtection #DevOps #CloudComputing\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/5-workshop/5.2-prerequiste/","title":"Prerequisites","tags":[],"description":"","content":"Environment Prerequisites \u0026amp; Setup Before starting the hands-on deployment of the Smart Attendance SaaS Platform, ensure your local development environment or AWS Cloud9 workspace is configured with the necessary tools and credentials.\n1. Required Tooling Setup Verify that the following CLI tools are installed on your workstation:\nAWS CLI (v2.x): Command-line interface for communicating with AWS services. aws --version AWS SAM CLI: Tool for building, testing, and deploying Serverless applications. sam --version Node.js (v20.x+) \u0026amp; npm: JavaScript runtime for Lambda microservices \u0026amp; React SPA frontend. node -v npm -v Git: Source control management. git --version 2. Step-by-Step IAM User \u0026amp; Access Key Creation Following AWS security best practices, never use the AWS Root Account for hands-on labs. Create a dedicated IAM User with administrator permissions:\nStep 2.1: Create IAM User in AWS Console Log in to the AWS IAM Console. In the left navigation pane, select Users ➔ Click Create user. Specify user details: User name: WorkshopAdmin (or a custom name). Provide user access to the AWS Management Console: Optional if Web Console access is required. Click Next. Step 2.2: Attach Permissions Under Permissions options, select Attach policies directly. Search and select the managed policy: AdministratorAccess (Required for SAM CLI to provision CloudFormation stacks, IAM Roles, Lambda, DynamoDB, API Gateway, Cognito, S3, CloudFront, SQS, Step Functions, etc.). Click Next ➔ Review details ➔ Click Create user. Step 2.3: Generate Access Key ID \u0026amp; Secret Access Key Click on your newly created user (WorkshopAdmin) in the Users table. Select the Security credentials tab. Scroll down to the Access keys panel ➔ Click Create access key. Select the use case: Command Line Interface (CLI). Check the confirmation checkbox \u0026ldquo;I understand the above recommendation and want to proceed to create an access key.\u0026rdquo; ➔ Click Next. (Optional) Set a description tag (e.g., AWS CLI for Workshop) ➔ Click Create access key. CRITICAL: Download the .csv file containing the Access Key ID and Secret Access Key immediately. (You will not be able to view the Secret Access Key again after closing this window). 3. Configure AWS CLI Credentials Once your Access Keys are created, open your terminal and execute:\naws configure Enter your credentials generated in Step 2.3:\nAWS Access Key ID [None]: AKIAXXXXXXXXXXXXXXXX AWS Secret Access Key [None]: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY Default region name [None]: ap-southeast-1 Default output format [None]: json Verify successful connection:\naws sts get-caller-identity A JSON response displaying your UserId and Arn confirms your AWS CLI is successfully configured!\n4. Clone Project Source Repository Clone the project source repository into your working directory:\ncd ~/Documents/AWS git clone https://github.com/your-repo/smart-attendance-saas.git cd smart-attendance-saas Source project file structure:\nsmart-attendance-saas/ ├── backend/ # Serverless Backend Infrastructure (AWS SAM) │ ├── src/ # Lambda microservice handler functions │ ├── template.yaml # AWS SAM Infrastructure Template │ └── samconfig.toml # Deployment parameter configurations ├── frontend/ # React SPA Frontend (Vite + TailwindCSS) │ ├── src/ # Components and Dashboard pages │ └── package.json # Node dependencies └── platform_architecture.drawio # System architecture diagram You are now ready to proceed to the backend deployment module!\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/2-proposal/","title":"Proposal","tags":[],"description":"","content":"Smart Attendance SaaS Platform A Unified Multi-Tenant Timekeeping \u0026amp; Attendance Solution Built on End-to-End AWS Serverless Architecture 1. Executive Summary Smart Attendance SaaS Platform is a cloud-native attendance management and human resource tracking platform engineered for small and medium-sized enterprises (SMEs) as well as multi-branch corporations. The platform allows hundreds of business organizations (Tenants) to operate on a shared cloud infrastructure while maintaining strict Tenant Data Isolation, sub-200ms real-time response times, and automated elastic scaling during peak morning check-in windows.\nBy leveraging a 100% AWS Serverless ecosystem (including Amazon CloudFront, AWS WAF v2, AWS Shield, Amazon Cognito, Amazon API Gateway, AWS Lambda, AWS Step Functions, Amazon DynamoDB, Amazon S3, Amazon EventBridge, Amazon SQS, Amazon SES, AWS KMS, and AWS Secrets Manager), the platform eliminates server administration overhead, minimizes operational expenditure with a pay-as-you-go model (near $0 cost during idle hours), and guarantees high availability (99.99% SLA).\n2. Problem Statement What’s the Problem? Manual Timekeeping \u0026amp; Peak Traffic Bottlenecks: Traditional companies rely on physical fingerprint/card readers or manual spreadsheet logs. During rush hours (e.g., 7:45 AM - 8:15 AM), thousands of employees check in simultaneously, creating severe API bottlenecks, latency spikes, and system crashes. High Infrastructure \u0026amp; Maintenance Costs: Deploying timekeeping applications on legacy server models (EC2 / RDS / On-Premises) requires high upfront capital expenditure and ongoing 24/7 server maintenance costs—even during non-working hours when system usage drops to zero. Multi-Tenancy Security \u0026amp; Data Leakage Risks: Multi-tenant SaaS products face critical security risks regarding cross-tenant data leaks if data partition key isolation and strict token authorization mechanisms are not properly enforced at the database and API ingress levels. Lack of Automated Reporting \u0026amp; Alerting: Compiling monthly attendance summary sheets manually is time-consuming and prone to human errors, lacking automated integration with email delivery services and third-party webhooks. The Proposed Solution The Smart Attendance SaaS Platform addresses these challenges using an AWS Serverless Optimized Pro Architecture:\nEdge \u0026amp; API Protection Layer: Uses Amazon CloudFront coupled with AWS WAF v2 and AWS Shield to deliver the React SPA frontend, block unauthorized requests, rate-limit DDoS/Botnet attacks, and secure API origin requests via a custom verification token (x-origin-verify). Multi-tenant Identity Management: Amazon Cognito User Pool manages authentication with built-in Custom Attributes (tenantId, role, userId), multi-factor authentication (TOTP MFA), and Advanced Security Mode. High-Performance Compute \u0026amp; Microservices: Stateless AWS Lambda functions (Auth, Check-in, Check-out, Attendance History, Admin Management, Export Report API, Webhook, Subscriptions) scale automatically to handle peak traffic effortlessly. Single-Table Design Database: Amazon DynamoDB stores all entity types (Attendance, Users, Tenants) in a single table (Single-Table Design) with TENANT#\u0026lt;tenantId\u0026gt; Partition Key isolation, ensuring sub-10ms query latency and ironclad tenant isolation. Asynchronous Reporting Engine: Combines AWS Step Functions Express Workflow and Amazon SQS to decouple heavy report generation tasks (PDF/Excel/CSV), storing generated reports in Amazon S3 (Intelligent-Tiering) and emailing secure download links via Amazon SES. Benefits and Return on Investment (ROI) Over 90% Infrastructure Cost Savings: The serverless pay-as-you-go model ensures costs scale directly with actual requests. Baseline monthly infrastructure costs for 100 Tenants (5,000 active employees) come out to ~$9.93 USD/month, offering massive savings compared to $120–$150 USD/month for traditional EC2/RDS setups. Elastic Scalability: Smoothly scales from tens to hundreds of thousands of concurrent clock-in requests per minute during morning peaks without manual provisioning. Time Savings \u0026amp; Fast ROI: Reduces HR monthly attendance processing time by 95%. SaaS vendors achieve full investment recovery within 2-3 months of commercial operation. 3. Solution Architecture The platform implements a comprehensive AWS Serverless Multi-Layered Architecture:\nAWS Services Used Architectural Layer AWS Service Core Role \u0026amp; Responsibilities Global Edge Layer Amazon Route 53 Global DNS resolution and domain routing. AWS WAF v2 Protects Web \u0026amp; APIs against DDoS, enforces Rate Limiting (1000 req/IP), blocks Bots \u0026amp; OWASP Top 10. AWS Shield Managed Layer 3/4 DDoS protection. Amazon CloudFront Global CDN delivering React SPA assets and serving as an encrypted proxy to API Gateway with Custom Header Verification. Auth \u0026amp; Ingress Layer Amazon Cognito Identity provider, issues JWTs with embedded claims {tenantId, role, userId}, enforces TOTP MFA. Amazon API Gateway HTTP API v2 with Cognito JWT Authorizer and custom header verification from CloudFront ingress. AWS Secrets Manager Stores and auto-rotates Webhook API Keys \u0026amp; credentials for external integrations. Compute Layer AWS Lambda Executes microservice functions (Auth, Check-in/out, History, Admin, Export Report API, Billing, Webhook). AWS Step Functions Orchestrates complex multi-step Express Workflows for batch report generation. Data \u0026amp; Storage Layer Amazon DynamoDB NoSQL Single-Table Design with KMS CMK encryption and DynamoDB Streams (CDC enabled). Amazon S3 Hosts React SPA frontend and stores generated report files (PDF/Excel/CSV) with Intelligent-Tiering and Force SSL policy. Event \u0026amp; Messaging Amazon EventBridge EventBus \u0026amp; EventBridge Pipe routing CDC events from DynamoDB Streams (AttendanceCreated, ReportGenerated). Amazon SQS Buffers email notifications \u0026amp; alerts with Dead Letter Queue (DLQ) guarantee against message loss. Amazon SES Delivers automated transactional emails containing reports, check-in alerts, and invoices. Operations \u0026amp; Security AWS KMS Customer Managed Keys (CMK) data-at-rest encryption across DynamoDB, S3, and SQS. Amazon CloudWatch Centralized logs, metrics, dashboards, and automated alarm notifications for API/Lambda runtime errors. AWS X-Ray End-to-end distributed tracing for monitoring system performance and latency. AWS Security Hub \u0026amp; Inspector Security posture management, vulnerability assessment, and GuardDuty threat detection. CodePipeline \u0026amp; CodeBuild CI/CD pipeline automating testing, artifact building, and deployment via AWS SAM/CloudFormation. Process Flow \u0026amp; Data Architecture (16-Step Process Flow) Based on the architecture diagram (platform_architecture.drawio), the system operates through a 16-step end-to-end flow:\nDNS Resolution (1): Client sends DNS request via Amazon Route 53. HTTPS Ingress (2): HTTPS request hits Amazon CloudFront, protected by AWS WAF v2 \u0026amp; AWS Shield. Static Content (3): Web App (React SPA) assets are delivered directly from Amazon S3 via CloudFront CDN. Authentication (4): Web/Mobile app authenticates with Amazon Cognito, receiving a JWT token containing {tenantId, role, userId} context. API Proxy Path (4a \u0026amp; 5): API calls carrying the JWT token and x-origin-verify custom header pass through CloudFront to API Gateway. API Gateway Execution (6): API Gateway validates JWT \u0026amp; custom headers, triggering the targeted AWS Lambda microservice (Check-in, Check-out, History). Async Report Request (7): When an admin requests a large monthly report, the request is offloaded to an Amazon SQS Queue, returning an instant UI response. CDC Capture (8a \u0026amp; 8b): DynamoDB Streams captures Change Data Capture (CDC) events and streams via EventBridge Pipe to Amazon EventBridge. Workflow Execution (9): AWS Step Functions Engine consumes SQS tasks and coordinates Lambda functions to assemble report files. Transactional Data Ops (10): Lambda performs CRUD operations on Amazon DynamoDB using Single-Table Design with TENANT#\u0026lt;tenantId\u0026gt; partition key isolation. Report Storage (11): PDF/Excel/CSV files are written to an Amazon S3 Bucket configured with S3 Intelligent-Tiering for cost lifecycle management. Notification Events (12 \u0026amp; 13): EventBridge routes notification triggers to the SQS Email Queue, where the Lambda Email Worker processes messages in batches. Secured Email Delivery (14): Lambda Email Worker invokes Amazon SES to send emails containing secure report download links. Outbound Webhooks (15): Lambda Webhook dispatches real-time attendance alerts to third-party endpoints (Slack, Teams, HR systems). B2B Billing Integration (16 \u0026amp; 16a): Lambda Subscription interacts with Payment Gateways. Successful payment webhooks (16a) hit API Gateway to update tenant status automatically. 4. Technical Implementation Implementation Phases The project is structured into 4 standardized delivery phases:\nPhase 1: Architecture \u0026amp; Data Model Design (Weeks 1–2) Design Single-Table Design schema on DynamoDB (Access Patterns: Employee Check-in, Check-out, Monthly Summary, Tenant Admin Queries). Configure Cognito User Pool, Custom Attributes (tenantId, role), and Security Policies. Map end-to-end security ingress across CloudFront + WAF v2 + API Gateway. Phase 2: Core Serverless Backend with AWS SAM (Weeks 3–5) Package infrastructure as code (IaC) using AWS SAM / CloudFormation (template.yaml). Develop Lambda microservices (Node.js 20) for Auth, Check-in/out, History, Admin, Report Export API, and Webhooks. Set up EventBridge Pipe, SQS Queue, SQS Email DLQ, and Step Functions Express Workflows. Phase 3: Frontend React SPA \u0026amp; CloudFront Integration (Weeks 6–7) Build Admin Dashboard and Employee Web App using React + Vite + TailwindCSS. Integrate Cognito JS SDK for sign-in/registration, token refresh, and role-based access control (RBAC). Bundle static site assets and deploy to S3 Bucket + CloudFront Distribution with Secret Origin Verification Header. Phase 4: Testing, Security Audit, CI/CD \u0026amp; Go-Live (Week 8) Establish CI/CD pipelines via AWS CodePipeline and AWS CodeBuild (vulnerability scanning with Amazon Inspector). Perform load testing simulating 10,000 concurrent check-in requests in 1 minute. Audit security posture using AWS Security Hub, enabling distributed tracing via AWS X-Ray \u0026amp; CloudWatch Alarms. Technical Stack \u0026amp; Requirements Frontend: React.js, Vite, TailwindCSS, AWS Amplify/Cognito JS SDK. Backend: Node.js 20.x (AWS Lambda Runtime), AWS SAM (Serverless Application Model), AWS SDK v3. Database: Amazon DynamoDB (Single-Table Design, On-Demand Capacity Mode, DynamoDB Streams). Storage \u0026amp; CDN: Amazon S3 (Static Web \u0026amp; Report Storage), Amazon CloudFront (Edge Network, TLS 1.3). Security \u0026amp; Auth: Amazon Cognito, AWS WAF v2, AWS KMS (CMK), AWS Secrets Manager. Orchestration \u0026amp; Events: AWS Step Functions, Amazon EventBridge, Amazon SQS. 5. Roadmap \u0026amp; Milestones +-----------------------------------------------------------------------------------+ | Month 1: Planning \u0026amp; Design | Month 2: Backend \u0026amp; Data Implementation | | - Requirements \u0026amp; Data Schema | - Build AWS SAM Infrastructure Template | | - OpenAPI \u0026amp; Cognito Setup | - Develop Lambda Microservices \u0026amp; DynamoDB Table | +---------------------------------+-------------------------------------------------+ | Month 3: Frontend Integration | Month 4: Testing, Security \u0026amp; Production Go-Live | | - Develop React Dashboard UI | - High-load testing, Audit AWS Security Hub | | - Connect API Gateway \u0026amp; SES | - Setup CodePipeline CI/CD \u0026amp; Production Deploy | +-----------------------------------------------------------------------------------+ Milestone 1 (End of Month 1): Architecture blueprint finalized, SAM template scaffolding complete, Cognito User Pool deployed. Milestone 2 (End of Month 2): Core Backend APIs complete (Check-in/out, History, Reports, Webhooks) with DynamoDB Single-Table. Milestone 3 (End of Month 3): Web Dashboard for Admin/HR and Employee App fully integrated. Milestone 4 (End of Month 4): Full system launched on AWS Cloud Production environment. 6. Detailed Cost Analysis \u0026amp; ROI (Strictly Mapped to 24 Diagram Resource Nodes) Based on an exact node-by-node inventory of 24 resource instances across 22 AWS services present on the platform_architecture.drawio architecture blueprint, below is the itemized monthly operational cost breakdown:\nItemized Monthly Operational Cost Table (Standard Scale: 100 Tenants ~ 5,000 Staff, 3M Requests/Month) Item AWS Service Node on Diagram Node Count Usage Metrics \u0026amp; Unit Pricing (Monthly) Cost (USD/Month) 1 Amazon Route 53 1 Node 1 Hosted Zone ($0.50) + 3.0M DNS Queries ($1.20) $1.70 2 AWS WAF v2 1 Node 1 Web ACL ($5.00) + 1 Managed Rule ($1.00) + 3M Req ($1.80) $7.80 3 AWS Shield 1 Node Layer 3/4 DDoS Protection (Included Free with CloudFront) $0.00 4 Amazon CloudFront 1 Node 50GB Data Transfer Out + 3M HTTPS Req (1TB Free Tier) $0.00 5 Amazon S3 (SPA Hosting) 1 Node 1GB React Static Assets + 100k GET Requests $0.06 6 Amazon Cognito 1 Node 5,000 MAUs User Auth (Free Tier covers up to 50,000 MAUs) $0.00 7 Amazon API Gateway 1 Node HTTP API v2: 3,000,000 Requests ($1.00 / 1M Requests) $3.00 8 AWS Secrets Manager 1 Node 1 Secret Key ($0.40) + API Calls ($0.50) $0.90 9 AWS Lambda (8 Functions) 8 Nodes Webhook, Check-in, Check-out, Attendance, Report, Admin, Subscription, Email Worker (3M invocations, avg 100ms) $0.63 10 AWS Step Functions Engine 1 Node 10,000 Express Workflow Executions ($1.00 / 1M Executions) $0.02 11 Amazon SQS (Report Queue) 1 Node 20,000 Report Queue Messages (Covered under 1M SQS Free Tier) $0.00 12 Amazon SQS (Email Queue) 1 Node 20,000 Email Queue Messages (Covered under 1M SQS Free Tier) $0.00 13 Amazon DynamoDB 1 Node Single-Table: 3M Writes ($3.75) + 6M Reads ($1.50) + 5GB ($1.25) $6.50 14 DynamoDB Streams 1 Node CDC Event Streams (First 2.5M stream requests free) $0.00 15 AWS KMS CMK 1 Node 1 Customer Managed Key ($1.00) + Request Encryption ($0.09) $1.09 16 Amazon S3 (Report Storage) 1 Node 10GB Reports (Intelligent-Tiering Lifecycle) + PUT/GET $0.28 17 Amazon EventBridge 1 Node EventBus: 1,000,000 Events routed ($1.00 / 1M Events) $1.00 18 Amazon SES 1 Node 10,000 Transactional \u0026amp; Report Emails ($0.10 / 1,000 Emails) $1.00 19 Amazon CloudWatch 1 Node Logs Ingestion 2GB ($1.00) + Basic Metrics \u0026amp; Alarms ($0.50) $1.50 20 AWS X-Ray 1 Node 1,000,000 Distributed Traces Sampled ($5.00 / 1M Traces) $4.50 21 AWS CloudFormation 1 Node Infrastructure as Code Resource Management (Free Service) $0.00 22 AWS CodePipeline 1 Node 1 Active CI/CD Pipeline $1.00 23 AWS CodeBuild (Inspector) 1 Node 100 Build Minutes ($0.50) + Container Vulnerability Scan ($0.50) $1.00 24 AWS Security Hub \u0026amp; GuardDuty 1 Node Infrastructure Posture \u0026amp; Threat Detection Alerts $1.50 TOTAL INFRASTRUCTURE COST 24 Nodes All 24 Diagram Service Nodes Included (Full Security \u0026amp; Tracing) ~$35.51 USD/month [!NOTE] Bootstrapping Optimization (Basic Profile): Disabling managed WAF rules and X-Ray sampling during early startup reduces baseline monthly infrastructure expenses down to ~$23.21 USD/month.\nMulti-Tier Scalability Comparison +---------------------------------------------------------------------------------------------------+ | Growth Scale | Usage Metrics | Serverless Cost | Legacy EC2/RDS | +----------------------------+----------------------------------+--------------------+----------------+ | Starter (10 Tenants) | 500 Staff · 300K Requests/month | ~$4.20 USD/month | ~$85.00 USD | | Standard (100 Tenants) | 5,000 Staff · 3M Requests/month | ~$35.51 USD/month | ~$165.00 USD | | Enterprise (1,000 Tenants) | 50,000 Staff · 30M Requests/month| ~$156.80 USD/month | ~$650.00 USD | +---------------------------------------------------------------------------------------------------+ [!TIP] Return on Investment (ROI):\n78% to 95% Monthly Cost Reduction compared to maintaining 24/7 dedicated EC2 application servers and RDS database instances. Zero Idle Cost: During non-business hours (nights and weekends), compute and API expenses naturally scale down to $0 USD. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/4-eventparticipated/4.3-event3/","title":"Event 3","tags":[],"description":"","content":"Summary Report: FCAJ Community Day Event Objectives Understand the transition and strategic journey of FCAJ becoming an AWS Partner. Learn the career path, essential skills, and steps to become a Data Analyst. Explore the organizational culture and communication patterns in a professional business environment. Discover the roadmap, tools, and mindset required to become a DevOps Engineer. Key Highlights Strategic vision shared by industry leaders on the partnership between FCAJ and AWS. Comprehensive guide to mastering data tools, analytics, and business intelligence for aspiring Data Analysts. Practical workshop on workplace culture, collaboration, and professional ethics. Real-world DevOps transition stories and core infrastructure automation practices. Session 1: FCAJ to AWS partner Topics Covered The vision and roadmap for FCAJ to transition into an AWS Partner. Benefits of the partnership for the community, students, and businesses. Requirements, certifications, and competencies needed to achieve partner status. Collaboration opportunities and upcoming initiatives under the AWS Partner Network (APN). Key Takeaways The AWS partnership enhances FCAJ\u0026rsquo;s credibility and access to advanced cloud resources. Community members gain access to specialized training and joint programs. Developing AWS certified talents is crucial for achieving and maintaining partnership status. Session 2: How to become Data Analysis Topics Covered The role of a Data Analyst in modern data-driven enterprises. Core technical skills: SQL, Python, Excel, and BI tools (PowerBI, Tableau, QuickSight). Critical soft skills: business domain understanding and data storytelling. Building a portfolio with real-world datasets and showcase projects. Key Takeaways Data analytics is not just about technical tools, but about generating actionable business insights. Strong fundamentals in SQL and data modeling are essential. Communication and storytelling are key to bridging the gap between data and business decisions. Session 3: Culture in business Topics Covered Defining organizational culture and its impact on personal growth. Effective communication patterns in professional environments. Collaboration dynamics, accountability, and professional ethics. Navigating conflicts and feedback loops in corporate settings. Key Takeaways Company culture is a critical driver for team alignment and productivity. Open, honest, and prompt communication is the key to successful collaboration. Receiving constructive feedback gracefully is essential for career development. Session 4: How to become DevOps Topics Covered The DevOps philosophy: breaking silos between development and operations. Core skills: CI/CD pipelines, Infrastructure as Code (IaC), monitoring, and cloud services. Transitioning from software engineering or system administration to DevOps. Key automation tools: GitHub Actions, Terraform, AWS CloudFormation, and Docker. Key Takeaways DevOps is a cultural mindset of automation, continuous improvement, and shared responsibility. Mastery of version control, CI/CD, and IaC is mandatory. Automating repetitive tasks reduces errors and speeds up software delivery cycles. Event Experience \u0026amp; Learnings The FCAJ Community Day provided rich insights into corporate alignment, career preparation, and specialized technical fields like Data Analysis and DevOps.\nKey Learnings Partnership Growth: The FCAJ to AWS Partner roadmap shows the strategic direction of the community. Career Pathways: Gained clear, actionable roadmaps for pursuing specialized tracks like Data Analysis and DevOps. Cultural Fit: Learned the importance of adapting to and building positive organizational cultures. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.3-week3/","title":"Week 3 Worklog","tags":[],"description":"","content":"Week 3 Objectives Master Amazon RDS (Relational Database Service) fundamentals and supported engines (MySQL, PostgreSQL, Aurora). Learn High Availability design with Multi-AZ Deployment and read scaling with Read Replicas. Explore NoSQL databases with Amazon DynamoDB (Tables, Primary Key, Sort Key, Indexing) and In-Memory Caching with Amazon ElastiCache. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Database Essentials with Amazon RDS: + Database Engines (MySQL, PostgreSQL, Aurora) + Instance Classes, Storage Types (gp3, io2) \u0026amp; Subnet Groups + Automated Backups, Snapshots \u0026amp; Parameter Groups 18/05/2026 18/05/2026 https://000005.awsstudygroup.com 3 - RDS High Availability \u0026amp; Scaling: + Multi-AZ deployment (Synchronous replication \u0026amp; Automatic Failover) + Read Replicas (Asynchronous replication for read scaling) + Hands-on: Launch Amazon RDS MySQL Multi-AZ in Private Subnets with restricted Security Groups 19/05/2026 19/05/2026 https://000005.awsstudygroup.com 4 - NoSQL Database Essentials with Amazon DynamoDB: + Partition Key, Sort Key \u0026amp; Composite Primary Key + Read/Write Capacity Modes (On-Demand vs Provisioned) + Local Secondary Indexes (LSI) \u0026amp; Global Secondary Indexes (GSI) 20/05/2026 20/05/2026 https://000060.awsstudygroup.com 5 - In-Memory Caching with Amazon ElastiCache: + In-Memory Caching overview (Redis vs Memcached) + Cache-Aside and Write-Through caching strategies + Hands-on: Create DynamoDB tables and execute CRUD operations using AWS CLI/SDK 21/05/2026 21/05/2026 https://000061.awsstudygroup.com https://000060.awsstudygroup.com 6 - Database Migration Overview (AWS DMS \u0026amp; SCT): + Database migration using AWS Schema Conversion Tool (SCT) and AWS Database Migration Service (DMS) + Database selection criteria: Relational (RDS) vs NoSQL (DynamoDB) vs Cache (ElastiCache) 22/05/2026 22/05/2026 https://000043.awsstudygroup.com Week 3 Achievements Mastered provisioning, securing, and connecting Amazon RDS instances inside Private Subnets. Understood automated backup mechanisms and Multi-AZ High Availability failover capabilities. Mastered NoSQL data modeling, secondary indexing (GSI/LSI), and data querying on Amazon DynamoDB. Evaluated and implemented In-Memory Caching to accelerate database response times. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/3-blogsposted/3.3-blog3/","title":"Blog 3","tags":[],"description":"","content":"Optimizing Amazon EBS Costs: Why You Should Migrate from gp2 to gp3 Hello everyone!\nAmazon EBS (Elastic Block Store) is the primary block storage service used alongside Amazon EC2 instances for production cloud workloads. Over the years, many organizations have continued running large numbers of legacy gp2 (General Purpose SSD) volumes simply because it was previously the default choice on AWS.\nHowever, since the launch of gp3, AWS has strongly recommended migrating to this next-generation storage type. Not only does gp3 cost significantly less, but it also delivers baseline performance guarantees and independent scalability. According to the AWS Cost Optimization Hub, migrating from gp2 to gp3 can save organizations up to 20% on EBS storage costs while boosting performance with zero application changes or downtime.\n1. ARCHITECTURE \u0026amp; PERFORMANCE COMPARISON: gp2 VS gp3 The core distinction between the two volume types lies in how performance is provisioned:\ngp2 (Performance Tied to Volume Size): Baseline performance is strictly bound to storage capacity (3 IOPS/GB). If your application requires higher IOPS, you are forced to over-provision volume capacity (e.g., provisioning 1,000 GB just to achieve 3,000 IOPS), incurring unnecessary storage costs. gp3 (Decoupled Capacity \u0026amp; Performance): Storage capacity, IOPS, and throughput can be configured independently. Every gp3 volume provides a free baseline of 3,000 IOPS and 125 MB/s Throughput regardless of size. When higher performance is required, IOPS or throughput can be scaled independently without expanding volume size. Quick Feature Comparison Storage Pricing: gp3 is up to 20% cheaper per GB/month across all AWS Regions. Default Baseline IOPS: gp2 yields 3 IOPS/GB (max 16,000 IOPS), whereas gp3 provides a fixed 3,000 IOPS baseline (scalable up to 16,000 IOPS). Default Throughput: gp2 ranges from 128 MB/s to 250 MB/s based on size, while gp3 provides a fixed 125 MB/s baseline (scalable up to 1,000 MB/s). Scaling Flexibility: gp2 requires purchasing more storage GB to scale performance, while gp3 allows scaling GB, IOPS, and Throughput independently. 2. CORE BENEFITS \u0026amp; PRIORITY WORKLOADS Immediate FinOps Savings: gp3 storage is 20% cheaper per GB/month. Across fleets running hundreds or thousands of volumes, this migration delivers substantial recurring monthly savings. Zero-Downtime Live Migration: Thanks to Amazon EBS Elastic Volumes, modifying a volume from gp2 to gp3 is an online operation. EC2 instances remain active with zero reboot, data migration, or application impact. Recommended Priority Workloads for Migration Web Applications \u0026amp; API Gateways Small-to-Medium Databases (MySQL, PostgreSQL, MongoDB, SQL Server) Bastion Hosts \u0026amp; Monitoring Servers (Prometheus, Zabbix) CI/CD Worker Nodes (Jenkins, GitLab Runners) File Servers \u0026amp; Storage Nodes 3. AUDIT, AUTOMATION \u0026amp; MONITORING WORKFLOW FOR DEVOPS To safely execute fleet-wide migrations, DevOps teams should follow this 3-step workflow:\nStep 1: Audit Legacy gp2 Volumes\nUse AWS Cost Optimization Hub, AWS Cost Explorer, or AWS CLI scripts to identify candidate gp2 volumes and calculate projected savings.\nStep 2: Automate Migration (IaC \u0026amp; Automation)\nRather than manually updating volumes via the console, leverage AWS Systems Manager (SSM) Automation or Lambda scripts calling the ModifyVolume API. For Infrastructure as Code (Terraform / CloudFormation / AWS CDK), update the resource property volume_type = \u0026quot;gp3\u0026quot; in source repositories to prevent IaC drifts.\nStep 3: Monitor Post-Migration CloudWatch Metrics\nAfter migration, track key Amazon CloudWatch metrics for 7–14 days:\nVolumeReadOps \u0026amp; VolumeWriteOps: Calculate actual IOPS utilization. VolumeThroughputPercentage: Monitor bandwidth utilization. VolumeConsumedReadWriteOps: Ensure workloads do not experience IOPS throttling beyond the 3,000 baseline. Scale IOPS independently if required. CONCLUSION Migrating from gp2 to gp3 is one of the highest ROI quick-win cost optimization actions on AWS. Organizations immediately cut storage expenses by 20% while gaining independent performance scaling with zero operational downtime. If your cloud infrastructure still runs legacy gp2 volumes, now is the ideal time to automate this upgrade.\nReference Source: AWS Storage Blog - Migrate your Amazon EBS volumes from gp2 to gp3 and save up to 20% on costs #AWS #AmazonEBS #AWSStorage #CostOptimization #FinOps #AmazonEC2 #CloudComputing #DevOps\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/5-workshop/5.3-deploy-backend/","title":"Deploy Serverless Backend","tags":[],"description":"","content":"Deploy Serverless Backend Infrastructure with AWS SAM \u0026amp; Cognito In this module, you will package and deploy the complete Serverless Backend infrastructure using AWS SAM (Serverless Application Model), including Amazon Cognito User Pool, HTTP API Gateway v2, AWS Lambda microservices, Amazon DynamoDB Single-Table, and AWS KMS Keys.\n1. Inspect Infrastructure Code (template.yaml) The template.yaml file specifies all cloud resources declaratively. Key components include:\nCognito User Pool (CognitoUserPool): Manages user registration, authentication, and JWT issuing. Defines custom schema attributes tenantId and role to support multi-tenancy. HTTP API Gateway (AttendanceApi): Configures CognitoAuthorizer using OAuth2/JWT standard pointing to the Cognito User Pool issuer URL. KMS Key (DataKMSKey): Customer Managed Key (CMK) for data-at-rest encryption across DynamoDB and S3 buckets. DynamoDB Table (SaaSAttendanceTable): Single-Table Design schema with PK partition key and SK sort key, On-Demand billing, and DynamoDB Streams enabled. Lambda Microservices: AuthFunction: Handles login, registration, and token exchange (/auth/*). CheckInFunction: Records employee clock-in events (/attendance/check-in). CheckOutFunction: Records employee clock-out events (/attendance/check-out). AttendanceHistoryFunction: Queries attendance logs (/attendance/history). AdminFunction: Handles admin management and company metrics (/admin/*). ReportFunction: Handles async report creation requests. WebhookFunction: Processes external payment webhooks and system alerts. 2. Build Infrastructure Artifacts (sam build) Navigate to the backend/ directory and execute the build command:\ncd backend sam build Expected build confirmation:\nBuild Succeeded Built Artifacts : .aws-sam/build Valid Templates : .aws-sam/build/template.yaml 3. Deploy Cloud Infrastructure (sam deploy) Execute the guided deployment command:\nsam deploy --guided Provide the deployment parameters when prompted:\nConfiguring SAM deploy ====================== Stack Name [sam-app]: smart-attendance-backend AWS Region [us-east-1]: us-east-1 Parameter AllowedOrigin [https://your-cloudfront-domain.cloudfront.net]: https://localhost:3000 Parameter OriginVerifySecret [SaaS-Secure-Verification-Token-2026]: SaaS-Secure-Verification-Token-2026 Confirm changes before deploy [Y/n]: n Allow SAM CLI IAM role creation [Y/n]: Y Disable rollback [y/N]: N Save arguments to configuration file [Y/n]: Y SAM configuration file [samconfig.toml]: samconfig.toml SAM configuration environment [default]: default CloudFormation stack creation takes approximately 2–3 minutes.\n[!TIP] Troubleshooting Error: S3 Bucket does not exist:\nThis error occurs when the SAM CLI managed CloudFormation stack (aws-sam-cli-managed-default) still exists while its underlying S3 bucket was deleted manually. Delete the stale managed stack with:\naws cloudformation delete-stack --stack-name aws-sam-cli-managed-default --region ap-southeast-1 Then re-run sam deploy --guided to let SAM CLI create a clean, brand-new S3 Deployment Bucket.\n4. Capture Stack Outputs Upon successful deployment, SAM CLI displays the stack Outputs:\nKey AttendanceApiUrl Description API Endpoint URL Value https://xxxxxxx.execute-api.us-east-1.amazonaws.com/prod Key CognitoUserPoolId Description Cognito User Pool ID Value us-east-1_xxxxxxxxx Key CognitoUserPoolClientId Description Cognito App Client ID Value xxxxxxxxxxxxxxxxxxxxxxxxxx [!IMPORTANT] Save the AttendanceApiUrl, CognitoUserPoolId, and CognitoUserPoolClientId values. You will need them to configure the React SPA frontend in subsequent modules!\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/3-blogsposted/","title":"Posted Technical Blogs","tags":[],"description":"","content":"Blog 1 - AWS SECURITY \u0026amp; S3 – Amazon S3 Disabling SSE-C by Default Starting April 2026 Analysis of the official AWS update regarding S3 disabling SSE-C encryption by default starting April 2026, including impact assessment and actionable steps for Developers and DevOps to migrate toward SSE-KMS.\nBlog 2 - AWS BACKUP – AWS Backup Adds Item-Level Recovery for Amazon EBS and Amazon S3 Deep dive into AWS Backup Search \u0026amp; Item-Level Recovery, enabling granular restoration of specific deleted files from EBS \u0026amp; S3 backups without restoring full volumes, cutting operational costs and reducing RTO.\nBlog 3 - AWS COST OPTIMIZATION – Optimizing Amazon EBS Costs: Why You Should Migrate from gp2 to gp3 Technical breakdown of migrating EBS volumes from gp2 to gp3 for immediate 20% cost savings, comparing decoupled IOPS/throughput architecture and providing a zero-downtime automation workflow for DevOps.\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/4-eventparticipated/4.4-event4/","title":"Event 4","tags":[],"description":"","content":"Summary Report: FCAJ Community Day Event Objectives Explore autonomous resolution and incident response with Deep Response Engine. Learn architectural design patterns for building human-like AI Voice Agents using Amazon Nova Sonic. Discover AWS DevOps Agent and its multi-agent reasoning capabilities to reduce MTTD/MTTR. Understand AI-powered workforce planning and HR transformation using Amazon Quick. Master building secure private Model Context Protocol (MCP) connections with Amazon Quick. Key Highlights Autonomous incident handling shifting from alert-driven to action-driven systems. Low-latency, speech-to-speech AI voice interactions with Amazon Nova Sonic \u0026amp; Bedrock. Multi-agent reasoning for automated infrastructure operations across hybrid \u0026amp; multi-cloud environments. Strategic workforce planning and HR operational acceleration with Amazon Quick. Step-by-step setup of VPC private connectivity for secure enterprise MCP integrations. Session 1: Deep Response Engine: From Detection to Autonomous Resolution Time: 09:00 - 09:25 AM\nTopics Covered The complexity wall in modern cloud operations Shift from alert-driven to action-driven systems Deep Response Engine architecture overview Live demo of autonomous incident response Business impact: cost reduction and zero-downtime operations Session 2: Voice Agents: Building Human-Like AI Conversations at Scale Time: 09:25 - 09:55 AM\nTopics Covered Evolution from IVR and chatbots to AI voice agents Key challenges: latency, accuracy, and natural interaction Amazon Nova Sonic and speech-to-speech foundation model Architecture: telephony, streaming, Bedrock, MCP tools Enterprise use cases, best practices, and live demo Session 3: AWS DevOps Agent: Your Always-Available Operations Teammate Time: 09:55 - 10:20 AM\nTopics Covered Overview of AWS DevOps Agent Reducing MTTD and MTTR with AI-driven operations Supporting multi-cloud and hybrid environments Bedrock AgentCore and multi-agent reasoning approach Real-world use cases and ECS demo walkthrough Session 4: AI-Powered Productivity: Workforce Planning For Enterprise Time: 10:20 - 10:45 AM\nTopics Covered HR transformation challenges in modern enterprises Overview of Amazon Quick and its HR capabilities Accelerating HR operations with automation Workforce analytics and data-driven insights Strategic workforce planning for enterprise decision-making Session 5: Building Secure Private MCP Connection with Amazon Quick Time: 10:45 - 11:30 AM\nTopics Covered Introduction to Amazon Quick as an AI assistant platform MCP (Model Context Protocol) and its role in extensibility Security challenges in MCP-based integrations Configuring Amazon Quick VPC private connectivity platform_architecture and real-world implementation insights Event Experience \u0026amp; Learnings The FCAJ Community Day provided deep technical insights into autonomous incident management, real-time speech-to-speech voice agents, AI-driven DevOps operations, and enterprise MCP security.\nKey Takeaways Action-Driven Operations: Moving beyond static alerts to autonomous resolution drastically lowers MTTR and operational overhead. Next-Gen Voice Agents: Amazon Nova Sonic enables natural, low-latency conversational AI streaming across enterprise telephony. Enterprise AI \u0026amp; Security: Amazon Quick combined with private MCP over VPC unlocks powerful HR analytics and extensible AI assistants without compromising corporate security. Event Photos "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.4-week4/","title":"Week 4 Worklog","tags":[],"description":"","content":"Week 4 Objectives Understand AWS Monitoring, Logging, and Observability core principles. Master Amazon CloudWatch (Metrics, Custom CloudWatch Agent, Dashboards, Alarms \u0026amp; Logs Insights). Monitor network traffic using VPC Flow Logs and explore CloudWatch integration with Amazon Managed Grafana. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Monitoring with Amazon CloudWatch: + System metrics vs Custom metrics + Install CloudWatch Agent on EC2 to collect Memory \u0026amp; Disk utilization + Build CloudWatch Dashboards for infrastructure visualization 25/05/2026 25/05/2026 https://000008.awsstudygroup.com 3 - CloudWatch Logs \u0026amp; SNS Alarms: + Log Groups, Log Streams \u0026amp; Retention Policies + CloudWatch Alarms (Static Threshold \u0026amp; Anomaly Detection) + Integrate CloudWatch Alarms with Amazon SNS for automated email notifications 26/05/2026 26/05/2026 https://000008.awsstudygroup.com https://000077.awsstudygroup.com 4 - Network Monitoring with VPC Flow Logs: + Configure VPC Flow Logs to capture ACCEPT and REJECT IP traffic + Deliver Flow Logs to CloudWatch Logs \u0026amp; Amazon S3 + Hands-on: Analyze Security Group / NACL connectivity issues via VPC Flow Logs 27/05/2026 27/05/2026 https://000074.awsstudygroup.com 5 - CloudWatch Logs Insights \u0026amp; Observability: + Write CloudWatch Logs Insights query syntax (filter, fields, stats, sort) + Integrate CloudWatch data source with Amazon Managed Grafana for advanced dashboards 28/05/2026 28/05/2026 https://000036.awsstudygroup.com https://000029.awsstudygroup.com 6 - Cost \u0026amp; Resource Optimization: + Analyze resource expenditure trends using AWS Cost \u0026amp; Usage Management + Hands-on: Query application logs with Logs Insights and set up automated incident response workflows 29/05/2026 29/05/2026 https://000064.awsstudygroup.com https://000029.awsstudygroup.com Week 4 Achievements Installed and configured CloudWatch Agent to collect custom EC2 metrics (RAM/Disk). Constructed professional visual monitoring dashboards for core infrastructure. Captured and analyzed real network traffic with VPC Flow Logs to detect anomalous traffic. Mastered CloudWatch Logs Insights query syntax to accelerate root-cause diagnostic workflows. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/4-eventparticipated/","title":"Events Participated","tags":[],"description":"","content":"Event 1 Event Name: FCAJ Community Day\nDate \u0026amp; Time: 09:00, May 09, 2026\nLocation: 26th Floor, Bitexco Tower, 02 Hai Trieu Street, Saigon Ward, Ho Chi Minh City\nRole: Attendee\nEvent 2 Event Name: AWS First Cloud AI Journey Community Day\nDate \u0026amp; Time: 09:00, May 23, 2026\nLocation: 26th Floor, Bitexco Tower, 02 Hai Trieu Street, Saigon Ward, Ho Chi Minh City\nRole: Attendee\nEvent 3 Event Name: FCAJ Community Day\nDate \u0026amp; Time: 09:00, June 13, 2026\nLocation: 26th Floor, Bitexco Tower, 02 Hai Trieu Street, Saigon Ward, Ho Chi Minh City\nRole: Attendee\nEvent 4 Event Name: FCAJ Community Day \u0026ldquo;Data Driven, AI Risen\u0026rdquo;\nDate \u0026amp; Time: 09:00, June 27, 2026\nLocation: 26th Floor, Bitexco Tower, 02 Hai Trieu Street, Saigon Ward, Ho Chi Minh City\nRole: Attendee\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/5-workshop/5.4-dynamodb-singletable/","title":"DynamoDB Single-Table Design","tags":[],"description":"","content":"DynamoDB Single-Table Design \u0026amp; DynamoDB Streams CDC In a Multi-Tenant SaaS platform, database architecture directly dictates infrastructure cost, query performance, and Tenant Data Isolation.\nIn this module, you will explore the Single-Table Design pattern on Amazon DynamoDB and Change Data Capture (CDC) with DynamoDB Streams.\n1. Single-Table Schema Layout Instead of provisioning separate databases or tables per tenant/entity (Users, Attendance, Tenants, Subscriptions), all entities are co-located within a Single Table (smart-attendance-database) using HASH (PK) \u0026amp; RANGE (SK) design:\nEntity Type Partition Key (PK) Sort Key (SK) Attributes Tenant Record TENANT#\u0026lt;tenantId\u0026gt; METADATA tenantName, plan, status, createdAt User Profile TENANT#\u0026lt;tenantId\u0026gt; USER#\u0026lt;userId\u0026gt; email, fullName, role, department Attendance Log TENANT#\u0026lt;tenantId\u0026gt; ATTENDANCE#\u0026lt;userId\u0026gt;#\u0026lt;timestamp\u0026gt; checkInTime, checkOutTime, status, location Subscription Billing TENANT#\u0026lt;tenantId\u0026gt; SUB#\u0026lt;billingId\u0026gt; planTier, amount, paymentStatus, expiryDate Ironclad Tenant Data Isolation Every Lambda database query must explicitly scope requests using the Partition Key prefix TENANT#\u0026lt;tenantId\u0026gt;. Guarantees 100% isolation against cross-tenant data leakage risks. 2. Inspect DynamoDB Table via AWS Console Open the Amazon DynamoDB Console. Select Tables -\u0026gt; Choose smart-attendance-database. Review the Overview section: Read/Write capacity mode: On-Demand (scales throughput automatically). Encryption: KMS (encrypted using Customer Managed Key DataKMSKey). Point-in-time recovery (PITR): ENABLED. DynamoDB Streams: ENABLED (NEW_AND_OLD_IMAGES). 3. EventBridge Pipe Integration for CDC To process database mutations asynchronously without blocking the Check-in API latency, the solution connects DynamoDB Streams to EventBridge using AWS EventBridge Pipes:\nDdbToEventBridgePipe: Type: AWS::Pipes::Pipe Properties: Name: smart-attendance-ddb-stream-pipe Source: !GetAtt SaaSAttendanceTable.StreamArn Target: !Sub \u0026#39;arn:aws:events:${AWS::Region}:${AWS::AccountId}:event-bus/default\u0026#39; When a new clock-in entry is committed to DynamoDB, DynamoDB Streams captures the change record. EventBridge Pipe routes the AttendanceCreated event directly to the EventBridge Event Bus, triggering background notification workers or third-party webhooks seamlessly. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.5-week5/","title":"Week 5 Worklog","tags":[],"description":"","content":"Week 5 Objectives Master High Availability (HA) and Scalability system architecture design principles on AWS. Configure Elastic Load Balancing (Application Load Balancer - ALB) to distribute multi-AZ application traffic. Configure EC2 Auto Scaling Groups, Amazon Route 53 DNS Routing Policies, and inter-VPC connectivity via VPC Peering. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Elastic Load Balancing (ELB Essentials): + Compare ALB (Layer 7) vs NLB (Layer 4) + Target Groups, Health Checks \u0026amp; Listener Rules + SSL/TLS Termination using AWS Certificate Manager (ACM) certificates 01/06/2026 01/06/2026 https://000006.awsstudygroup.com 3 - EC2 Auto Scaling Groups (ASG): + Launch Templates vs Launch Configurations + Scaling Policies: Target Tracking, Step Scaling \u0026amp; Scheduled Scaling + Dynamic Scaling based on CPU utilization / ALB Request count 02/06/2026 02/06/2026 https://000006.awsstudygroup.com 4 - Hands-on: + Create a Launch Template for EC2 Web Servers + Provision an ALB across 2 Public Subnets and attach Target Groups + Create an Auto Scaling Group spanning 2 Private Subnets integrated with ALB 03/06/2026 03/06/2026 https://000006.awsstudygroup.com 5 - Amazon Route 53 \u0026amp; Hybrid DNS: + Public vs Private Hosted Zones + Routing Policies: Simple, Weighted, Latency, Failover \u0026amp; Geolocation + Route 53 Health Checks \u0026amp; VPC Peering between isolated VPCs 04/06/2026 04/06/2026 https://000010.awsstudygroup.com https://000019.awsstudygroup.com/ 6 - Building Highly Available Web Applications: + Simulate heavy web traffic via Stress Testing on EC2 to evaluate Auto Scaling responses + Configure Route 53 Failover Routing to test automated DNS failover during outages 05/06/2026 05/06/2026 https://000101.awsstudygroup.com Week 5 Achievements Successfully deployed an Application Load Balancer to distribute incoming traffic seamlessly across Availability Zones. Configured Auto Scaling Groups to dynamically scale EC2 capacity up or down based on real-time traffic demand. Mastered DNS routing strategies using Amazon Route 53 and implemented automated Disaster Recovery Failover. Connected two isolated VPC networks securely using VPC Peering. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/5-workshop/5.5-async-reporting/","title":"Asynchronous Reporting Workflow","tags":[],"description":"","content":"Build Asynchronous Reporting Workflows with Step Functions, SQS \u0026amp; SES In large enterprise applications, aggregating monthly timekeeping data across thousands of employees can take anywhere from 10 to 60 seconds of compute time. Executing this synchronously over an API Gateway connection risks triggering an HTTP Timeout (30s limit) and freezing the user interface.\nIn this lab module, you will implement an asynchronous reporting solution combining AWS Step Functions Express State Machine, Amazon SQS Queue Buffer, Amazon S3, and Amazon SES Email Worker.\n1. Decoupled Asynchronous Architecture Flow [Admin Request] ➔ [API Gateway] ➔ [SQS ReportQueue] ➔ [Step Functions Engine] │ ▼ [Amazon SES Email] ◄─ [Lambda Email Worker] ◄─ [Amazon S3 Bucket (Report PDF/Excel)] Trigger Request: Admin clicks \u0026ldquo;Export Monthly Report\u0026rdquo;. The React frontend sends an HTTP POST request to API Gateway. The request is immediately buffered into the SQS ReportQueue, returning a 202 Accepted response instantly (UI remains responsive). State Machine Execution: The AWS Step Functions Express Workflow (ReportStateMachine) consumes tasks from SQS, orchestrating a 5-step workflow: ValidateRequest: Validates yearMonth and tenantId parameters. InitializeReportStatus: Updates the report status to PROCESSING in DynamoDB. GenerateReportFile: Triggers a Lambda function to query attendance logs and build Excel/PDF binaries. WriteFileToS3: Writes generated report files directly to an Amazon S3 Bucket (SaaSReportBucket) encrypted with KMS CMK and lifecycle managed via S3 Intelligent-Tiering. FinalizeReportStatus: Updates report status to COMPLETED and attaches the S3 Key reference in DynamoDB. Notification Event: EventBridge captures the ReportGenerated event, dispatching a notification message to SQS EmailQueue. The Lambda Email Worker processes queue messages in batches, invoking Amazon SES to email secure download links to admins. 2. State Machine Infrastructure Definition (template.yaml) Below is the Express State Machine definition declared within AWS SAM:\nReportStateMachine: Type: AWS::Serverless::StateMachine Properties: Type: EXPRESS Role: !GetAtt ReportWorkflowRole.Arn Definition: StartAt: ValidateRequest States: ValidateRequest: Type: Pass ResultPath: \u0026#34;$.validation\u0026#34; Next: InitializeReportStatus InitializeReportStatus: Type: Task Resource: arn:aws:states:::dynamodb:putItem Parameters: TableName: !Ref SaaSAttendanceTable Item: PK: { S.$: \u0026#39;$.PK\u0026#39; } SK: { S.$: \u0026#39;$.SK\u0026#39; } Status: { S: \u0026#34;PROCESSING\u0026#34; } Next: GenerateReportFile GenerateReportFile: Type: Pass Result: S3Key: \u0026#34;reports/monthly-attendance-report.xlsx\u0026#34; ResultPath: \u0026#34;$.fileDetails\u0026#34; Next: WriteFileToS3 WriteFileToS3: Type: Task Resource: arn:aws:states:::aws-sdk:s3:putObject Parameters: Bucket: !Ref SaaSReportBucket Key.$: \u0026#39;$.fileDetails.S3Key\u0026#39; Body: \u0026#34;Report Binary Content\u0026#34; Next: FinalizeReportStatus FinalizeReportStatus: Type: Task Resource: arn:aws:states:::dynamodb:updateItem Parameters: TableName: !Ref SaaSAttendanceTable Key: PK: { S.$: \u0026#39;$.PK\u0026#39; } SK: { S.$: \u0026#39;$.SK\u0026#39; } UpdateExpression: \u0026#34;SET #status = :val, #file = :file\u0026#34; ExpressionAttributeNames: \u0026#34;#status\u0026#34;: \u0026#34;Status\u0026#34; \u0026#34;#file\u0026#34;: \u0026#34;ReportFileKey\u0026#34; ExpressionAttributeValues: \u0026#34;:val\u0026#34;: { S: \u0026#34;COMPLETED\u0026#34; } \u0026#34;:file\u0026#34;: { S.$: \u0026#39;$.fileDetails.S3Key\u0026#39; } End: true 3. SQS Queue \u0026amp; Dead Letter Queue (DLQ) Setup To guarantee notification delivery resilience against network faults or SES sandbox rate limits, the queue architecture incorporates a Dead Letter Queue (DLQ) pattern:\nEmailQueue: Type: AWS::SQS::Queue Properties: QueueName: smart-attendance-email-queue RedrivePolicy: deadLetterTargetArn: !GetAtt EmailDLQ.Arn maxReceiveCount: 3 EmailDLQ: Type: AWS::SQS::Queue Properties: QueueName: smart-attendance-email-dlq If message processing fails 3 consecutive times in the worker Lambda, SQS automatically isolates failed messages in EmailDLQ for inspection without message loss. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/5-workshop/","title":"Workshop","tags":[],"description":"","content":"Building a Multi-Tenant Smart Attendance Platform with AWS Serverless Architecture Overview In this hands-on Workshop series, you will step-by-step build and deploy a complete Smart Attendance SaaS Platform engineered for multi-tenant organizations using AWS Serverless Optimized Pro Architecture.\nYou will directly practice Infrastructure as Code (IaC) with AWS SAM (Serverless Application Model), configure identity authentication with Amazon Cognito User Pool, model data with Amazon DynamoDB (Single-Table Design) enforcing tenant isolation via tenantId, implement AWS Step Functions Express Workflows and Amazon SQS / SES for asynchronous report generation, and deploy a React SPA frontend globally over Amazon S3 and Amazon CloudFront CDN secured with Custom Origin Verification Headers.\nWorkshop Modules Workshop Overview Prerequisites Deploy Serverless Backend with AWS SAM DynamoDB Single-Table Design \u0026amp; DynamoDB Streams Build Asynchronous Reporting Workflow Deploy React SPA Frontend \u0026amp; CloudFront CDN End-to-End Testing \u0026amp; Resource Cleanup "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.6-week6/","title":"Week 6 Worklog","tags":[],"description":"","content":"Week 6 Objectives Understand Serverless Computing philosophy and Event-Driven Architecture on AWS. Master AWS Lambda (Execution environments, Execution Roles, Layers \u0026amp; Event Triggers) and user authentication with Amazon Cognito. Build Serverless REST APIs with Amazon API Gateway, orchestrate complex workflows using AWS Step Functions, and automate deployments using AWS SAM CLI. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Serverless Automation with AWS Lambda: + Event-driven execution model, Execution Environments \u0026amp; Concurrency limits + IAM Execution Roles \u0026amp; Resource-based access policies + Utilize Lambda Layers to share reusable code and libraries 08/06/2026 08/06/2026 https://000022.awsstudygroup.com 3 - Building Serverless APIs with Amazon API Gateway: + REST API vs HTTP API vs WebSocket API comparison + Lambda Proxy Integration, Request Validation \u0026amp; CORS configuration + User authentication using Amazon Cognito User Pools 09/06/2026 09/06/2026 https://000066.awsstudygroup.com https://000141.awsstudygroup.com 4 - Hands-on: + Write business logic inside AWS Lambda functions using Node.js/Python + Provision REST API endpoints on API Gateway backed by Lambda \u0026amp; DynamoDB + Test API endpoints via Postman and verify JWT token authorization 10/06/2026 10/06/2026 https://000066.awsstudygroup.com 5 - Workflow Orchestration with AWS Step Functions: + State Machine types (Standard vs Express Workflows) + Choice States, Parallel execution, and Error Handling (Catch/Retry) + Introduction to AWS SAM template specification (template.yaml) 11/06/2026 11/06/2026 https://000047.awsstudygroup.com https://000080.awsstudygroup.com/ 6 - Hands-on Serverless Application Model (AWS SAM): + Build a multi-step asynchronous workflow orchestrating multiple Lambda functions via Step Functions + Package, test locally (sam local), and deploy automatically using AWS SAM CLI 12/06/2026 12/06/2026 https://000047.awsstudygroup.com https://000080.awsstudygroup.com/ Week 6 Achievements Mastered writing and optimizing AWS Lambda functions following Event-Driven architecture patterns. Built and deployed a production-ready Serverless REST API combining API Gateway, Lambda, Cognito, and DynamoDB. Orchestrated complex multi-step workflows using AWS Step Functions with automated error handling and retries. Standardized, tested locally, and deployed full Serverless applications using AWS SAM CLI. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/5-workshop/5.6-frontend-cloudfront/","title":"Deploy Frontend &amp; CloudFront CDN","tags":[],"description":"","content":"Deploy React SPA Frontend \u0026amp; CloudFront CDN In this section, you will build the React Single Page Application (SPA) web frontend, upload static build artifacts to Amazon S3, and distribute the app globally over Amazon CloudFront CDN integrated with Custom Verification Headers (x-origin-verify).\n1. Edge Protection Architecture [User Browser] ➔ [Route 53] ➔ [Amazon CloudFront CDN (WAF + Shield)] ├──\u0026gt; [Amazon S3 Bucket (React Static Assets)] └──\u0026gt; [API Gateway (Header: x-origin-verify)] Amazon S3 (SpaBucket): Stores static index.html, js, css, and image assets for the React application. Direct public HTTP access to the bucket is blocked. Amazon CloudFront: Serves static content at low latency worldwide across edge locations. Custom Verification Header (x-origin-verify): CloudFront automatically injects a secret token header into all origin requests forwarded to API Gateway. API Gateway denies requests missing this secret header, protecting the API Gateway endpoint against direct bypass attacks. 2. Configure Environment Variables (.env.production) Change directory into frontend/ and populate the production environment configuration with your SAM deployment output values:\ncd ../frontend Create .env.production:\nVITE_API_BASE_URL=https://xxxxxxx.execute-api.us-east-1.amazonaws.com/prod VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx VITE_AWS_REGION=us-east-1 3. Build React Application Install dependencies and compile the production bundle:\nnpm install npm run build The output build directory dist/ is generated:\ndist/ ├── assets/ │ ├── index-xxxx.js │ └── index-xxxx.css ├── favicon.ico └── index.html 4. Upload Assets to Amazon S3 Bucket Use the AWS CLI to create the bucket and synchronize static assets from dist/ to your S3 hosting bucket:\n# Create Frontend S3 Bucket aws s3 mb s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --region ap-southeast-1 # Synchronize build assets to S3 aws s3 sync dist/ s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --delete [!TIP] Troubleshooting Your account must be verified before you can add new CloudFront resources:\nThis security restriction applies to new AWS accounts.\nImmediate Workaround (S3 Website Endpoint): Enable S3 Static Website Hosting to preview your React application instantly:\naws s3 website s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt;/ --index-document index.html Access via link: http://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt;.s3-website.ap-southeast-1.amazonaws.com\nUnlock CloudFront: Open a ticket at AWS Support Center under Account Verification to enable CloudFront resource creation.\n5. Verify \u0026amp; Invalidate CloudFront CDN Cache Open the Amazon CloudFront Console.\nSelect your distribution associated with smart-attendance.\nInvalidate cached objects to immediately serve updated assets:\naws cloudfront create-invalidation --distribution-id \u0026lt;DISTRIBUTION_ID\u0026gt; --paths \u0026#34;/*\u0026#34; Access your CloudFront Domain URL (e.g., https://dxxxxxxxxx.cloudfront.net) or S3 Website Endpoint in a web browser to verify the live application!\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/6---project/","title":"Project","tags":[],"description":"","content":""},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.7-week7/","title":"Week 7 Worklog","tags":[],"description":"","content":"Week 7 Objectives Understand Infrastructure as Code (IaC) principles using AWS CloudFormation \u0026amp; AWS CDK v2 (TypeScript/Python). Learn Containerization technology using Docker (Dockerfile, Multi-stage builds) and private container image management on Amazon ECR. Deploy containerized microservices using Amazon ECS on Serverless AWS Fargate and explore Amazon EKS (Kubernetes) fundamentals. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Infrastructure as Code (AWS CloudFormation \u0026amp; AWS CDK): + CloudFormation Template syntax (YAML/JSON) \u0026amp; Stack Drift Detection + AWS CDK v2 Architecture: App, Stacks \u0026amp; L2 Constructs + CDK CLI execution commands (cdk init, cdk synth, cdk diff, cdk deploy) 15/06/2026 15/06/2026 https://000037.awsstudygroup.com https://000038.awsstudygroup.com 3 - Containerization with Docker \u0026amp; Amazon ECR: + Standardized Dockerfile creation \u0026amp; Multi-stage build techniques for image size optimization + Create Amazon ECR Private Repositories and push container images 16/06/2026 16/06/2026 https://000015.awsstudygroup.com 4 - Amazon ECS \u0026amp; AWS Fargate: + Task Definitions (CPU, Memory, Logs) \u0026amp; ECS Services configuration + Launch serverless ECS Clusters running on AWS Fargate + Integrate ECS Services with Application Load Balancer (ALB) 17/06/2026 17/06/2026 https://000067.awsstudygroup.com 5 - Amazon EKS (Elastic Kubernetes Service) Overview: + EKS Control Plane architecture, Worker Nodes, and EKS Blueprints for AWS CDK + Compute evaluation: EC2 vs Serverless Lambda vs ECS Fargate vs EKS Kubernetes 18/06/2026 18/06/2026 https://000126.awsstudygroup.com https://000065.awsstudygroup.com 6 - Hands-on Container Infrastructure Automation: + Write AWS CDK code defining full ECR, ECS Fargate Cluster, ALB, and CloudWatch Logs stack + Deploy the containerized application stack via cdk deploy 19/06/2026 19/06/2026 https://000076.awsstudygroup.com https://000067.awsstudygroup.com Week 7 Achievements Proficient in object-oriented infrastructure modeling using AWS CDK v2. Packaged web applications into optimized container images using Docker Multi-stage builds and secured them on Amazon ECR. Deployed containerized applications seamlessly on Serverless AWS Fargate via Amazon ECS. Gained core understanding of Kubernetes container orchestration and EKS cluster management on AWS. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/7-self-evaluation/","title":"Self-Assessment","tags":[],"description":"","content":"During my internship at Amazon Web Services Vietnam Co., Ltd. from 05/05/2026 to 30/07/2026, I had the opportunity to learn, practice, and apply the knowledge acquired at university to a real-world working environment.\nI participated in designing AWS project architecture diagrams and writing project demo code, through which I improved my skills in programming, system analysis, report writing, and communication.\nIn terms of work ethic, I always strived to complete assigned tasks well, complied with company policies, and actively engaged with colleagues to improve work efficiency.\nTo objectively reflect on my internship period, I evaluate myself based on the following criteria:\nNo. Criteria Description Good Fair Average 1 Professional knowledge \u0026amp; skills Understanding of the field, applying knowledge in practice, proficiency with tools, work quality ☐ ✅ ☐ 2 Ability to learn Ability to absorb new knowledge and learn quickly ☐ ✅ ☐ 3 Proactiveness \u0026amp; Initiative Self-study, taking on tasks proactively without waiting for instructions ✅ ☐ ☐ 4 Sense of responsibility Completing work on time with high quality assurance ✅ ☐ ☐ 5 Discipline Adhering to working hours, company rules, and standard workflows ☐ ✅ ☐ 6 Desire to improve Willingness to receive feedback and continuously improve oneself ☐ ✅ ☐ 7 Communication Presenting ideas clearly and reporting work effectively ☐ ✅ ☐ 8 Teamwork Working effectively with colleagues and collaborating in teams ✅ ☐ ☐ 9 Professional conduct Respecting colleagues, partners, and the workplace environment ✅ ☐ ☐ 10 Problem-solving mindset Identifying issues, proposing creative and effective solutions ✅ ☐ ☐ 11 Project contribution Work efficiency, improvement initiatives, and recognition from the team ✅ ☐ ☐ 12 Overall Overall assessment of the entire internship journey ✅ ☐ ☐ Areas for Improvement Based on the criteria rated as Fair in the assessment table above, I identify the following key areas for continuous self-improvement:\nProfessional Knowledge \u0026amp; Technical Skills: Further deepen my expertise in advanced AWS Serverless architecture, cloud cost optimization solutions, and enterprise security practices. Discipline \u0026amp; Workflow: Enhance personal discipline, strictly adhering to working hours, company regulations, and standard professional workflows. Learning Agility \u0026amp; Continuous Growth: Accelerate the pace of mastering new cloud technologies and proactively act on constructive feedback from colleagues and mentors. Communication Skills: Refine the ability to present ideas concisely and handle situational interactions flexibly in daily team collaboration. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/5-workshop/5.7-testing-cleanup/","title":"Testing &amp; Resource Cleanup","tags":[],"description":"","content":"End-to-End Testing \u0026amp; Resource Cleanup Congratulations on building and deploying the complete Smart Attendance SaaS Platform! In this final module, you will perform end-to-end operational testing across 5 realistic scenarios and properly teardown deployed cloud resources to prevent ongoing AWS billing.\n1. End-to-End Testing Scenarios Follow these 5 test scenarios on your live application:\nScenario 1: Tenant Registration \u0026amp; Authentication (Multi-Tenant Auth) Navigate to your CloudFront distribution URL. Select Register Tenant. Enter Company A credentials (tenantId: tenant-company-a), Admin Email, and Password. Complete email OTP verification. Sign in as Admin. Verify the dashboard loads scoped under tenant-company-a. Scenario 2: Employee Clock-In \u0026amp; Clock-Out Create an Employee user (user-employee-1) associated with tenant-company-a. Sign in as the employee on a mobile device or browser simulator. Click Clock-In -\u0026gt; The app sends a JWT-authenticated request to API Gateway -\u0026gt; The CheckInFunction Lambda commits the entry in sub-200ms. Click Clock-Out -\u0026gt; The system updates the clock-out timestamp in DynamoDB. Scenario 3: Query Attendance History (DynamoDB Single-Table Query) Open Attendance History. The frontend queries DynamoDB using TENANT#tenant-company-a partition key, returning real-time attendance logs in sub-50ms. Scenario 4: Export Monthly Attendance Reports (Step Functions \u0026amp; SES) From the Admin Dashboard, click Export Monthly Report. The UI displays an asynchronous confirmation status immediately (\u0026ldquo;Request Processing\u0026rdquo;). Inspect the AWS Step Functions Console to monitor the Express State Machine executing the report file generation. Check your inbox for the automated email delivered via Amazon SES containing the secure download link from Amazon S3. Scenario 5: B2B Subscription Payment Webhook As Admin, select the Pro Tier plan and proceed to Checkout. Simulate a payment gateway webhook callback to /billing/webhook. The WebhookFunction validates the signature via AWS Secrets Manager and updates tenant status to ACTIVE in DynamoDB. 2. AWS Resource Cleanup \u0026amp; Teardown To avoid unnecessary cloud costs after finishing the workshop, tear down all deployed resources following these steps:\nStep 1: Empty S3 Bucket Contents CloudFormation cannot delete non-empty S3 buckets. Empty bucket contents using the AWS CLI:\n# 1. Purge S3 Report Bucket objects aws s3 rm s3://saas-attendance-reports-\u0026lt;AWS_ACCOUNT_ID\u0026gt;-\u0026lt;REGION\u0026gt; --recursive # 2. Purge S3 SPA Hosting Bucket objects aws s3 rm s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --recursive Step 2: Delete CloudFormation Stack via SAM CLI Change directory into backend/ and execute the SAM delete command:\ncd backend sam delete Confirm stack deletion prompts:\nAre you sure you want to delete the stack smart-attendance-backend in region us-east-1? [y/N]: y Are you sure you want to delete the folder smart-attendance-backend in S3? [y/N]: y CloudFormation takes approximately 3–5 minutes to destroy all resources (Cognito, API Gateway, Lambda, DynamoDB, Step Functions, SQS, SES, KMS Keys).\nSummary \u0026amp; Conclusion Congratulations on completing the Smart Attendance SaaS Platform Workshop! You have mastered key AWS Serverless design patterns and gained practical experience engineering scalable multi-tenant SaaS platforms on AWS.\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.8-week8/","title":"Week 8 Worklog","tags":[],"description":"","content":"Week 8 Objectives Project Ideation \u0026amp; Requirements Analysis: Formulate design concepts for the Multi-Tenant SaaS Timekeeping Platform model, analyze business context, and establish technical requirements. Continued CloudJourney Learning: Study Serverless architecture patterns and Multi-Tenancy data isolation strategies on CloudJourney (https://cloudjourney.awsstudygroup.com/). Draft System Requirements Specifications (SRS) document and define Work Breakdown Structure (WBS) for subsequent project phases. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Project Ideation (22/06/2026 – 28/06/2026): + Explore enterprise attendance management requirements in Multi-Tenant SaaS environments + Continue studying serverless architecture modules on CloudJourney 22/06/2026 22/06/2026 https://cloudjourney.awsstudygroup.com 3 - Functional Requirements Analysis: + Analyze GPS check-in/out workflows, shift schedules, and automated report generation + Define user personas: SuperAdmin, TenantAdmin, and Employee 23/06/2026 23/06/2026 https://cloudjourney.awsstudygroup.com 4 - AWS Multi-Tenancy Survey (CloudJourney Learning): + Compare data isolation strategies: Silo Model vs Pool Model on Amazon DynamoDB + Study tenantId isolation techniques and centralized authentication using Amazon Cognito 24/06/2026 24/06/2026 https://000060.awsstudygroup.com https://000039.awsstudygroup.com 5 - Tech Stack Selection \u0026amp; Cost Evaluation: + Finalize core tech stack: Frontend (React/Vite), Backend (AWS Lambda), Auth (Cognito), DB (DynamoDB), IaC (AWS CDK) + Conduct serverless monthly cost estimates using AWS Pricing Calculator 25/06/2026 25/06/2026 https://000022.awsstudygroup.com https://000141.awsstudygroup.com 6 - WBS Planning \u0026amp; Roadmap Definition: + Draft System Requirements Specifications (SRS) document + Map out weekly delivery plan: Architecture Diagrams, Security Setup, UI/UX \u0026amp; Code Refactoring 26/06/2026 26/06/2026 https://cloudjourney.awsstudygroup.com Week 8 Achievements Finalized project design ideation for the Multi-Tenant SaaS Timekeeping Platform and completed Requirements Analysis. Continued learning serverless multi-tenancy design patterns on CloudJourney. Selected tech stack components and established detailed Work Breakdown Structure (WBS) for Weeks 9 to 12. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/8-feedback/","title":"Sharing and Feedback","tags":[],"description":"","content":"Overall Evaluation 1. Working Environment\nThe working environment is very friendly and open. FCAJ members are always willing to help whenever I encounter difficulties, even outside working hours. The workspace is tidy and comfortable, helping me focus better. However, I think it would be nice to have more social gatherings or team bonding activities to strengthen relationships.\n2. Support from Mentor / Team Admin\nThe mentor provides very detailed guidance, explains clearly when I don’t understand, and always encourages me to ask questions. The admin team supports administrative tasks, provides necessary documents, and creates favorable conditions for me to work effectively. I especially appreciate that the mentor allows me to try and solve problems myself instead of just giving the answer.\n3. Relevance of Work to Academic Major\nThe tasks I was assigned align well with the knowledge I learned at university, while also introducing me to new areas I had never encountered before. This allowed me to both strengthen my foundational knowledge and gain practical skills.\n4. Learning \u0026amp; Skill Development Opportunities\nDuring the internship, I learned many new skills such as using project management tools, teamwork skills, and professional communication in a corporate environment. The mentor also shared valuable real-world experiences that helped me better plan my career path.\n5. Company Culture \u0026amp; Team Spirit\nThe company culture is very positive: everyone respects each other, works seriously but still keeps things enjoyable. When there are urgent projects, everyone works together and supports one another regardless of their position. This made me feel like a real part of the team, even as an intern.\n6. Internship Policies / Benefits\nThe company provides an internship allowance and offers flexible working hours when needed. In addition, having the opportunity to join internal training sessions is a big plus.\nAdditional Questions What did you find most satisfying during your internship? What do you think the company should improve for future interns? If recommending to a friend, would you suggest they intern here? Why or why not? Suggestions \u0026amp; Expectations Do you have any suggestions to improve the internship experience? Would you like to continue this program in the future? Any other comments (free sharing): "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.9-week9/","title":"Week 9 Worklog","tags":[],"description":"","content":"Week 9 Objectives System Structure Diagram Editing \u0026amp; Architecture Design: Review, refine, and edit the project structure diagram (platform_architecture.drawio), optimizing data flows across Edge, Auth, Compute, and Storage tiers. Continued CloudJourney Learning: Deepen knowledge of AWS Well-Architected architecture patterns and DynamoDB Single-Table Design on CloudJourney (https://cloudjourney.awsstudygroup.com/). Finalize architecture diagram blueprints and index definitions for project implementation. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Project Structure Diagram Editing (29/06/2026 – 05/07/2026): + Review and refine platform_architecture.drawio system architecture diagram for the SaaS Timekeeping Platform + Continue studying cloud architecture design modules on CloudJourney 29/06/2026 29/06/2026 https://cloudjourney.awsstudygroup.com 3 - Data Flow Diagram Optimization: + Update data transformation flows between API Gateway, Lambda functions, and DynamoDB Single-Table Design + Refine Partition Key (PK) and Sort Key (SK) isolation schemes by tenantId 30/06/2026 30/06/2026 https://000060.awsstudygroup.com https://000039.awsstudygroup.com 4 - Secondary Index (GSI) Diagram Refinement: + Refine GSI1-PK / GSI1-SK layout for querying attendance history by department + Refine GSI2-PK / GSI2-SK layout for compiling tenant aggregate reports 01/07/2026 01/07/2026 https://000060.awsstudygroup.com 5 - Authentication \u0026amp; Authorization Architecture Update: + Update Amazon Cognito User Pool integration flow and Custom Claims ({tenantId, role}) + Study API security best practices on CloudJourney 02/07/2026 02/07/2026 https://000141.awsstudygroup.com 6 - Architecture Finalization \u0026amp; API Specification: + Finalize updated system architecture diagrams + Finalize OpenAPI/Swagger API specifications for API Gateway endpoints 03/07/2026 03/07/2026 https://000066.awsstudygroup.com Week 9 Achievements Successfully edited and standardized system structure diagrams (platform_architecture.drawio) adhering to AWS Well-Architected principles. Continued learning and applied cloud design concepts from CloudJourney into project blueprints. Unified data flow diagrams, DynamoDB Single-Table schema, and API contracts across all microservices. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.10-week10/","title":"Week 10 Worklog","tags":[],"description":"","content":"Week 10 Objectives Basic Security Configuration Implementation: Implement defense-in-depth security controls protecting data at rest, data in transit, API endpoints, and service IAM roles for the project. Continued CloudJourney Learning: Master AWS security standards, AWS KMS CMK encryption, Secrets Manager, and AWS WAF v2 configuration on CloudJourney (https://cloudjourney.awsstudygroup.com/). Ensure enterprise-grade security compliance and prevent sensitive data leaks. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - AWS Security Architecture Research (06/07/2026 – 12/07/2026): + Study data encryption and key management modules on CloudJourney + Analyze 3-tier security architecture: Edge (WAF), Auth (Cognito/IAM), and Storage (KMS) 06/07/2026 06/07/2026 https://cloudjourney.awsstudygroup.com https://000033.awsstudygroup.com 3 - Data-at-Rest Encryption with AWS KMS (CMK): + Create Customer Managed Keys (CMK) encrypting DynamoDB Single-Table and S3 export buckets + Configure KMS Key Policies restricting access to authorized Lambda execution roles 07/07/2026 07/07/2026 https://000033.awsstudygroup.com 4 - Secrets \u0026amp; Credentials Management with AWS Secrets Manager: + Store API keys, DB connection strings, and sensitive credentials inside AWS Secrets Manager + Enable automatic secrets rotation and programmatic retrieval from Lambda functions 08/07/2026 08/07/2026 https://000096.awsstudygroup.com 5 - Edge Security Enforcement with AWS WAF v2: + Associate WAF Web ACLs with CloudFront distribution and API Gateway HTTP API v2 + Enforce AWS Managed Rules (SQLi, XSS protections) and rate-limiting rules against DDoS 09/07/2026 09/07/2026 https://000026.awsstudygroup.com 6 - IAM Least Privilege Audit \u0026amp; Security Testing: + Audit IAM Execution Roles enforcing strict Least Privilege access for all Lambda functions + Perform baseline security audit across all API Gateway endpoints 10/07/2026 10/07/2026 https://000002.awsstudygroup.com Week 10 Achievements Successfully completed basic security configuration across all layers of the project infrastructure. Continued advancing cloud security skills through curated CloudJourney learning materials. Encrypted all sensitive data at rest via AWS KMS CMK and shielded API endpoints with AWS WAF v2. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.11-week11/","title":"Week 11 Worklog","tags":[],"description":"","content":"Week 11 Objectives Updating Frontend UI and Backend Logic: Refactor and upgrade user interface components (React/Vite) and core serverless backend execution logic (AWS Lambda) for the project. Continued CloudJourney Learning: Deepen skills in full-stack Serverless Web App integration and CI/CD automation pipelines on CloudJourney (https://cloudjourney.awsstudygroup.com/). Refine AWS CDK v2 stacks and finalize automated CodePipeline deployment workflows. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Updating Frontend User Interface (13/07/2026 – 19/07/2026): + Refactor React/Vite UI components: Optimize Dashboard layout, Admin panel, and GPS check-in screens + Study Web App frontend integration on CloudJourney 13/07/2026 13/07/2026 https://cloudjourney.awsstudygroup.com https://000141.awsstudygroup.com 3 - Updating Backend Handler Logic (AWS Lambda): + Refactor Lambda functions logic: CheckInFunction, CheckOutFunction, AttendanceSummary, and AdminFunction + Standardize API response JSON schemas and error formatting 14/07/2026 14/07/2026 https://000060.awsstudygroup.com 4 - Frontend \u0026amp; Backend API Gateway Integration: + Wire frontend HTTP request clients to API Gateway HTTP API v2 endpoints + Inject Authorization Bearer JWT Tokens and implement session refresh handling 15/07/2026 15/07/2026 https://000066.awsstudygroup.com 5 - AWS CDK v2 Infrastructure Code Updating: + Refine infrastructure CDK stacks: DatabaseStack, AuthStack, ApiStack, and FrontendStack (S3 + CloudFront OAC) + Run cdk synth and cdk diff validation checks 16/07/2026 16/07/2026 https://000076.awsstudygroup.com 6 - CI/CD Pipeline Refinement \u0026amp; End-to-End Testing: + Update buildspec.yml script to automate React UI bundling, unit tests execution, and cdk deploy execution + Perform end-to-end integration testing between updated frontend and backend 17/07/2026 17/07/2026 https://000152.awsstudygroup.com Week 11 Achievements Successfully updated and polished both Frontend UI and Backend serverless handlers. Continued applying full-stack serverless integration concepts learned on CloudJourney. Connected React Web UI to Serverless API Gateway backend seamlessly. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/1-worklog/1.12-week12/","title":"Week 12 Worklog","tags":[],"description":"","content":"Week 12 Objectives Completing Worklog Finalization and Refining Workshops: Thoroughly audit and finalize all 12 weekly worklog entries while continuing to refine hands-on workshop modules. Continued CloudJourney Learning: Reference technical documentation guidelines and sample workshops on CloudJourney (https://cloudjourney.awsstudygroup.com/). Package final documentation assets, publish technical blog posts, and prepare final project reporting. Tasks to be carried out this week Day Task Start Date Completion Date Reference Material 2 - Worklog Finalization (20/07/2026 – 26/07/2026): + Audit and finalize worklog entries from Week 1 through Week 12 + Ensure bilingual consistency between English and Vietnamese worklog files 20/07/2026 20/07/2026 https://cloudjourney.awsstudygroup.com 3 - Refining Workshop Content: + Review and refine step-by-step workshop tutorials (in /content/5-Workshop folder) + Optimize markdown structure and step-by-step execution instructions 21/07/2026 21/07/2026 https://cloudjourney.awsstudygroup.com 4 - Integrating CloudJourney Insights: + Study latest hands-on walkthroughs on CloudJourney + Enrich workshop exercises with real-world troubleshooting tips and verification steps 22/07/2026 22/07/2026 https://cloudjourney.awsstudygroup.com 5 - Workshop Dry-Run \u0026amp; Documentation Formatting: + Execute dry-run tests for all workshop lab steps to ensure zero execution errors + Publish project technical blog summary under BlogsPosted section 23/07/2026 23/07/2026 https://cloudjourney.awsstudygroup.com 6 - Documentation Packaging \u0026amp; Final Reporting: + Build static website assets (hugo server) verifying layout rendering accuracy + Prepare final presentation slide deck and complete internship project defense 24/07/2026 24/07/2026 https://cloudjourney.awsstudygroup.com Week 12 Achievements Completed full review and finalization of all 12 weekly worklog entries. Successfully refined and enhanced the quality of hands-on workshop modules. Finalized project documentation, published technical blog summary, and prepared final project report. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/categories/","title":"Categories","tags":[],"description":"","content":""},{"uri":"https://karos2504.github.io/fcaj-workshop-template/tags/","title":"Tags","tags":[],"description":"","content":""}]