vi/index.json
[{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/","title":"Nhật ký công việc","tags":[],"description":"","content":"Tuần 1: Tổng quan AWS, Tạo tài khoản, Budgets, Support, IAM, VPC, EC2 \u0026amp; IAM Roles for EC2\nTuần 2: Lưu trữ Amazon S3, Hosting Website tĩnh, CloudFront CDN, Edge Computing \u0026amp; AWS CLI\nTuần 3: Cơ sở dữ liệu Amazon RDS, Multi-AZ, Amazon DynamoDB NoSQL \u0026amp; ElastiCache\nTuần 4: Giám sát \u0026amp; Khả năng quan sát với Amazon CloudWatch, Logs Insights, Grafana \u0026amp; VPC Flow Logs\nTuần 5: Tính sẵn sàng cao \u0026amp; Tự động mở rộng với Load Balancer (ALB), Auto Scaling \u0026amp; Route 53\nTuần 6: Tính toán không máy chủ (Serverless) với AWS Lambda, API Gateway, Cognito \u0026amp; Step Functions\nTuần 7: Hạ tầng dưới dạng mã (IaC) với CloudFormation, AWS CDK \u0026amp; Dịch vụ Container (Docker, ECS, EKS)\nTuần 8: Dự án: Lên ý tưởng thiết kế dự án Mô hình Multi-Tenant SaaS Timekeeping Platform và phân tích yêu cầu\nTuần 9: Dự án: Chỉnh sửa sơ đồ cấu trúc dự án \u0026amp; Thiết kế kiến trúc\nTuần 10: Dự án: Thực hiện cấu hình bảo mật cơ bản cho dự án\nTuần 11: Dự án: Thực hiện chỉnh sửa cập nhật giao diện frontend và backend\nTuần 12: Dự án: Tiến hành chỉnh sửa hoàn thiện worklog và tiếp tục chỉnh sửa workshop\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/4-eventparticipated/4.1-event1/","title":"Sự kiện 1","tags":[],"description":"","content":"Báo cáo tổng kết: FCAJ Community Day Mục Tiêu Sự Kiện Học hỏi các phương pháp tự học hiệu quả và phát triển bản thân trong kỷ nguyên AI. Làm chủ kỹ thuật thiết kế prompt (prompt engineering) và khám phá các ứng dụng hỗ trợ như Promptimizer. Định hình lộ trình nghề nghiệp và chiến lược tìm kiếm cơ hội việc làm trong ngành công nghệ. Hiểu khái niệm Vibe Coding và các phương pháp thực tế khi sử dụng BMAD. Nội Dung Nổi Bật Chia sẻ thực tế về việc biến tự học thành thói quen hấp dẫn và dễ dàng như lướt mạng xã hội. Hướng dẫn thực hành viết prompt như một kỹ sư để có kết quả ổn định và chất lượng cao. Buổi định hướng nghề nghiệp với những lời khuyên thực tế để thu hút nhà tuyển dụng. Khám phá xu hướng \u0026ldquo;Vibe Coding\u0026rdquo; và cách dẫn dắt các trợ lý lập trình AI hiệu quả thông qua BMAD. Phiên 1: Làm thế nào để tự học như sử dụng mạng xã hội (How to make self-learning like using social media) Các chủ đề được đề cập Vượt qua sự trì trệ của các phương pháp học tập truyền thống. Thiết kế lại chu trình học tập bằng cách sử dụng nội dung siêu nhỏ (micro-content) và hệ thống phần thưởng giống mạng xã hội. Lọc và tối ưu hóa nguồn tài liệu học tập cá nhân chất lượng cao. Xây dựng tính nhất quán qua thói quen tự học hàng ngày. Bài học chính Tự học nên được thiết kế để không gây áp lực, mang tính tương tác và được game hóa. Tự tối ưu hóa môi trường học tập để dễ dàng tiếp cận như việc lướt mạng xã hội. Tập trung vào các thói quen nhỏ hàng ngày thay vì học dồn dập không liên tục. Phiên 2: Viết prompt như một kỹ sư và các ứng dụng hỗ trợ (Promptimizer) Các chủ đề được đề cập Cấu trúc cốt lõi của một prompt chất lượng (Role, Context, Task, Constraints, và Output Format). Chuyển dịch từ việc viết prompt theo cảm tính sang quy trình thiết kế prompt có hệ thống. Giới thiệu Promptimizer và các công cụ giúp tự động hóa và tối ưu hóa thiết kế prompt. Thực hành tinh chỉnh prompt cho các tác vụ kỹ thuật phần mềm phức tạp. Bài học chính Viết prompt chuyên nghiệp yêu cầu cấu trúc rõ ràng, ngữ cảnh chi tiết và các ràng buộc chặt chẽ. Các công cụ tự động như Promptimizer giúp tối ưu prompt, giảm chi phí token và nâng cao độ ổn định. Prompt chất lượng cao là nền tảng để AI tạo ra kết quả đáng tin cậy cho môi trường production. Phiên 3: Làm thế nào để tìm kiếm cơ hội việc làm Các chủ đề được đề cập Xây dựng profile lập trình viên nổi bật và thương hiệu cá nhân. Kết nối hiệu quả trong cộng đồng công nghệ trong nước và quốc tế. Vượt qua các vòng phỏng vấn kỹ thuật và quy trình tuyển dụng hiện đại. Tận dụng kinh nghiệm thực tập và đóng góp cộng đồng để thu hút nhà tuyển dụng. Bài học chính Một portfolio dự án thực tế ấn tượng có giá trị hơn nhiều so với một CV chung chung. Sự tham gia tích cực và kết nối trong cộng đồng mở ra nhiều cơ hội việc làm tiềm năng. Khả năng tự học liên tục và sự thích ứng là những kỹ năng mềm được đánh giá rất cao. Phiên 4: Vibe Coding và phương pháp sử dụng BMAD Các chủ đề được đề cập \u0026ldquo;Vibe Coding\u0026rdquo; là gì và cách cộng tác với trợ lý lập trình AI mà không làm mất đi tính kiểm soát của kỹ sư. Giới thiệu phương pháp BMAD (Behavior, Model, Action, Details). Quản lý chất lượng mã nguồn, kiểm thử và debug khi AI viết phần lớn code. Cách giữ cho context của dự án luôn sạch sẽ và dễ quản lý. Bài học chính \u0026ldquo;Vibe Coding\u0026rdquo; không phải là lập trình không cần tư duy; nó đòi hỏi khả năng lập kế hoạch kiến trúc hệ thống cấp cao. Các framework như BMAD đảm bảo trợ lý AI tạo ra code đúng định hướng và chức năng. Luôn kiểm thử, xác minh và tái cấu trúc code do AI tạo ra để giữ cho hệ thống ổn định. Trải nghiệm sự kiện \u0026amp; Bài học rút ra Tham gia FCAJ Community Day là một trải nghiệm tuyệt vời, kết hợp giữa định hướng nghề nghiệp thực tế cùng các phương pháp lập trình và ứng dụng AI hiện đại.\nBài học rút ra Thay đổi tư duy: Biến việc tự học thành thói quen hàng ngày giúp tiếp thu kiến thức mới cực kỳ nhanh chóng. Prompt Engineering là một kỹ năng cốt lõi: Viết prompt chính xác là năng lực quan trọng của kỹ sư trong thời đại GenAI. Phát triển phần mềm cộng tác: BMAD cung cấp cách lập trình có cấu trúc với AI, giúp tăng tốc độ phát triển nhưng vẫn đảm bảo chất lượng. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.1-week1/","title":"Worklog Tuần 1","tags":[],"description":"","content":"Mục tiêu tuần 1 Onboarding, làm quen với các thành viên First Cloud AI Journey (bắt đầu từ Thứ 3, ngày 05/05/2026) và nội quy thực tập. Hoàn thành 7 mô-đun nền tảng trên CloudJourney: Tạo tài khoản AWS, Quản lý chi phí với AWS Budgets, Liên hệ hỗ trợ với AWS Support, Phân quyền người dùng với IAM, Mạng căn bản với Amazon VPC, Máy chủ ảo với Amazon EC2 và Gán quyền máy chủ với IAM Roles for EC2. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 3 - Onboarding và làm quen với các thành viên FCAJ - Đọc nội quy, quy định thực tập - Creating Your First AWS Account: Đăng ký tài khoản AWS Free Tier và thiết lập bảo mật ban đầu - Getting Help with AWS Support: Tìm hiểu các gói AWS Support Plans và tạo Support Case thử nghiệm 05/05/2026 05/05/2026 https://000001.awsstudygroup.com https://000009.awsstudygroup.com 4 - Managing Costs with AWS Budgets: Cấu hình ngân sách, thiết lập cảnh báo chi phí qua Email/CloudWatch - Access Management with AWS Identity and Access Management (IAM): Khái niệm IAM Users, Groups, Policies \u0026amp; bật xác thực 2 lớp (MFA) 06/05/2026 06/05/2026 https://000007.awsstudygroup.com https://000002.awsstudygroup.com 5 - Networking Essentials with Amazon Virtual Private Cloud (VPC): + Tìm hiểu CIDR Blocks, Public Subnet, Private Subnet + Cấu hình Internet Gateway (IGW), Route Tables và Security Groups cho mô hình VPC cơ bản 07/05/2026 07/05/2026 https://000003.awsstudygroup.com 6 - Compute Essentials with Amazon Elastic Compute Cloud (EC2): Khởi chạy máy chủ EC2 instance, kết nối SSH \u0026amp; SSM Session Manager - Instance Profiling with IAM Roles for EC2: Tạo IAM Role gán cho EC2 instance để truy cập tài nguyên AWS an toàn mà không cần hardcode Access Key 08/05/2026 08/05/2026 https://000004.awsstudygroup.com https://000048.awsstudygroup.com Kết quả đạt được tuần 1 Tạo và bảo mật thành công tài khoản AWS Free Tier với MFA và AWS Budgets. Nắm vững cách gửi yêu cầu trợ giúp kỹ thuật thông qua AWS Support Center. Thành thạo quản lý người dùng, nhóm và chính sách phân quyền tối thiểu với IAM Users \u0026amp; Policies. Xây dựng thành công mô hình VPC cơ bản có kết nối Internet qua Internet Gateway. Khởi chạy, truy cập EC2 instance và phân quyền an toàn cho EC2 bằng IAM Instance Profile. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/","title":"Báo cáo thực tập","tags":[],"description":"","content":"Báo cáo thực tập Thông tin sinh viên Họ và tên: Nguyễn Anh Khoa\nSố điện thoại: 0338010733\nEmail: khoaanh.kgi@gmail.com\nTrường: HUTECH - Trường Đại Học Công Nghệ TP.HCM\nNgành: Công nghệ thông tin\nLớp: 22DTHD4\nCông ty thực tập: Công ty TNHH Amazon Web Services Viet Nam\nVị trí thực tập: Workforce Bootcamp - First Cloud AI Journey\nThời gian thực tập: Từ ngày 05/05/2026 đến ngày 30/07/2026\nNội dung báo cáo Worklog Proposal Các bài blogs đã đăng Các events đã tham gia Workshop Tự đánh giá Chia sẻ, đóng góp ý kiến "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/3-blogsposted/3.1-blog1/","title":"Blog 1","tags":[],"description":"","content":"Amazon S3 sẽ vô hiệu hóa mặc định SSE-C từ tháng 04/2026: Những điều Developer và DevOps cần biết Xin chào mọi người!\nAmazon S3 từ lâu đã là một trong những dịch vụ lưu trữ phổ biến nhất trên AWS, được sử dụng trong rất nhiều hệ thống từ website tĩnh, data lake, backup cho đến các ứng dụng AI/ML. Bên cạnh khả năng mở rộng gần như không giới hạn, bảo mật dữ liệu luôn là một trong những yếu tố được AWS ưu tiên hàng đầu.\nMới đây, AWS đã công bố một thay đổi quan trọng liên quan đến cơ chế mã hóa Server-Side Encryption with Customer-Provided Keys (SSE-C). Bắt đầu từ tháng 04/2026, các S3 General Purpose Bucket mới sẽ không còn hỗ trợ SSE-C theo mặc định. Đây là thay đổi có thể ảnh hưởng trực tiếp đến các ứng dụng đang sử dụng phương thức mã hóa này.\n1. NHỮNG THAY ĐỔI CỐT LÕI VÀ NGUYÊN NHÂN TỪ AWS Mặc dù SSE-C cho phép doanh nghiệp hoàn toàn kiểm soát khóa mã hóa, nhưng điều này đồng nghĩa với việc toàn bộ trách nhiệm quản lý khóa thuộc về phía ứng dụng. Nếu khóa bị mất hoặc gửi sai, dữ liệu sẽ không thể được giải mã.\nTheo thông báo từ AWS, kể từ tháng 04/2026:\nVô hiệu hóa trên Bucket mới: Các General Purpose Bucket mới sẽ mặc định không hỗ trợ SSE-C. Áp dụng cho Account chưa sử dụng: Với những AWS Account chưa từng lưu dữ liệu được mã hóa bằng SSE-C, các bucket hiện có cũng sẽ bị vô hiệu hóa tính năng này. Trả về lỗi HTTP 403 Access Denied: Nếu ứng dụng vẫn gửi request PutObject kèm các header của SSE-C mà bucket chưa được cấu hình lại (x-amz-server-side-encryption-customer-algorithm, x-amz-server-side-encryption-customer-key, x-amz-server-side-encryption-customer-key-MD5), Amazon S3 sẽ chặn và trả về lỗi ngay lập tức. Thay đổi này nhằm mục đích giảm nguy cơ cấu hình sai cho người dùng mới, đồng thời thúc đẩy các hệ thống dịch chuyển sang giải pháp quản lý khóa tập trung an toàn hơn như SSE-KMS.\n2. KỸ THUẬT VẬN HÀNH VÀ HƯỚNG XỬ LÝ CHO DEVELOPER / DEVOPS Để tránh nguy cơ gián đoạn dịch vụ đối với các hệ thống như pipeline backup, upload tài liệu, dịch vụ chia sẻ file hay Data Lake sử dụng SDK cũ, anh em cần chủ động thực hiện các bước sau:\nKích hoạt thủ công nếu bắt buộc dùng SSE-C: Quản trị viên cần chủ động bật lại tính năng SSE-C thông qua API hoặc cập nhật kịch bản Infrastructure as Code (IaC) như AWS CloudFormation, Terraform, AWS CDK, AWS CLI trước khi triển khai. Rà soát toàn bộ hệ thống: Kiểm tra lại toàn bộ S3 Bucket, kiểm tra mã nguồn ứng dụng hoặc SDK có đang gửi Customer-Provided Keys hay không. Lộ trình chuyển đổi sang SSE-S3 hoặc SSE-KMS: Sử dụng SSE-S3: Nếu cần giải pháp đơn giản nhất, không tốn thêm chi phí và được bật mặc định cho đa số ứng dụng. Sử dụng SSE-KMS: Đối với môi trường Production yêu cầu mức độ bảo mật cao, cần phân quyền IAM, theo dõi lịch sử truy cập bằng CloudTrail, tự động xoay vòng khóa và đáp ứng các tiêu chuẩn như PCI DSS, HIPAA, ISO 27001. KẾT LUẬN Thay đổi này rất quan trọng đối với các hệ thống đang sử dụng SSE-C. Việc rà soát cấu hình, cập nhật Infrastructure as Code và cân nhắc chuyển sang SSE-KMS sẽ giúp hệ thống hoạt động ổn định hơn, hạn chế tối đa nguy cơ gián đoạn dịch vụ khi AWS chính thức áp dụng chính sách mới.\nNguồn tham khảo: AWS Storage Blog - Advanced notice: Amazon S3 will disable SSE-C by default for all new buckets and select existing buckets in April 2026 #AWS #AmazonS3 #CloudSecurity #SSEKMS #SSEC #DevOps #CloudComputing #AWSStorage\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/6---project/6.1-/","title":"Tổng quan về dự án","tags":[],"description":"","content":""},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/5-workshop/5.1-workshop-overview/","title":"Tổng quan về workshop","tags":[],"description":"","content":"Tổng quan về Workshop Smart Attendance SaaS Platform Giới thiệu bài lab Trong bài lab này, bạn sẽ được tìm hiểu bức tranh tổng thể về bài toán xây dựng phần mềm chấm công dạng dịch vụ (SaaS - Software-as-a-Service) hỗ trợ đa doanh nghiệp (Multi-tenant) chạy 100% trên đám mây AWS Serverless.\nSơ đồ Kiến trúc Hệ thống Dưới đây là mô hình kiến trúc hạ tầng Serverless hoàn chỉnh mà bạn sẽ triển khai trong toàn bộ bài workshop:\nCác mục tiêu đạt được sau bài lab Sau khi hoàn thành chuỗi bài lab này, bạn sẽ làm chủ các kỹ năng thực tế:\nInfrastructure as Code (IaC): Sử dụng AWS SAM (Serverless Application Model) để định nghĩa và quản lý tự động toàn bộ tài nguyên AWS qua mã lệnh (template.yaml). Xác thực Đa doanh nghiệp (Multi-Tenant Auth): Thiết lập Amazon Cognito User Pool chứa Custom Attributes (tenantId, role) và kết nối với Amazon API Gateway HTTP API v2 thông qua Cognito JWT Authorizer. Thiết kế Cơ sở dữ liệu NoSQL tối ưu: Xây dựng mô hình Single-Table Design trên Amazon DynamoDB, mã hóa dữ liệu với AWS KMS CMK, bật tính năng DynamoDB Streams bắt sự kiện biến động (CDC). Xử lý sự kiện bất đồng bộ: Tích hợp EventBridge Pipe, AWS Step Functions Express Workflow, Amazon SQS Queue và Amazon SES để tạo và gửi file báo cáo điểm danh Excel/PDF tự động tới email người dùng. Phân phối Web SPA \u0026amp; Bảo mật Edge: Triển khai Single Page Application (React + Vite) lên Amazon S3 Bucket, phân phối toàn cầu qua Amazon CloudFront CDN bảo mật bằng Custom Verification Header (x-origin-verify). Thời lượng ước tính Thời gian thực hiện: 60 - 90 phút. Mức độ: Intermediate to Advanced (Trung bình - Nâng cao). "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/4-eventparticipated/4.2-event2/","title":"Sự kiện 2","tags":[],"description":"","content":"Báo cáo tổng kết: AWS Community Day – AI Track Mục tiêu sự kiện Chia sẻ các xu hướng mới nhất trong AI và chiến lược triển khai thực tế Khám phá cách context, memory và agents đang định hình lại ngành công nghiệp AI Giới thiệu Amazon Q như một bộ công cụ AI nâng cao năng suất Chứng minh vai trò của CloudFront như nền tảng hạ tầng hiện đại Truyền cảm hứng cho sinh viên và lập trình viên bắt đầu xây dựng với AI Diễn giả Phiên Diễn giả Chức danh Tổ chức Phiên 1 Tinh Truong Platform Engineer GoTymeX Phiên 2 Duc Dao Solutions Architect Cloud Kinetics Phiên 3 Thinh Nguyen DevOps Engineer FCAJ Phiên 4 Thao Nguyen GenAI Engineer VIB Phiên 4 Mai Nguyen GenAI Engineer VIB Phiên 4 Uyen Le GenAI Engineer VIB Phiên 5 Anh Pham Cloud Consultant G-AsiaPacific Vietnam Phiên 6 Vy Lam Senior Business Systems Analyst VPBank Nội dung nổi bật Insights thực tế về AI context, prompting và khái niệm Second AI Brain Trình diễn trực tiếp khả năng ngôn ngữ tự nhiên của Amazon Q trên dữ liệu và workflow Phân tích sâu CloudFront như một lớp bảo mật, hiệu suất và độ tin cậy Câu chuyện hackathon thực tế: xây dựng UTMorpho trong 36 giờ tại LotusHacks Thảo luận kỹ thuật về các hiểu lầm liên quan đến tính xác định của LLM và tối ưu hóa inference Kiến trúc multi-agent cấp enterprise cho bài toán chấm điểm tín dụng startup với guardrails tuân thủ Phiên 1: Context Is Everything – Making AI Actually Work for You 🕘 09:00 – 09:30 SA\nCác chủ đề được đề cập Tại sao AI thất bại khi thiếu context \u0026amp; \u0026ldquo;context\u0026rdquo; thực sự có ý nghĩa gì Từ prompts đến memory: cách AI đang phát triển (khái niệm Second AI Brain) Làm thế nào context tốt hơn dẫn đến kết quả tốt hơn (tư duy thực tế \u0026amp; mẹo hay) Career insights \u0026amp; cách sinh viên có thể bắt đầu xây dựng với AI + Q\u0026amp;A Bài học chính Context là nền tảng cho các giải pháp AI hiệu quả Hiểu rõ quá trình phát triển từ prompts đơn giản đến hệ thống memory ngữ cảnh Các chiến lược thực tế để triển khai context tốt hơn trong ứng dụng AI Cơ hội nghề nghiệp trong lĩnh vực AI và cách bắt đầu xây dựng giải pháp AI Phiên 2: Friendly AI Assistant with Amazon Q 🕘 09:30 – 09:45 SA\nTổng quan Amazon Q Chat Agent: Trợ lý AI để khám phá dữ liệu, phân tích insights Amazon Q Flows: Tạo workflow thông minh bằng ngôn ngữ tự nhiên — không cần viết code Amazon Q Spaces: Không gian cộng tác chung biến individual insights thành team knowledge Amazon Q Sight: Xây dựng dashboards và reports từ dữ liệu thô bằng ngôn ngữ tự nhiên Bài học chính Amazon Q cung cấp bộ giải pháp toàn diện cho các workflow hỗ trợ AI Giao diện ngôn ngữ tự nhiên giúp người dùng không có kỹ thuật làm việc với dữ liệu Không gian cộng tác nâng cao việc chia sẻ kiến thức và insights trong team Cơ hội tự động hóa trong business intelligence và phân tích dữ liệu Phiên 3: From Edge To Origin – CloudFront as Your Foundation 🕘 09:45 – 10:25 SA\nCác chủ đề chính Amazon CloudFront cho mọi loại khối lượng công việc Tối ưu hóa chi phí với Amazon CloudFront Khả năng bảo mật Nâng cao độ tin cậy với Amazon CloudFront Nâng cao hiệu suất với Amazon CloudFront Bài học chính CloudFront là giải pháp đa năng cho các loại khối lượng công việc khác nhau Sử dụng CloudFront chiến lược giúp giảm chi phí đồng thời cải thiện hiệu suất Bảo mật và độ tin cậy được tích hợp sẵn thông qua phân phối edge Tối ưu hóa hiệu suất ở quy mô lớn bằng edge computing Phiên 4: 36 giờ tại LotusHacks – Building UTMorpho from Idea to Reality 🕘 10:25 – 10:55 SA\nDàn bài thuyết trình Tại sao chúng tôi tham gia LotusHacks Từ Zero đến Idea – Hành trình Brainstorming Định nghĩa vấn đề \u0026amp; Định hình UTMorpho Xây dựng dưới áp lực – Sprint phát triển 36 giờ Thách thức, Thất bại \u0026amp; Turning Points UTMorpho – Tổng quan sản phẩm \u0026amp; platform_architecture Bài học rút ra \u0026amp; Hướng tiếp theo Bài học chính Rapid prototyping và iterative development dưới ràng buộc thời gian Tầm quan trọng của việc định nghĩa vấn đề và mục tiêu rõ ràng Học hỏi từ các thách thức và thất bại trong quá trình phát triển Insights thực tế cho việc tham gia hackathon và phát triển sản phẩm Phiên 5: Non-Determinism of \u0026ldquo;Deterministic\u0026rdquo; LLM Settings 🕘 11:00 – 11:30 SA\nCác khái niệm cốt lõi Cách LLM chọn token tiếp theo Giả định: Temperature=0 đảm bảo tính xác định Thực tế: Tối ưu hóa inference nói khác Tác động thực tế Các chiến lược giảm thiểu Bài học chính Các cài đặt LLM \u0026ldquo;xác định\u0026rdquo; không đảm bảo đầu ra xác định Hiểu rõ tối ưu hóa inference và ảnh hưởng đến tính nhất quán Các phương pháp thực tế để quản lý non-determinism trong hệ thống production Best practices cho các ứng dụng LLM đáng tin cậy Phiên 6: Enterprise-Grade Multi-Agent System – The Case of Startup Credit Scoring 🕘 11:30 SA – 12:00 TR\nCác chủ đề được đề cập Sự không phù hợp về cấu trúc giữa hệ thống ngân hàng và dữ liệu startup Single Agent: Khi nào nên và khi nào không nên dùng The Multi-Agent Paradigm Bản thiết kế của một Virtual Credit Committee Guardrails \u0026amp; Compliance Operational ROI \u0026amp; Implementation Roadmap Bài học chính Hệ thống multi-agent cung cấp giải pháp tinh vi cho các vấn đề kinh doanh phức tạp Hiểu khi nào nên dùng single agent so với multiple agents Compliance và guardrails là yếu tố thiết yếu trong các triển khai AI enterprise ROI có thể đo lường được thông qua tự động hóa thông minh và ra quyết định Trải nghiệm sự kiện \u0026amp; Bài học rút ra Tham gia sự kiện này là một trải nghiệm vô cùng quý báu, giúp tôi tiếp cận với các công nghệ AI tiên tiến, ứng dụng thực tế và best practices của ngành. Những điểm nổi bật chính bao gồm:\nCác ứng dụng AI đa dạng Khám phá nhiều khía cạnh của AI: từ hiểu biết ngữ cảnh đến các hệ thống enterprise-grade Học cách các công ty triển khai AI trên nhiều lĩnh vực và use case khác nhau Hiểu sâu cả các khái niệm mới nổi (Second AI Brain, multi-agent systems) và các thực hành hiện có Insights triển khai thực tế Nhận thức rõ tầm quan trọng của context trong hiệu quả AI Khám phá các giao diện ngôn ngữ tự nhiên giúp dân chủ hóa truy cập dữ liệu Học về tối ưu hóa hiệu suất ở quy mô toàn cầu với CloudFront Hiểu các chiến lược quản lý non-determinism của LLM trong production Các case study thực tế Nghiên cứu use case startup credit scoring cho thấy cách triển khai AI ở enterprise Học hỏi từ kinh nghiệm hackathon với dự án UTMorpho Hiểu rõ sự cân bằng giữa đổi mới nhanh chóng và độ tin cậy trong production Phát triển sự nghiệp và kỹ năng Học cách sinh viên có thể bắt đầu xây dựng với AI Hiểu rõ nhiều con đường sự nghiệp trong lĩnh vực AI và cloud technologies Kiến thức thực tế có thể áp dụng vào các dự án tương lai Hình ảnh sự kiện "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.2-week2/","title":"Worklog Tuần 2","tags":[],"description":"","content":"Mục tiêu tuần 2 Nắm vững dịch vụ lưu trữ đối tượng Amazon S3 (Simple Storage Service), Storage Classes và các quy tắc quản lý vòng đời dữ liệu S3 Lifecycle. Tìm hiểu bảo mật S3 Bucket Policies, SSE Encryption và triển khai Hosting Website tĩnh trên S3. Cấu hình Amazon CloudFront CDN tăng tốc phân phối nội dung web, tìm hiểu CloudFront Edge Computing (Lambda@Edge) và quản lý tài nguyên bằng AWS CLI / AWS Cloud9. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Command Line Operations with AWS CLI \u0026amp; AWS Cloud9: + Khởi tạo môi trường lập trình đám mây AWS Cloud9 + Cài đặt \u0026amp; cấu hình AWS CLI (Access Key, Secret Key, Default Region) + Thao tác quản lý tài nguyên AWS bằng câu lệnh CLI 11/05/2026 11/05/2026 https://000049.awsstudygroup.com https://000011.awsstudygroup.com 3 - Static Website Hosting with Amazon S3: + Buckets, Objects \u0026amp; Storage Classes (Standard, IA, Glacier, Deep Archive) + S3 Versioning, Object Locking \u0026amp; Quy tắc S3 Lifecycle chuyển đổi lớp lưu trữ tự động 12/05/2026 12/05/2026 https://000057.awsstudygroup.com 4 - S3 Security Best Practices: + Cấu hình Bucket Policies, ACLs, Block Public Access settings + Mã hóa dữ liệu tĩnh S3 SSE-S3 / SSE-KMS + Thực hành: Bật S3 Static Website Hosting, phân quyền đọc công khai cho website tĩnh 13/05/2026 13/05/2026 https://000069.awsstudygroup.com 5 - Content Delivery with Amazon CloudFront: + Khái niệm Mạng phân phối nội dung (CDN), Edge Locations, Distributions + Cấu hình Origin Access Control (OAC) bảo vệ S3 Bucket chỉ cho phép CloudFront truy cập + Tích hợp chứng chỉ SSL/TLS miễn phí qua AWS Certificate Manager (ACM) 14/05/2026 14/05/2026 https://000094.awsstudygroup.com 6 - Edge Computing with CloudFront \u0026amp; Lambda@Edge: + Khái niệm tính toán tại điểm biên Edge Computing với CloudFront Functions \u0026amp; Lambda@Edge + Thực hành: Triển khai CloudFront Distribution cho Website tĩnh S3, kiểm thử tốc độ tải và cấu hình Origin Access Control (OAC) 15/05/2026 15/05/2026 https://000130.awsstudygroup.com Kết quả đạt được tuần 2 Thành thạo thao tác điều khiển AWS CLI và môi trường phát triển AWS Cloud9. Quản lý tối ưu lưu trữ đối tượng trên Amazon S3 và thiết lập quy tắc Lifecycle tự động chuyển đổi tầng lưu trữ giúp tiết kiệm chi phí. Làm chủ bảo mật S3 Bucket Policies và mã hóa dữ liệu theo chuẩn Best Practices. Triển khai thành công Website tĩnh chuẩn sản xuất với Amazon S3, bảo mật bằng CloudFront OAC và tăng tốc qua CloudFront CDN. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/2-proposal/","title":"Bản đề xuất","tags":[],"description":"","content":"Smart Attendance SaaS Platform Giải pháp Nền tảng Chấm công Đa doanh nghiệp (Multi-Tenant) dựa trên Kiến trúc AWS Serverless Toàn diện 1. Tóm tắt điều hành Smart Attendance SaaS Platform là nền tảng quản lý điểm danh, chấm công và quản trị nhân sự đám mây thiết kế chuẩn SaaS (Software-as-a-Service) dành cho các doanh nghiệp vừa và nhỏ (SMEs) cũng như các tập đoàn đa chi nhánh. Hệ thống cho phép hàng trăm doanh nghiệp (Tenants) vận hành trên hạ tầng đám mây dùng chung nhưng đảm bảo tuyệt đối khả năng Cô lập dữ liệu (Tenant Data Isolation), phản hồi thời gian thực dưới 200ms và khả năng tự động mở rộng (Elastic Auto-scaling) khi có hàng ngàn yêu cầu điểm danh đồng thời vào khung giờ cao điểm.\nBằng cách tận dụng 100% hệ sinh thái AWS Serverless (bao gồm Amazon CloudFront, AWS WAF v2, AWS Shield, Amazon Cognito, Amazon API Gateway, AWS Lambda, AWS Step Functions, Amazon DynamoDB, Amazon S3, Amazon EventBridge, Amazon SQS, Amazon SES, AWS KMS, AWS Secrets Manager), hệ thống loại bỏ hoàn toàn chi phí bảo trì máy chủ, tối ưu chi phí hạ tầng ở mức gần như bằng 0 khi không có lượt truy cập (Pay-as-you-go) và đạt độ sẵn sàng cao (High Availability 99.99%).\n2. Tuyên bố vấn đề Vấn đề hiện tại Chấm công thủ công và nghẽn mạng giờ cao điểm: Các doanh nghiệp truyền thống sử dụng máy chấm công vân tay/thẻ từ hoặc file Excel thủ công. Vào các khung giờ cao điểm (7:45 AM - 8:15 AM), hàng ngàn nhân viên đồng thời điểm danh gây ra điểm nghẽn (bottleneck), quá tải API và đơ lag hệ thống. Chi phí hạ tầng và bảo trì cao: Việc tự triển khai hệ thống chấm công trên máy chủ truyền thống (EC2 / RDS / On-Premise) đòi hỏi chi phí đầu tư ban đầu lớn, chi phí duy trì máy chủ 24/7 dù ngoài giờ làm việc hệ thống không có lưu lượng sử dụng. Thách thức Multi-Tenancy và Bảo mật: Các giải pháp phần mềm thông thường dễ gặp rủi ro rò rỉ dữ liệu giữa các công ty (Cross-tenant data leakage) nếu không được thiết kế kiến trúc phân tách phân vùng dữ liệu (Partition Key Isolation) và phân quyền chặt chẽ từ tầng API. Thiếu khả năng tự động hóa báo cáo và cảnh báo: Việc tổng hợp và xuất báo cáo bảng công hàng tháng tốn nhiều thời gian xử lý thủ công của phòng HR, dễ sai sót và không tích hợp tự động với email notification hay webhook hệ thống bên thứ ba. Giải pháp đề xuất Nền tảng Smart Attendance SaaS giải quyết triệt để các bài toán trên thông qua kiến trúc AWS Serverless Optimized Pro:\nEdge \u0026amp; API Protection Layer: Sử dụng Amazon CloudFront kết hợp AWS WAF v2 và AWS Shield để phân phối ứng dụng React SPA, chặn truy cập trái phép, rate-limit chống tấn công DDoS/Botnet và bảo mật đường truyền API bằng Token xác thực độc quyền (x-origin-verify). Multi-tenant Identity Management: Amazon Cognito User Pool quản lý xác thực người dùng tích hợp sẵn Custom Attributes (tenantId, role, userId), hỗ trợ xác thực 2 yếu tố (TOTP MFA) và Advanced Security Mode. High-Performance Compute \u0026amp; Microservices: Bộ hàm AWS Lambda (Auth, Check-in, Check-out, Attendance History, Admin Management, Export Report API, Webhook, Subscription) xử lý song song không trạng thái (stateless), tự động mở rộng theo nhu cầu cao điểm. Single-Table Design Database: Amazon DynamoDB lưu trữ toàn bộ dữ liệu (Attendance, Users, Tenants) trong 1 bảng duy nhất (Single-Table Design) với Partition Key TENANT#\u0026lt;tenantId\u0026gt;, mang lại tốc độ truy xuất dưới 10ms và bảo mật cô lập tuyệt đối dữ liệu doanh nghiệp. Asynchronous Reporting Engine: Kết hợp AWS Step Functions Express Workflow và Amazon SQS để xử lý tạo báo cáo PDF/Excel/CSV bất đồng bộ, lưu trữ trên Amazon S3 (Intelligent-Tiering) và tự động gửi mail báo cáo qua Amazon SES. Lợi ích và Hoàn vốn đầu tư (ROI) Tối ưu chi phí đến 90%: Kiến trúc Serverless giúp doanh nghiệp chỉ trả tiền cho số lượng request và thời gian thực thi thực tế. Chi phí hạ tầng cho quy mô 100 Tenants (5,000 nhân viên) chỉ khoảng ~$9.93 USD/tháng, cực kỳ tiết kiệm so với việc vận hành máy chủ EC2/RDS 24/7 ($120 - $150 USD/tháng). Khả năng mở rộng vô hạn (Elastic Scalability): Hệ thống có khả năng đáp ứng mượt mà từ vài chục đến hàng trăm ngàn lượt check-in mỗi phút trong khung giờ cao điểm mà không cần can thiệp thủ công. Thời gian hoàn vốn (ROI): Tiết kiệm 95% thời gian tổng hợp bảng công hàng tháng của bộ phận HR, đồng thời các nhà cung cấp SaaS có thể thu hồi vốn đầu tư chỉ sau 2-3 tháng vận hành thương mại. 3. Kiến trúc giải pháp Nền tảng áp dụng mô hình kiến trúc AWS Serverless Multi-Layered Architecture hoàn chỉnh:\nCác tầng dịch vụ AWS sử dụng Tầng Kiến Trúc Dịch Vụ AWS Vai Trò \u0026amp; Chức Năng Chi Tiết Global Edge Layer Amazon Route 53 Quản lý DNS resolution toàn cầu, định tuyến tên miền chính xác. AWS WAF v2 Bảo vệ API \u0026amp; Web trước DDoS, Rate Limiting (1000 req/IP), chặn Bot \u0026amp; OWASP Top 10. AWS Shield Bảo vệ chống tấn công DDoS tầng 3/4 tự động. Amazon CloudFront CDN toàn cầu phân phối React SPA và mã hóa/proxy bảo mật cho API Gateway với Custom Header Verification. Auth \u0026amp; Ingress Layer Amazon Cognito Quản lý người dùng, JWT Token gắn kèm context {tenantId, role, userId}, TOTP MFA. Amazon API Gateway HTTP API v2 với Cognito JWT Authorizer, xác thực Header bảo mật từ CloudFront. AWS Secrets Manager Quản lý và tự động xoay vòng (Auto-rotation) Webhook API Keys \u0026amp; Credentials. Compute Layer AWS Lambda Xử lý logic microservices (Auth, Check-in/out, History, Admin, Export Report API, Billing, Webhook). AWS Step Functions Điều phối Express Workflow bất đồng bộ phức tạp cho công tác tạo báo cáo hàng loạt. Data \u0026amp; Storage Layer Amazon DynamoDB Lưu trữ NoSQL Single-Table Design, mã hóa KMS CMK, bật DynamoDB Streams (CDC). Amazon S3 Lưu trữ React SPA \u0026amp; file Báo cáo (PDF/Excel/CSV) với chế độ Intelligent-Tiering và Force SSL policy. Event \u0026amp; Messaging Amazon EventBridge EventBus \u0026amp; EventBridge Pipe định tuyến sự kiện CDC từ DynamoDB Streams (AttendanceCreated, ReportGenerated). Amazon SQS Hàng chờ thông báo \u0026amp; Email Queue kèm Dead Letter Queue (DLQ) đảm bảo không mất tin. Amazon SES Gửi email tự động chứa báo cáo, cảnh báo điểm danh và hóa đơn thanh toán. Operations \u0026amp; Security AWS KMS Quản lý khóa mã hóa dữ liệu Customer Managed Keys (CMK) cho DynamoDB, S3, SQS. Amazon CloudWatch Thu thập Log, Metrics, thiết lập Dashboard và Alarms cảnh báo sự cố API/Lambda tự động. AWS X-Ray Distributed Tracing giám sát hiệu năng và thời gian phản hồi end-to-end. AWS Security Hub \u0026amp; Inspector Quản trị an ninh hạ tầng, phát hiện lỗ hổng và cảnh báo mối đe dọa (GuardDuty). CodePipeline \u0026amp; CodeBuild Quy trình CI/CD tự động hóa kiểm thử, build artifact và deploy qua AWS SAM/CloudFormation. Quy trình vận hành \u0026amp; Dòng dữ liệu (16-Step Process Flow) Dựa trên sơ đồ kiến trúc platform_architecture.drawio, luồng dữ liệu hoạt động theo 16 bước được mã hóa chi tiết:\nDNS Resolution (1): Người dùng gửi yêu cầu DNS qua Amazon Route 53. HTTPS Ingress (2): Yêu cầu HTTPS đến Amazon CloudFront, được bảo vệ bởi AWS WAF v2 \u0026amp; AWS Shield. Static Content (3): Web App (React SPA) được tải trực tiếp từ Amazon S3 thông qua CloudFront CDN. Authentication (4): Người dùng/Mobile App đăng nhập qua Amazon Cognito, nhận về Cognito JWT Token mang thông tin {tenantId, role, userId}. API Proxy Path (4a \u0026amp; 5): Yêu cầu API gửi kèm JWT Token và Secret Header x-origin-verify từ CloudFront đến API Gateway. API Gateway Execution (6): API Gateway kiểm tra JWT Authorizer \u0026amp; Header, sau đó kích hoạt hàm AWS Lambda tương ứng (Check-in, Check-out, History). Async Report Request (7): Khi yêu cầu xuất báo cáo lớn, request được đẩy vào Amazon SQS Queue để giải phóng giao diện lập tức. CDC Capture (8a \u0026amp; 8b): DynamoDB Streams ghi nhận biến động dữ liệu (Change Data Capture) và đẩy sang EventBridge Pipe tới Amazon EventBridge. Workflow Execution (9): AWS Step Functions Engine nhận request từ SQS, điều phối các hàm Lambda tạo file báo cáo chi tiết. Transactional Data Ops (10): Lambda trực tiếp ghi/đọc dữ liệu vào Amazon DynamoDB theo chuẩn Single-Table Design với Partition Key TENANT#\u0026lt;tenantId\u0026gt;. Report Storage (11): File báo cáo (PDF, Excel, CSV) được lưu vào Amazon S3 Bucket (cấu hình S3 Intelligent-Tiering để tối ưu chi phí). Notification Event (12 \u0026amp; 13): EventBridge kích hoạt đẩy thông báo vào SQS Email Queue, hàm Lambda Email Worker tiêu thụ tin nhắn theo lô (batch). Secured Email Delivery (14): Lambda Email Worker gọi Amazon SES để gửi mail kèm link tải báo cáo an toàn cho người dùng. Outbound Webhook (15): Lambda Webhook gửi cảnh báo thời gian thực đến các hệ thống bên ngoài (Slack, Teams, HRM). B2B Billing Integration (16 \u0026amp; 16a): Lambda Subscription tương tác với Cổng thanh toán (Payment Gateway). Khi thanh toán hoàn tất, Webhook trả về API Gateway (16a) để cập nhật trạng thái doanh nghiệp. 4. Triển khai kỹ thuật Các giai đoạn triển khai Dự án được triển khai theo 4 giai đoạn chuẩn hóa:\nGiai đoạn 1: Thiết kế Kiến trúc \u0026amp; Data Model (Tuần 1–2) Thiết kế Single-Table Design trên DynamoDB (Access Patterns: Employee Check-in, Check-out, Monthly Summary, Tenant Admin Query). Cấu hình Cognito User Pool, Custom Attributes (tenantId, role) và Security Policies. Lập sơ đồ kiến trúc tổng thể và luồng bảo mật trên CloudFront + WAF v2 + API Gateway. Giai đoạn 2: Xây dựng Core Serverless Backend với AWS SAM (Tuần 3–5) Đóng gói hạ tầng dưới dạng mã (IaC) sử dụng AWS SAM / CloudFormation (template.yaml). Lập trình các hàm Lambda (Node.js 20) cho Auth, Check-in/out, History, Admin, Report Export API, Webhook. Cấu hình EventBridge Pipe, SQS Queue, SQS Email DLQ và Step Functions Express Workflows. Giai đoạn 3: Phát triển Frontend React SPA \u0026amp; CloudFront Integration (Tuần 6–7) Xây dựng giao diện Dashboard cho Admin và Employee Web App bằng React + Vite + TailwindCSS. Tích hợp Cognito SDK cho Đăng nhập/Đăng ký, Refresh Token và phân quyền vai trò. Đóng gói static site và triển khai lên S3 Bucket + CloudFront Distribution với Secret Origin Verification Header. Giai đoạn 4: Kiểm thử, Bảo mật, CI/CD \u0026amp; Đưa vào Vận hành (Tuần 8) Xây dựng luồng CI/CD với AWS CodePipeline và AWS CodeBuild (quét lỗ hổng với Amazon Inspector). Kiểm thử tải (Load Testing) giả lập 10,000 lượt check-in đồng thời trong 1 phút. Đánh giá an ninh hạ tầng với AWS Security Hub, bật theo dõi AWS X-Ray \u0026amp; CloudWatch Alarms. Yêu cầu kỹ thuật \u0026amp; Công nghệ Frontend: React.js, Vite, TailwindCSS, AWS Amplify/Cognito JS SDK. Backend: Node.js 20.x (Runtime AWS Lambda), AWS SAM (Serverless Application Model), AWS SDK v3. Database: Amazon DynamoDB (Single-Table Design, On-Demand Capacity Mode, DynamoDB Streams). Storage \u0026amp; CDN: Amazon S3 (Static Web \u0026amp; Report Storage), Amazon CloudFront (Edge Network, TLS 1.3). Security \u0026amp; Auth: Amazon Cognito, AWS WAF v2, AWS KMS (CMK), AWS Secrets Manager. Orchestration \u0026amp; Events: AWS Step Functions, Amazon EventBridge, Amazon SQS. 5. Lộ trình \u0026amp; Mốc triển khai +-----------------------------------------------------------------------------------+ | Tháng 1: Khảo sát \u0026amp; Kế hoạch | Tháng 2: Triển khai Backend \u0026amp; Data | | - Chốt yêu cầu \u0026amp; Data Schema | - Xây dựng AWS SAM Template | | - Thiết kế OpenAPI \u0026amp; Cognito | - Lập trình Lambda Microservices \u0026amp; DynamoDB | +---------------------------------+-------------------------------------------------+ | Tháng 3: Frontend \u0026amp; Integration | Tháng 4: Testing, Security \u0026amp; Go-Live | | - Phát triển React Dashboard | - Load test cao điểm, Audit AWS Security Hub | | - Kết nối API Gateway \u0026amp; SES | - Thiết lập CI/CD CodePipeline \u0026amp; Chạy chính thức| +-----------------------------------------------------------------------------------+ Mốc 1 (Cuối Tháng 1): Hoàn tất bản vẽ kiến trúc chi tiết, SAM template mẫu và Cognito User Pool. Mốc 2 (Cuối Tháng 2): Hoàn thành bộ API Backend (Check-in/out, Báo cáo, Webhook) và DynamoDB Single-Table. Mốc 3 (Cuối Tháng 3): Hoàn thiện Web Dashboard cho Admin/HR và Employee App. Mốc 4 (Cuối Tháng 4): Đưa toàn bộ hệ thống lên môi trường Production trên AWS Cloud. 6. Phân tích Chi phí Chi tiết \u0026amp; ROI (Chính xác theo 24 Nút Dịch vụ trên Diagram) Dựa trên kiểm đếm chính xác 24 nút tài nguyên (resource nodes) thuộc 22 dịch vụ AWS xuất hiện trên sơ đồ kiến trúc platform_architecture.drawio, dưới đây là bảng tính toán chi phí vận hành hàng tháng chi tiết:\nBảng Chi Tiết Chi Phí Theo Đúng 24 Nút Trên Sơ Đồ Kiến Trúc (Quy mô Standard: 100 Tenants ~ 5,000 Nhân Viên, 3M Requests/Tháng) STT Dịch Vụ AWS Trên Diagram Số Lượng Nút (Instances) Thông Số \u0026amp; Đơn Giá Sử Dụng (Hàng Tháng) Chi Phí (USD/Tháng) 1 Amazon Route 53 1 Node 1 Hosted Zone ($0.50) + 3.0M DNS Queries ($1.20) $1.70 2 AWS WAF v2 1 Node 1 Web ACL ($5.00) + 1 Managed Rule ($1.00) + 3M Req ($1.80) $7.80 3 AWS Shield 1 Node Layer 3/4 DDoS Protection (Miễn phí đi kèm CloudFront) $0.00 4 Amazon CloudFront 1 Node 50GB Data Transfer Out + 3M HTTPS Req (Free Tier 1TB) $0.00 5 Amazon S3 (SPA Hosting) 1 Node 1GB React Static Assets + 100k GET Requests $0.06 6 Amazon Cognito 1 Node 5,000 MAUs User Auth (Free Tier hỗ trợ đến 50,000 MAUs) $0.00 7 Amazon API Gateway 1 Node HTTP API v2: 3,000,000 Requests ($1.00 / 1M Requests) $3.00 8 AWS Secrets Manager 1 Node 1 Secret Key ($0.40) + API Calls ($0.50) $0.90 9 AWS Lambda (8 Functions) 8 Nodes Webhook, Check-in, Check-out, Attendance, Report, Admin, Subscription, Email Worker (3M invocations, avg 100ms) $0.63 10 AWS Step Functions Engine 1 Node 10,000 Express Workflow Executions ($1.00 / 1M Executions) $0.02 11 Amazon SQS (Report Queue) 1 Node 20,000 Report Queue Messages (Free Tier 1,000,000 SQS Req) $0.00 12 Amazon SQS (Email Queue) 1 Node 20,000 Email Queue Messages (Free Tier 1,000,000 SQS Req) $0.00 13 Amazon DynamoDB 1 Node Single-Table: 3M Writes ($3.75) + 6M Reads ($1.50) + 5GB ($1.25) $6.50 14 DynamoDB Streams 1 Node CDC Event Streams (2.5M stream requests miễn phí) $0.00 15 AWS KMS CMK 1 Node 1 Customer Managed Key ($1.00) + Request Encryption ($0.09) $1.09 16 Amazon S3 (Report Storage) 1 Node 10GB Reports (Intelligent-Tiering Lifecycle) + PUT/GET $0.28 17 Amazon EventBridge 1 Node EventBus: 1,000,000 Events routed ($1.00 / 1M Events) $1.00 18 Amazon SES 1 Node 10,000 Transactional \u0026amp; Report Emails ($0.10 / 1,000 Emails) $1.00 19 Amazon CloudWatch 1 Node Logs Ingestion 2GB ($1.00) + Basic Metrics \u0026amp; Alarms ($0.50) $1.50 20 AWS X-Ray 1 Node 1,000,000 Distributed Traces Sampled ($5.00 / 1M Traces) $4.50 21 AWS CloudFormation 1 Node Infrastructure as Code Resource Management (Miễn phí) $0.00 22 AWS CodePipeline 1 Node 1 Active CI/CD Pipeline $1.00 23 AWS CodeBuild (Inspector) 1 Node 100 Build Minutes ($0.50) + Container Vulnerability Scan ($0.50) $1.00 24 AWS Security Hub \u0026amp; GuardDuty 1 Node Infrastructure Posture \u0026amp; Threat Detection Alerts $1.50 TỔNG CHI PHÍ HẠ TẦNG 24 Nodes Đầy đủ 24 nút dịch vụ trên Diagram (Full Protection \u0026amp; Tracing) ~$35.51 USD/tháng [!NOTE] Tối ưu chi phí giai đoạn khởi chạy (Basic Profile): Nếu tắt WAF nâng cao và X-Ray tracing giai đoạn đầu, tổng chi phí hạ tầng thực tế của toàn bộ 24 nút Serverless chỉ rơi vào khoảng ~$23.21 USD/tháng.\nSo Sánh Chi Phí Theo Quy Mô Doanh Nghiệp (Multi-Tier Scalability Comparison) +---------------------------------------------------------------------------------------------------+ | Quy Mô (Scale) | Mức Sử Dụng (Metrics) | Chi Phí Serverless | Máy Chủ EC2/RDS| +----------------------------+----------------------------------+--------------------+----------------+ | Starter (10 Tenants) | 500 Staff · 300K Requests/tháng | ~$4.20 USD/tháng | ~$85.00 USD | | Standard (100 Tenants) | 5,000 Staff · 3M Requests/tháng | ~$35.51 USD/tháng | ~$165.00 USD | | Enterprise (1,000 Tenants) | 50,000 Staff · 30M Requests/tháng| ~$156.80 USD/tháng | ~$650.00 USD | +---------------------------------------------------------------------------------------------------+ [!TIP] Tỷ lệ Hoàn vốn (ROI):\nTiết kiệm đến 78% - 95% chi phí hạ tầng hàng tháng so with mô hình máy chủ EC2 + RDS duy trì 24/7. Không chi phí nhàn rỗi (Zero Idle Cost): Ngoài giờ làm việc (đêm và ngày nghỉ), chi phí compute và API giảm về mức $0 USD. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/3-blogsposted/3.2-blog2/","title":"Blog 2","tags":[],"description":"","content":"AWS Backup bổ sung Item-Level Recovery cho Amazon EBS và Amazon S3: Khôi phục đúng tệp cần thiết thay vì toàn bộ Backup Xin chào mọi người!\nMột trong những tình huống khá phổ biến khi vận hành hệ thống là người dùng hoặc ứng dụng vô tình xóa nhầm dữ liệu. Đó có thể chỉ là một file cấu hình, một file log, một tài liệu PDF hoặc một video được lưu trên Amazon EBS hay Amazon S3. Tuy nhiên, trước đây việc khôi phục lại đúng một tệp như vậy lại không hề đơn giản.\nĐối với Amazon EBS Snapshot hoặc các bản sao lưu được quản lý bởi AWS Backup, quản trị viên thường phải khôi phục toàn bộ volume, gắn volume vào EC2 rồi mới tìm và sao chép lại đúng file cần thiết. Quy trình này vừa mất thời gian, vừa phát sinh thêm chi phí lưu trữ và tài nguyên tính toán.\nĐể giải quyết vấn đề này, AWS đã giới thiệu AWS Backup Search và Item-Level Recovery, cho phép tìm kiếm và khôi phục trực tiếp từng file riêng lẻ từ các bản sao lưu của Amazon EBS và Amazon S3.\n1. ITEM-LEVEL RECOVERY LÀ GÌ VÀ CÁC TRƯỜNG HỢP SỬ DỤNG THỰC TẾ Item-Level Recovery (ILR) là khả năng khôi phục dữ liệu ở cấp độ từng đối tượng (file hoặc object) thay vì phải khôi phục toàn bộ bản sao lưu. Điều này đồng nghĩa với việc nếu chỉ cần lấy lại một file duy nhất, bạn không còn phải restore cả một EBS Volume dung lượng hàng trăm GB hoặc nhiều TB nữa.\nTính năng này giải quyết hiệu quả các bài toán thực tế:\nKhôi phục file bị xóa nhầm: Khi nhân viên vô tình xóa file cấu hình của ứng dụng hoặc một tài liệu quan trọng trên volume của EC2, quản trị viên chỉ cần tìm đúng file đó trong AWS Backup và thực hiện Item-Level Restore chỉ trong vài phút. Phục vụ Audit và điều tra sự cố: Dễ dàng truy xuất các tài liệu cũ như file PDF hợp đồng, báo cáo Excel, video giám sát hay file CSV xuất dữ liệu mà không cần mount snapshot hay restore cả volume. Rút ngắn thời gian phục hồi (RTO): Giúp rút ngắn thời gian downtime của các hệ thống Production từ hàng giờ xuống chỉ còn vài phút khi sự cố mất file xảy ra. 2. CƠ CHẾ HOẠT ĐỘNG VÀ CÁC BƯỚC CHUẨN BỊ CHO DEVOPS / OPERATIONS Để hệ thống có thể xác định đúng file cần phục hồi mà không phải quét toàn bộ snapshot, AWS Backup dựa trên cơ chế lập chỉ mục (Indexing) metadata của các file trong quá trình tạo Backup.\nCác lưu ý và bước triển khai quan trọng:\nBật Backup Indexing: Đây là điều kiện tiên quyết khi tạo Backup Plan hoặc chạy On-Demand Backup để AWS lập chỉ mục dữ liệu. Sử dụng Tag hợp lý: Gắn Tag nhất quán giữa EC2 Instance, Amazon EBS Volume và Backup Vault để dễ dàng quản lý cũng như tìm kiếm trong môi trường nhiều workload. Sử dụng AWS Backup Search: Truy vấn trực tiếp file cần tìm theo tên file, đường dẫn, định dạng, khoảng thời gian hoặc metadata rồi thực hiện Item-Level Restore. Tối ưu vận hành và bảo vệ dữ liệu: Kết hợp thiết lập Backup Plan phù hợp, kiểm thử khả năng Restore định kỳ và áp dụng AWS Backup Vault Lock để tăng cường khả năng chống ransomware. KẾT LUẬN AWS Backup Search và Item-Level Recovery là một cải tiến đáng giá dành cho các đội DevOps và Cloud Operations. Thay vì phải khôi phục toàn bộ Snapshot chỉ để lấy lại một file nhỏ, giờ đây bạn có thể tìm kiếm và phục hồi chính xác dữ liệu cần thiết trong thời gian ngắn hơn rất nhiều, giúp giảm chi phí vận hành và cải thiện đáng kể chỉ số RTO.\nNguồn tham khảo: AWS Storage Blog - Enable item-level search and recovery for Amazon EC2 with AWS Backup #AWS #AWSBackup #AmazonEBS #AmazonS3 #DisasterRecovery #DataProtection #DevOps #CloudComputing\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/5-workshop/5.2-prerequiste/","title":"Chuẩn bị môi trường","tags":[],"description":"","content":"Chuẩn bị Môi trường Triển khai Để bắt đầu chuỗi thực hành triển khai dự án Smart Attendance SaaS Platform, bạn cần chuẩn bị các công cụ và cấu hình môi trường dưới đây trên máy tính cá nhân hoặc môi trường AWS Cloud9.\n1. Yêu cầu Cài đặt Công cụ (Prerequisites) Hãy đảm bảo máy tính của bạn đã được cài đặt các công cụ lệnh sau:\nAWS CLI (v2.x): Công cụ dòng lệnh giao tiếp với tài nguyên AWS Cloud. aws --version AWS SAM CLI: Công cụ xây dựng và đóng gói ứng dụng Serverless. sam --version Node.js (v20.x trở lên) \u0026amp; npm: Môi trường thực thi JavaScript cho Lambda microservices \u0026amp; React SPA. node -v npm -v Git: Quản lý mã nguồn. git --version 2. Hướng dẫn chi tiết Tạo IAM User \u0026amp; Khởi tạo Access Keys Để đảm bảo nguyên tắc bảo mật, không bao giờ dùng tài khoản Root (Root Account) để thực hành bài lab. Bạn sẽ tạo một IAM User dành riêng cho việc quản trị và triển khai tài nguyên theo các bước sau:\nBước 2.1: Tạo IAM User trên AWS Management Console Đăng nhập vào AWS IAM Console. Tại menu bên trái, chọn Users ➔ Bấm nút Create user. Điền thông tin User: User name: WorkshopAdmin (hoặc tên tùy chọn). Provide user access to the AWS Management Console: Có thể tích chọn nếu muốn cho phép User đăng nhập giao diện Web Console. Bấm Next. Bước 2.2: Gán Quyền (Permissions) Tại phần Permissions options, chọn Attach policies directly. Tìm kiếm và tích chọn policy: AdministratorAccess (Quyền quản trị tối thiểu cần thiết để SAM CLI tạo các tài nguyên CloudFormation, IAM Roles, Lambda, DynamoDB, API Gateway, Cognito, S3, CloudFront, SQS, Step Functions\u0026hellip;). Bấm Next ➔ Kiểm tra lại thông tin ➔ Bấm Create user. Bước 2.3: Tạo Access Key ID \u0026amp; Secret Access Key cho AWS CLI Nhấp vào tên User vừa tạo (WorkshopAdmin) trong danh sách Users. Chọn tab Security credentials. Cuộn xuống phần Access keys ➔ Bấm nút Create access key. Chọn mục đích sử dụng: Command Line Interface (CLI). Tích chọn vào ô cam kết \u0026ldquo;I understand the above recommendation and want to proceed to create an access key.\u0026rdquo; ➔ Bấm Next. (Tùy chọn) Nhập mô tả Tag (ví dụ: AWS CLI for Workshop) ➔ Bấm Create access key. LƯU Ý QUAN TRỌNG: Tải file .csv chứa Access Key ID và Secret Access Key về máy hoặc sao chép ngay. (Bạn sẽ không thể xem lại Secret Access Key sau khi đóng cửa sổ này). 3. Cấu hình Tài khoản AWS CLI trên Máy tính Sau khi có Access Key, mở Terminal và chạy lệnh cấu hình credentials:\naws configure Nhập các thông tin đã tạo ở Bước 2.3:\nAWS Access Key ID [None]: AKIAXXXXXXXXXXXXXXXX AWS Secret Access Key [None]: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY Default region name [None]: ap-southeast-1 Default output format [None]: json Kiểm tra kết nối tài khoản thành công:\naws sts get-caller-identity Kết quả trả về dạng JSON hiển thị UserId và Arn của WorkshopAdmin là bạn đã cấu hình thành công!\n4. Tải Mã nguồn Dự án (Source Code) Clone repository mã nguồn dự án smart-attendance-saas về máy local:\ncd ~/Documents/AWS git clone https://github.com/your-repo/smart-attendance-saas.git cd smart-attendance-saas Cấu trúc thư mục mã nguồn bao gồm:\nsmart-attendance-saas/ ├── backend/ # Mã nguồn Serverless Backend (AWS SAM) │ ├── src/ # Các hàm Lambda microservices │ ├── template.yaml # AWS SAM Infrastructure Template │ └── samconfig.toml # Cấu hình tham số deployment ├── frontend/ # Mã nguồn React SPA Frontend (Vite + Tailwind) │ ├── src/ # Components và giao diện Dashboard │ └── package.json # Quản lý dependencies └── platform_architecture.drawio # Sơ đồ kiến trúc hệ thống Bạn đã sẵn sàng để bước sang bài thực hành tiếp theo!\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/4-eventparticipated/4.3-event3/","title":"Sự kiện 3","tags":[],"description":"","content":"Báo cáo tổng kết: FCAJ Community Day Mục Tiêu Sự Kiện Hiểu rõ hành trình chuyển đổi và định hướng chiến lược của FCAJ trở thành Đối tác của AWS (AWS Partner). Tìm hiểu lộ trình nghề nghiệp, các kỹ năng cần thiết và các bước để trở thành Chuyên viên Phân tích Dữ liệu (Data Analyst). Khám phá văn hóa doanh nghiệp và các phương thức giao tiếp hiệu quả trong môi trường chuyên nghiệp. Khám phá lộ trình học tập, công cụ và tư duy cần thiết để trở thành kỹ sư DevOps. Nội Dung Nổi Bật Tầm nhìn chiến lược từ các diễn giả về sự hợp tác giữa FCAJ và AWS. Hướng dẫn toàn diện về các công cụ dữ liệu, phân tích và kinh doanh thông minh cho người mới bắt đầu. Hội thảo thực tế về văn hóa nơi công sở, tinh thần làm việc nhóm và đạo đức nghề nghiệp. Các câu chuyện thực tế về chuyển đổi sang DevOps và các thực hành tự động hóa hạ tầng cốt lõi. Phiên 1: FCAJ to AWS partner Các chủ đề được đề cập Tầm nhìn và lộ trình chuyển đổi của FCAJ thành Đối tác AWS. Lợi ích của mối quan hệ hợp tác đối với cộng đồng, sinh viên và doanh nghiệp. Các yêu cầu, chứng chỉ và năng lực cần thiết để đạt được trạng thái đối tác. Cơ hội hợp tác và các sáng kiến sắp tới trong mạng lưới đối tác AWS (APN). Bài học chính Mối quan hệ đối tác với AWS giúp nâng cao uy tín của FCAJ và khả năng tiếp cận các tài nguyên cloud tiên tiến. Các thành viên cộng đồng có cơ hội tham gia các chương trình đào tạo chuyên sâu và dự án chung. Phát triển nhân tài có chứng chỉ AWS là yếu tố then chốt để duy trì và phát triển quan hệ đối tác. Phiên 2: Làm thế nào để trở thành Data Analyst (How to become Data Analysis) Các chủ đề được đề cập Vai trò của Data Analyst trong các doanh nghiệp hiện đại định hướng bằng dữ liệu. Kỹ năng kỹ thuật cốt lõi: SQL, Python, Excel và các công cụ BI (PowerBI, Tableau, QuickSight). Kỹ năng mềm quan trọng: hiểu biết về lĩnh vực kinh doanh (business domain) và kể chuyện bằng dữ liệu (data storytelling). Xây dựng portfolio dự án thực tế với các bộ dữ liệu thực tế. Bài học chính Phân tích dữ liệu không chỉ là sử dụng công cụ kỹ thuật mà quan trọng là đưa ra các insights hỗ trợ kinh doanh. Nền tảng vững chắc về SQL và mô hình hóa dữ liệu là bắt buộc. Giao tiếp và kỹ năng kể chuyện là chìa khóa để kết nối giữa dữ liệu kỹ thuật và quyết định kinh doanh. Phiên 3: Văn hóa doanh nghiệp (Culture in business) Các chủ đề được đề cập Định nghĩa văn hóa tổ chức và tác động của nó đến sự phát triển cá nhân. Các phương thức giao tiếp hiệu quả trong môi trường chuyên nghiệp. Động lực hợp tác, trách nhiệm giải trình và đạo đức làm việc. Giải quyết xung đột và xây dựng chu trình phản hồi tích cực tại công sở. Bài học chính Văn hóa doanh nghiệp là động lực thúc đẩy sự gắn kết và năng suất của đội ngũ. Giao tiếp cởi mở, trung thực và kịp thời là chìa khóa để hợp tác thành công. Tiếp nhận phản hồi mang tính xây dựng là yếu tố quan trọng để phát triển sự nghiệp. Phiên 4: Làm thế nào để trở thành DevOps (How to become DevOps) Các chủ đề được đề cập Triết lý DevOps: phá vỡ rào cản giữa đội ngũ phát triển (Dev) và vận hành (Ops). Kỹ năng cốt lõi: CI/CD pipelines, Infrastructure as Code (IaC), monitoring và các dịch vụ cloud. Chuyển đổi từ vai trò phát triển phần mềm hoặc quản trị hệ thống sang DevOps. Các công cụ tự động hóa chính: GitHub Actions, Terraform, AWS CloudFormation và Docker. Bài học chính DevOps là tư duy văn hóa về tự động hóa, cải tiến liên tục và chia sẻ trách nhiệm. Cần làm chủ các công cụ quản lý phiên bản, CI/CD và hạ tầng dưới dạng code (IaC). Tự động hóa các tác vụ lặp đi lặp lại giúp giảm thiểu sai sót và tăng tốc độ bàn giao phần mềm. Trải nghiệm sự kiện \u0026amp; Bài học rút ra Sự kiện FCAJ Community Day đã mang lại nhiều bài học giá trị về văn hóa công sở, chuẩn bị hành trang nghề nghiệp và định hướng kỹ thuật chuyên sâu cho các mảng Data Analysis và DevOps.\nBài học rút ra Phát triển đối tác: Lộ trình FCAJ thành AWS Partner thể hiện định hướng chiến lược vững chắc của cộng đồng. Lộ trình nghề nghiệp rõ ràng: Có được cái nhìn toàn diện và các bước chuẩn bị cụ thể cho các vị trí Data Analyst và DevOps. Văn hóa làm việc: Nhận thức rõ tầm quan trọng của việc hòa nhập và xây dựng văn hóa doanh nghiệp tích cực. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.3-week3/","title":"Worklog Tuần 3","tags":[],"description":"","content":"Mục tiêu tuần 3 Hiểu tổng quan và cách hoạt động của Amazon RDS (Relational Database Service) và các database engines (MySQL, PostgreSQL, Aurora). Tìm hiểu cơ chế High Availability với Multi-AZ Deployment và mở rộng khả năng đọc với Read Replicas. Tiếp cận cơ sở dữ liệu NoSQL với Amazon DynamoDB (Tables, Primary Key, Sort Key, Indexing) và bộ nhớ đệm In-Memory Caching với Amazon ElastiCache. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Database Essentials with Amazon RDS: + Database Engines (MySQL, PostgreSQL, Aurora) + Instance Classes, Storage Types (gp3, io2) \u0026amp; Subnet Groups + Automated Backups, Snapshots \u0026amp; Parameter Groups 18/05/2026 18/05/2026 https://000005.awsstudygroup.com 3 - RDS High Availability \u0026amp; Scaling: + Multi-AZ deployment (Synchronous replication \u0026amp; Automatic Failover) + Read Replicas (Asynchronous replication cho read scaling) + Thực hành: Khởi tạo Amazon RDS MySQL Multi-AZ trong Private Subnets, cấu hình Security Group hạn chế truy cập 19/05/2026 19/05/2026 https://000005.awsstudygroup.com 4 - NoSQL Database Essentials with Amazon DynamoDB: + Partition Key, Sort Key \u0026amp; Composite Primary Key + Read/Write Capacity Modes (On-Demand vs Provisioned) + Local Secondary Indexes (LSI) \u0026amp; Global Secondary Indexes (GSI) 20/05/2026 20/05/2026 https://000060.awsstudygroup.com 5 - In-Memory Caching with Amazon ElastiCache: + Tổng quan bộ nhớ đệm In-Memory Caching (Redis vs Memcached) + Chiến lược Cache-Aside và Write-Through tối ưu hiệu năng truy vấn DB + Thực hành: Tạo bảng DynamoDB và thực thi các thao tác CRUD từ AWS CLI/SDK 21/05/2026 21/05/2026 https://000061.awsstudygroup.com https://000060.awsstudygroup.com 6 - Database Migration Overview (AWS DMS \u0026amp; SCT): + Tổng quan chuyển đổi dữ liệu với AWS Schema Conversion Tool (SCT) và AWS Database Migration Service (DMS) + So sánh và lựa chọn giải pháp lưu trữ: Relational (RDS) vs NoSQL (DynamoDB) vs Cache (ElastiCache) 22/05/2026 22/05/2026 https://000043.awsstudygroup.com Kết quả đạt được tuần 3 Làm chủ việc khởi tạo, bảo mật và kết nối Amazon RDS instance từ môi trường ứng dụng trong Private Subnet. Hiểu sâu cơ chế sao lưu tự động và khả năng khôi phục Multi-AZ High Availability của RDS. Thành thạo mô hình dữ liệu NoSQL, thiết lập chỉ mục GSI/LSI và truy vấn dữ liệu trên Amazon DynamoDB. Đánh giá và áp dụng được giải pháp In-Memory Caching tăng tốc độ phản hồi ứng dụng web. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/3-blogsposted/3.3-blog3/","title":"Blog 3","tags":[],"description":"","content":"Tối ưu chi phí Amazon EBS: Vì sao doanh nghiệp nên chuyển từ gp2 sang gp3? Xin chào mọi người!\nAmazon EBS (Elastic Block Store) là dịch vụ lưu trữ block storage được sử dụng phổ biến cùng Amazon EC2 trong nhiều hệ thống Production. Qua nhiều năm, không ít doanh nghiệp vẫn đang vận hành khối lượng lớn EBS Volume sử dụng loại gp2 (General Purpose SSD) bởi đây từng là lựa chọn mặc định của AWS.\nTuy nhiên, kể từ khi gp3 được giới thiệu, AWS đã nhiều lần khuyến nghị người dùng chuyển đổi sang loại ổ đĩa thế hệ mới này. Không chỉ có chi phí thấp hơn, gp3 còn mang đến hiệu năng ổn định và khả năng cấu hình linh hoạt hơn đáng kể. Theo AWS Cost Optimization Hub, chỉ riêng việc chuyển đổi từ gp2 sang gp3 có thể giúp doanh nghiệp tiết kiệm tới 20% chi phí lưu trữ EBS, đồng thời cải thiện hiệu năng của hệ thống mà không cần thay đổi kiến trúc ứng dụng hay gián đoạn dịch vụ.\n1. SO SÁNH KIẾN TRÚC VÀ HIỆU NĂNG: gp2 VS gp3 Sự khác biệt cốt lõi giữa hai thế hệ ổ đĩa nằm ở cơ chế phân bổ hiệu năng:\ngp2 (Hiệu năng phụ thuộc Dung lượng): Hiệu năng của ổ đĩa bị khóa chặt với dung lượng lưu trữ (3 IOPS/GB). Nếu ứng dụng yêu cầu nhiều IOPS hơn, bạn buộc phải tăng dung lượng Volume (ví dụ: muốn có 3.000 IOPS thì ổ đĩa phải đạt từ 1.000 GB trở lên), gây lãng phí chi phí cho phần dung lượng không thực sự sử dụng. gp3 (Tách biệt Dung lượng và Hiệu năng): Thiết kế độc lập hoàn toàn giữa Dung lượng, IOPS và Throughput. Một Volume gp3 mặc định đã cung cấp sẵn 3.000 IOPS và 125 MB/s Throughput hoàn toàn miễn phí mà không phụ thuộc vào kích thước ổ đĩa. Khi cần hiệu năng cao hơn, bạn chỉ cần mua thêm IOPS hoặc Throughput riêng lẻ mà không cần mở rộng dung lượng. So sánh nhanh Đơn giá lưu trữ: gp3 thấp hơn tới 20% so với gp2 trên tất cả các Region. Mức Baseline mặc định: gp2 đạt 3 IOPS/GB (tối đa 16.000 IOPS), trong khi gp3 cung cấp sẵn 3.000 IOPS cố định (tối đa 16.000 IOPS). Throughput mặc định: gp2 từ 128 MB/s đến 250 MB/s (tùy dung lượng), còn gp3 cố định 125 MB/s (có thể chủ động nâng lên 1.000 MB/s). Cơ chế mở rộng: gp2 buộc phải mua thêm GB để tăng hiệu năng, còn gp3 cho phép tùy chỉnh độc lập GB, IOPS và Throughput. 2. LỢI ÍCH CỐT LÕI VÀ CÁC WORKLOAD ƯU TIÊN Tối ưu ngân sách FinOps ngay lập tức: Đơn giá GB/tháng của gp3 thấp hơn khoảng 20% so với gp2. Với các hệ thống vận hành hàng trăm hoặc hàng nghìn Volume, việc chuyển đổi mang lại khoản tiết kiệm chi phí vận hành hàng tháng rất lớn. Chuyển đổi Zero-Downtime: Nhờ tính năng Amazon EBS Elastic Volumes, việc chuyển từ gp2 sang gp3 diễn ra trực tiếp trên Volume đang hoạt động. Máy chủ EC2 tiếp tục chạy bình thường, không cần reboot, không cần restore dữ liệu và không ảnh hưởng tới ứng dụng. Các Workload ưu tiên chuyển đổi Web Application \u0026amp; API Server Database cỡ nhỏ và trung bình (MySQL, PostgreSQL, MongoDB, SQL Server) Bastion Host, Monitoring Server (Prometheus, Zabbix) CI/CD Workers (Jenkins, GitLab Runner) File Server \u0026amp; Storage Node 3. QUY TRÌNH RÀ SOÁT, TỰ ĐỘNG HÓA VÀ THEO DÕI CHO DEVOPS Để triển khai chuyển đổi hàng loạt một cách an toàn và hiệu quả, đội ngũ DevOps có thể thực hiện theo quy trình kỹ thuật sau:\nBước 1: Rà soát các Volume gp2 hiện có\nSử dụng các công cụ quản trị như AWS Cost Optimization Hub, AWS Cost Explorer hoặc AWS CLI để định danh các Volume cần nâng cấp và ước tính chi phí tiết kiệm.\nBước 2: Tự động hóa quá trình chuyển đổi (IaC \u0026amp; Automation)\nThay vì thao tác thủ công từng Volume trên AWS Management Console, nên sử dụng AWS Systems Manager (SSM) Automation, Lambda để gọi API ModifyVolume nâng cấp hàng loạt. Đối với Infrastructure as Code (Terraform / CloudFormation / AWS CDK), cập nhật thuộc tính volume_type = \u0026quot;gp3\u0026quot; trong mã nguồn quản lý hạ tầng để tránh việc IaC ghi đè lại cấu hình cũ trong các lần deploy sau.\nBước 3: Theo dõi CloudWatch Metrics sau chuyển đổi\nSau khi nâng cấp, cần theo dõi các chỉ số quan trọng trên Amazon CloudWatch trong khoảng 7–14 ngày:\nVolumeReadOps và VolumeWriteOps: Tính toán tổng IOPS thực tế sử dụng. VolumeThroughputPercentage: Kiểm tra mức tiêu thụ băng thông. VolumeConsumedReadWriteOps: Kiểm tra xem hệ thống có bị nghẽn (throttling) do vượt quá mức 3.000 IOPS mặc định hay không. Nếu có, chủ động cấu hình tăng thêm IOPS cho Volume đó. KẾT LUẬN Chuyển đổi từ gp2 sang gp3 là một trong những hành động tối ưu chi phí (Quick Win) có tỷ lệ lợi ích trên chi phí cao nhất trên AWS. Doanh nghiệp vừa cắt giảm ngay 20% chi phí lưu trữ, vừa sở hữu hiệu năng linh hoạt và độc lập hơn mà không phải chấp nhận bất kỳ khoảng thời gian dừng hệ thống (downtime) nào. Nếu hạ tầng của bạn vẫn còn các ổ đĩa gp2, đây là thời điểm thích hợp nhất để tự động hóa quá trình nâng cấp này.\nNguồn tham khảo: AWS Storage Blog - Migrate your Amazon EBS volumes from gp2 to gp3 and save up to 20% on costs #AWS #AmazonEBS #AWSStorage #CostOptimization #FinOps #AmazonEC2 #CloudComputing #DevOps\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/3-blogsposted/","title":"Các bài blogs đã đăng","tags":[],"description":"","content":"Blog 1 - AWS SECURITY \u0026amp; S3 – Amazon S3 sẽ vô hiệu hóa mặc định SSE-C từ tháng 04/2026 Bài viết cập nhật thông báo mới nhất từ AWS về việc vô hiệu hóa mặc định cơ chế mã hóa SSE-C trên Amazon S3 từ tháng 04/2026, phân tích tác động và hướng dẫn chi tiết cho Developer/DevOps quy trình rà soát, chuyển đổi sang giải pháp SSE-KMS an toàn.\nBlog 2 - AWS BACKUP – AWS Backup bổ sung Item-Level Recovery cho Amazon EBS và Amazon S3 Bài viết giới thiệu tính năng AWS Backup Search \u0026amp; Item-Level Recovery, cho phép khôi phục chính xác từng file/tài liệu bị xóa nhầm từ các bản backup EBS/S3 mà không cần khôi phục toàn bộ Snapshot, giúp tiết kiệm chi phí và rút ngắn chỉ số RTO.\nBlog 3 - AWS COST OPTIMIZATION – Tối ưu chi phí Amazon EBS: Vì sao nên chuyển từ gp2 sang gp3? Bài viết phân tích lợi ích tối ưu chi phí (tiết kiệm đến 20%), so sánh kiến trúc giữa gp2 và gp3, hướng dẫn quy trình chuyển đổi hàng loạt Zero-Downtime và cách tự động hóa cho đội ngũ DevOps/FinOps.\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/5-workshop/5.3-deploy-backend/","title":"Triển khai Backend Serverless với AWS SAM","tags":[],"description":"","content":"Triển khai Backend Serverless với AWS SAM \u0026amp; Cognito Trong phần này, bạn sẽ sử dụng AWS SAM (Serverless Application Model) để đóng gói và triển khai toàn bộ hạ tầng Backend Serverless bao gồm Amazon Cognito User Pool, HTTP API Gateway v2, bộ microservices AWS Lambda, Amazon DynamoDB Single-Table và AWS KMS Keys.\n1. Phân tích AWS SAM Template (template.yaml) File template.yaml định nghĩa toàn bộ tài nguyên hạ tầng của dự án dưới dạng mã (IaC). Hãy xem qua các thành phần cốt lõi:\nCognito User Pool (CognitoUserPool): Quản lý đăng ký, đăng nhập và cấp mã Token JWT. Khai báo Custom Attributes tenantId và role để hỗ trợ đa doanh nghiệp (Multi-tenant). HTTP API Gateway (AttendanceApi): Cấu hình CognitoAuthorizer sử dụng chuẩn OAuth2/JWT với Issuer URL trỏ về Cognito User Pool. KMS Key (DataKMSKey): Khóa CMK mã hóa dữ liệu tại chỗ (Data at rest) cho DynamoDB và S3. DynamoDB Table (SaaSAttendanceTable): Bảng Single-Table Design với HASH Key PK và RANGE Key SK, chế độ On-Demand Billing và DynamoDB Streams (CDC enabled). Lambda Microservices: AuthFunction: Đăng nhập, đăng ký và xác thực tài khoản (/auth/*). CheckInFunction: Ghi nhận dữ liệu check-in nhân viên (/attendance/check-in). CheckOutFunction: Ghi nhận dữ liệu check-out (/attendance/check-out). AttendanceHistoryFunction: Truy vấn lịch sử chấm công (/attendance/history). AdminFunction: Quản trị nhân sự và tổng hợp dữ liệu doanh nghiệp (/admin/*). ReportFunction: Tiếp nhận yêu cầu xuất báo cáo và khởi chạy async workflow. WebhookFunction: Xử lý webhook thanh toán B2B và thông báo hệ thống ngoài. 2. Biên dịch hạ tầng với sam build Di chuyển vào thư mục backend/ và tiến hành build mã nguồn các hàm Lambda:\ncd backend sam build Kết quả báo thành công:\nBuild Succeeded Built Artifacts : .aws-sam/build Valid Templates : .aws-sam/build/template.yaml 3. Triển khai hạ tầng lên AWS Cloud với sam deploy Chạy câu lệnh triển khai tương tác:\nsam deploy --guided Nhập các tham số cấu hình:\nConfiguring SAM deploy ====================== Stack Name [sam-app]: smart-attendance-backend AWS Region [us-east-1]: us-east-1 Parameter AllowedOrigin [https://your-cloudfront-domain.cloudfront.net]: https://localhost:3000 Parameter OriginVerifySecret [SaaS-Secure-Verification-Token-2026]: SaaS-Secure-Verification-Token-2026 Confirm changes before deploy [Y/n]: n Allow SAM CLI IAM role creation [Y/n]: Y Disable rollback [y/N]: N Save arguments to configuration file [Y/n]: Y SAM configuration file [samconfig.toml]: samconfig.toml SAM configuration environment [default]: default Quá trình khởi tạo các tài nguyên CloudFormation sẽ diễn ra trong khoảng 2–3 phút.\n[!TIP] Xử lý lỗi Error: S3 Bucket does not exist:\nLỗi này xảy ra khi Stack quản lý của SAM CLI (aws-sam-cli-managed-default) vẫn tồn tại nhưng S3 Bucket bị xóa thủ công. Hãy chạy lệnh xóa Stack quản lý cũ:\naws cloudformation delete-stack --stack-name aws-sam-cli-managed-default --region ap-southeast-1 Sau đó chạy lại sam deploy --guided để SAM CLI tự động tạo mới S3 Deployment Bucket sạch 100%.\n4. Kiểm tra kết quả Đầu ra (Outputs) Khi quá trình deploy kết thúc, màn hình Terminal sẽ trả về thông tin Outputs:\nKey AttendanceApiUrl Description Link API Endpoint Value https://xxxxxxx.execute-api.us-east-1.amazonaws.com/prod Key CognitoUserPoolId Description Cognito User Pool ID Value us-east-1_xxxxxxxxx Key CognitoUserPoolClientId Description Cognito App Client ID Value xxxxxxxxxxxxxxxxxxxxxxxxxx [!IMPORTANT] Hãy lưu lại các giá trị AttendanceApiUrl, CognitoUserPoolId, và CognitoUserPoolClientId để cấu hình cho ứng dụng Frontend ở bài lab tiếp theo!\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/4-eventparticipated/4.4-event4/","title":"Sự kiện 4","tags":[],"description":"","content":"Báo cáo tổng kết: FCAJ Community Day Mục Tiêu Sự Kiện Khám phá giải pháp phản ứng tự động và xử lý sự cố với Deep Response Engine. Tìm hiểu mẫu kiến trúc xây dựng Voice Agent AI giống người thật ở quy mô lớn với Amazon Nova Sonic. Khám phá AWS DevOps Agent và phương pháp suy luận đa tác nhân giúp giảm thiểu MTTD/MTTR. Hiểu cách ứng dụng AI trong lập kế hoạch nhân sự và chuyển đổi quản trị HR bằng Amazon Quick. Nắm vững cách xây dựng kết nối MCP (Model Context Protocol) riêng tư và bảo mật với Amazon Quick. Nội Dung Nổi Bật Tự động hóa xử lý sự cố, chuyển đổi từ hệ thống dựa trên cảnh báo (alert-driven) sang hệ thống dựa trên hành động (action-driven). Tương tác giọng nói AI độ trễ thấp dạng speech-to-speech với Amazon Nova Sonic \u0026amp; Bedrock. Suy luận đa tác nhân (multi-agent reasoning) cho vận hành hạ tầng trên môi trường hybrid và multi-cloud. Lập kế hoạch nhân sự chiến lược và tự động hóa quy trình HR cùng Amazon Quick. Hướng dẫn từng bước cấu hình kết nối VPC riêng tư cho các tích hợp MCP doanh nghiệp. Phiên 1: Deep Response Engine: From Detection to Autonomous Resolution Thời gian: 09:00 - 09:25 AM\nCác chủ đề được đề cập Rào cản phức tạp trong vận hành đám mây hiện đại (The complexity wall in modern cloud operations). Chuyển dịch từ hệ thống cảnh báo sang hệ thống dựa trên hành động tự trị. Tổng quan kiến trúc Deep Response Engine. Live demo tự động phản ứng và xử lý sự cố. Tác động kinh doanh: giảm chi phí và vận hành không gián đoạn (zero-downtime). Phiên 2: Voice Agents: Building Human-Like AI Conversations at Scale Thời gian: 09:25 - 09:55 AM\nCác chủ đề được đề cập Sự tiến hóa từ tổng đài IVR, chatbots đến các AI Voice Agents. Các thách thức cốt lõi: độ trễ (latency), độ chính xác và tương tác tự nhiên. Mô hình nền tảng speech-to-speech Amazon Nova Sonic. Kiến trúc giải pháp: Telephony, Streaming, Bedrock và các công cụ MCP. Case study doanh nghiệp, thực hành tốt nhất và live demo. Phiên 3: AWS DevOps Agent: Your Always-Available Operations Teammate Thời gian: 09:55 - 10:20 AM\nCác chủ đề được đề cập Tổng quan về AWS DevOps Agent. Giảm chỉ số MTTD và MTTR nhờ vận hành hỗ trợ bởi AI. Hỗ trợ môi trường multi-cloud và hybrid cloud. Tiếp cận suy luận đa tác nhân (multi-agent reasoning) và Bedrock AgentCore. Case study thực tế và bài demo walkthrough trên ECS. Phiên 4: AI-Powered Productivity: Workforce Planning For Enterprise Thời gian: 10:20 - 10:45 AM\nCác chủ đề được đề cập Thách thức chuyển đổi nhân sự (HR transformation) trong các doanh nghiệp hiện đại. Tổng quan về Amazon Quick và các tính năng hỗ trợ HR. Tăng tốc vận hành nhân sự bằng tự động hóa. Phân tích lực lượng lao động (workforce analytics) và hiểu biết từ dữ liệu. Lập kế hoạch nhân sự chiến lược cho việc ra quyết định của doanh nghiệp. Phiên 5: Building Secure Private MCP Connection with Amazon Quick Thời gian: 10:45 - 11:30 AM\nCác chủ đề được đề cập Giới thiệu về Amazon Quick như một nền tảng trợ lý AI. MCP (Model Context Protocol) và vai trò mở rộng hệ thống. Các thách thức bảo mật trong tích hợp dựa trên MCP. Cấu hình kết nối VPC riêng tư cho Amazon Quick. platform_architecture thực tế và các góc nhìn triển khai trong môi trường doanh nghiệp. Trải nghiệm sự kiện \u0026amp; Bài học rút ra Sự kiện FCAJ Community Day đã mang lại những góc nhìn kỹ thuật chuyên sâu về xử lý sự cố tự động, voice agent thời gian thực, trợ lý DevOps vận hành và hạ tầng MCP bảo mật.\nBài học rút ra Vận hành dựa trên hành động: Chuyển đổi từ cảnh báo tĩnh sang hành động tự trị giúp giảm thiểu tối đa MTTR và tối ưu chi phí vận hành. Voice Agent thế hệ mới: Amazon Nova Sonic giúp hiện thực hóa các tương tác giọng nói độ trễ thấp, kết nối mượt mà với hệ thống tổng đài doanh nghiệp. Bảo mật AI Doanh nghiệp: Amazon Quick kết hợp cùng kết nối MCP riêng tư qua VPC giúp khai thác dữ liệu HR và công cụ nội bộ an toàn tuyệt đối. Hình ảnh sự kiện "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.4-week4/","title":"Worklog Tuần 4","tags":[],"description":"","content":"Mục tiêu tuần 4 Hiểu các khái niệm Giám sát (Monitoring), Ghi log (Logging) và Khả năng quan sát (Observability) trên AWS. Sử dụng thành thạo Amazon CloudWatch (Metrics, Custom CloudWatch Agent, Dashboards, Alarms \u0026amp; Logs Insights). Giám sát lưu lượng mạng bằng VPC Flow Logs và khám phá tích hợp CloudWatch với Amazon Managed Grafana. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Monitoring with Amazon CloudWatch: + Metrics (System metrics vs Custom metrics) + Cài đặt CloudWatch Agent trên EC2 thu thập Memory \u0026amp; Disk utilization metrics + Xây dựng CloudWatch Dashboards trực quan hóa dữ liệu hạ tầng 25/05/2026 25/05/2026 https://000008.awsstudygroup.com 3 - CloudWatch Logs \u0026amp; SNS Alarms: + Log Groups, Log Streams \u0026amp; Retention Policies + CloudWatch Alarms (Static Threshold \u0026amp; Anomaly Detection) + Tích hợp CloudWatch Alarms với Amazon SNS phát email cảnh báo tự động 26/05/2026 26/05/2026 https://000008.awsstudygroup.com https://000077.awsstudygroup.com 4 - Network Monitoring with VPC Flow Logs: + Khởi tạo VPC Flow Logs thu thập IP traffic chấp nhận (ACCEPT) và từ chối (REJECT) + Đẩy Flow Logs về CloudWatch Logs \u0026amp; Amazon S3 + Thực hành: Phân tích sự cố kết nối Security Group / NACL từ VPC Flow Logs 27/05/2026 27/05/2026 https://000074.awsstudygroup.com 5 - CloudWatch Logs Insights \u0026amp; Observability: + Truy vấn ngữ pháp CloudWatch Logs Insights (filter, fields, stats, sort) + Tích hợp nguồn dữ liệu CloudWatch với Amazon Managed Grafana cho Dashboard nâng cao 28/05/2026 28/05/2026 https://000036.awsstudygroup.com https://000029.awsstudygroup.com 6 - Cost \u0026amp; Resource Optimization: + Phân tích xu hướng chi tiêu tài nguyên với AWS Cost \u0026amp; Usage Management + Thực hành: Viết câu truy vấn Logs Insights tìm lỗi trong application log và thiết lập quy trình phản hồi sự cố tự động 29/05/2026 29/05/2026 https://000064.awsstudygroup.com https://000029.awsstudygroup.com Kết quả đạt được tuần 4 Cài đặt và cấu hình thành công CloudWatch Agent thu thập custom metrics (RAM/Disk) trên EC2. Xây dựng Dashboard giám sát trực quan chuyên nghiệp cho toàn bộ hệ thống. Thu thập và phân tích lưu lượng mạng thực tế với VPC Flow Logs để phát hiện truy cập bất thường. Thành thạo kỹ năng truy vấn log bằng CloudWatch Logs Insights giúp rút ngắn thời gian khắc phục sự cố. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/4-eventparticipated/","title":"Các sự kiện đã tham gia","tags":[],"description":"","content":"Event 1 Tên sự kiện: FCAJ Community Day\nThời gian: 09:00 ngày 09/05/2026\nĐịa điểm: Tầng 26, tòa nhà Bitexco, số 02 đường Hải Triều, phường Sài Gòn, thành phố Hồ Chí Minh\nVai trò trong sự kiện: Người tham dự\nEvent 2 Tên sự kiện: AWS First Cloud AI Journey Community Day\nThời gian: 09:00 ngày 23/05/2026\nĐịa điểm: Tầng 26, tòa nhà Bitexco, số 02 đường Hải Triều, phường Sài Gòn, thành phố Hồ Chí Minh\nVai trò trong sự kiện: Người tham dự\nEvent 3 Tên sự kiện: FCAJ Community Day\nThời gian: 09:00 ngày 13/06/2026\nĐịa điểm: Tầng 26, tòa nhà Bitexco, số 02 đường Hải Triều, phường Sài Gòn, thành phố Hồ Chí Minh\nVai trò trong sự kiện: Người tham dự\nEvent 4 Tên sự kiện: FCAJ Community Day \u0026ldquo;Data Driven, AI Risen\u0026rdquo;\nThời gian: 09:00 ngày 27/06/2026\nĐịa điểm: Tầng 26, tòa nhà Bitexco, số 02 đường Hải Triều, phường Sài Gòn, thành phố Hồ Chí Minh\nVai trò trong sự kiện: Người tham dự\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/5-workshop/5.4-dynamodb-singletable/","title":"Thiết kế DynamoDB Single-Table &amp; DynamoDB Streams","tags":[],"description":"","content":"Thiết kế DynamoDB Single-Table \u0026amp; DynamoDB Streams CDC Trong mô hình SaaS Đa doanh nghiệp (Multi-tenant), việc lựa chọn và thiết kế kiến trúc cơ sở dữ liệu đóng vai trò quyết định đến chi phí hạ tầng, tốc độ truy vấn và khả năng cô lập dữ liệu (Tenant Data Isolation).\nTrong phần này, bạn sẽ tìm hiểu cấu trúc Single-Table Design trên Amazon DynamoDB và cơ chế bắt sự kiện biến động dữ liệu DynamoDB Streams (Change Data Capture).\n1. Phân tích Cấu trúc Single-Table Design Thay vì tạo nhiều bảng riêng lẻ cho từng doanh nghiệp hoặc từng thực thể (Users, Attendance, Tenants, Subscriptions), hệ thống lưu toàn bộ vào 1 Bảng duy nhất (smart-attendance-database) với cấu trúc HASH (PK) \u0026amp; RANGE (SK):\nEntity (Thực thể) Partition Key (PK) Sort Key (SK) Attributes (Thuộc tính đính kèm) Tenant Record TENANT#\u0026lt;tenantId\u0026gt; METADATA tenantName, plan, status, createdAt User Profile TENANT#\u0026lt;tenantId\u0026gt; USER#\u0026lt;userId\u0026gt; email, fullName, role, department Attendance Log TENANT#\u0026lt;tenantId\u0026gt; ATTENDANCE#\u0026lt;userId\u0026gt;#\u0026lt;timestamp\u0026gt; checkInTime, checkOutTime, status, location Subscription Billing TENANT#\u0026lt;tenantId\u0026gt; SUB#\u0026lt;billingId\u0026gt; planTier, amount, paymentStatus, expiryDate Nguyên tắc cô lập dữ liệu tuyệt đối (Tenant Isolation) Mỗi truy vấn (Query) của hàm Lambda bắt buộc truyền Partition Key có dạng TENANT#\u0026lt;tenantId\u0026gt;. Giúp ngăn chặn 100% rủi ro truy cập nhầm dữ liệu giữa các công ty khác nhau (Cross-tenant data leak). 2. Kiểm tra DynamoDB Table trên AWS Console Mở Amazon DynamoDB Console. Chọn mục Tables -\u0026gt; Chọn bảng smart-attendance-database. Kiểm tra mục Overview: Read/Write capacity mode: On-Demand (Tự động mở rộng theo lưu lượng thực tế). Encryption: KMS (Mã hóa bằng Customer Managed Key DataKMSKey). Point-in-time recovery (PITR): ENABLED. DynamoDB Streams: ENABLED (NEW_AND_OLD_IMAGES). 3. Tích hợp EventBridge Pipe từ DynamoDB Streams Để truyền sự kiện biến động dữ liệu (CDC) sang các dịch vụ xử lý khác mà không làm tăng độ trễ hàm Check-in Lambda, hệ thống sử dụng AWS EventBridge Pipes:\nDdbToEventBridgePipe: Type: AWS::Pipes::Pipe Properties: Name: smart-attendance-ddb-stream-pipe Source: !GetAtt SaaSAttendanceTable.StreamArn Target: !Sub \u0026#39;arn:aws:events:${AWS::Region}:${AWS::AccountId}:event-bus/default\u0026#39; Khi một lượt check-in mới được ghi vào DynamoDB, DynamoDB Streams tự động tạo ra một thay đổi dữ liệu (Stream Record). EventBridge Pipe đọc các bản ghi này và đẩy thẳng sự kiện AttendanceCreated sang EventBridge Event Bus để kích hoạt các tiến trình gửi email hoặc bắn Webhook thời gian thực. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.5-week5/","title":"Worklog Tuần 5","tags":[],"description":"","content":"Mục tiêu tuần 5 Hiểu các nguyên lý thiết kế hệ thống tính sẵn sàng cao (High Availability) và tự động mở rộng (Scalability) trên AWS. Cấu hình bộ cân bằng tải Elastic Load Balancing (Application Load Balancer - ALB) phân phối lưu lượng truy cập đa AZ. Thiết lập EC2 Auto Scaling Group, Amazon Route 53 DNS Routing Policies \u0026amp; VPC Peering kết nối mạng. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Elastic Load Balancing (ELB Essentials): + So sánh ALB (Layer 7) vs NLB (Layer 4) + Target Groups, Health Checks \u0026amp; Listener Rules + SSL/TLS Termination với chứng chỉ AWS Certificate Manager (ACM) 01/06/2026 01/06/2026 https://000006.awsstudygroup.com 3 - EC2 Auto Scaling Groups (ASG): + Launch Templates vs Launch Configurations + Scaling Policies: Target Tracking, Step Scaling \u0026amp; Scheduled Scaling + Dynamic Scaling dựa trên CPU utilization / ALB Request count 02/06/2026 02/06/2026 https://000006.awsstudygroup.com 4 - Thực hành: + Khởi tạo Launch Template định nghĩa Web Server EC2 + Dựng ALB trên 2 Public Subnets và gắn Target Group + Tạo Auto Scaling Group spanning 2 Private Subnets tích hợp với ALB 03/06/2026 03/06/2026 https://000006.awsstudygroup.com 5 - Amazon Route 53 \u0026amp; Hybrid DNS: + Public vs Private Hosted Zones + Các quy tắc định tuyến Routing Policies: Simple, Weighted, Latency, Failover \u0026amp; Geolocation + Route 53 Health Checks \u0026amp; VPC Peering (kết nối 2 VPC riêng biệt) 04/06/2026 04/06/2026 https://000010.awsstudygroup.com https://000019.awsstudygroup.com/ 6 - Building Highly Available Web Applications: + Giả lập tải cao bằng công cụ Stress Test trên EC2 để kiểm tra Auto Scaling tự động mở rộng instance + Cấu hình Route 53 Failover Routing thử nghiệm chuyển hướng lưu lượng khi xảy ra sự cố 05/06/2026 05/06/2026 https://000101.awsstudygroup.com Kết quả đạt được tuần 5 Triển khai thành công bộ cân bằng tải Application Load Balancer phân phối lưu lượng truy cập mượt mà qua các Availability Zones. Thiết lập Auto Scaling Group tự động co giãn số lượng EC2 instance theo nhu cầu thực tế. Làm chủ các chiến lược định tuyến DNS với Amazon Route 53 và cơ chế tự động chuyển hướng sự cố (Disaster Recovery Failover). Kết nối hai hạ tầng VPC riêng biệt thông qua giải pháp VPC Peering. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/5-workshop/5.5-async-reporting/","title":"Workflow Xuất Báo cáo Bất đồng bộ","tags":[],"description":"","content":"Xây dựng Workflow Xuất Báo cáo Bất đồng bộ với Step Functions, SQS \u0026amp; SES Trong các ứng dụng doanh nghiệp lớn, việc tổng hợp báo cáo chấm công hàng tháng cho hàng ngàn nhân viên có thể tốn từ 10–60 giây tính toán. Nếu xử lý đồng bộ qua API Gateway, client sẽ bị HTTP Timeout (30s limit) và làm nghẽn giao diện người dùng.\nTrong bài lab này, bạn sẽ tìm hiểu giải pháp xử lý bất đồng bộ kết hợp AWS Step Functions Express State Machine, Amazon SQS Queue Buffer, Amazon S3 và Amazon SES Email Worker.\n1. Luồng xử lý Báo cáo Bất đồng bộ (Async Flow) [Admin Request] ➔ [API Gateway] ➔ [SQS ReportQueue] ➔ [Step Functions Engine] │ ▼ [Amazon SES Email] ◄─ [Lambda Email Worker] ◄─ [Amazon S3 Bucket (Report PDF/Excel)] Gửi yêu cầu (Trigger): Admin bấm \u0026ldquo;Xuất Báo Cáo Tháng\u0026rdquo;. Frontend gửi HTTP POST tới API Gateway. Request lập tức được đẩy vào SQS ReportQueue và API trả về ngay phản hồi 202 Accepted (UI không bị treo). Khởi chạy State Machine: AWS Step Functions Express Workflow (ReportStateMachine) tiêu thụ yêu cầu từ SQS và kích hoạt luồng 5 bước: ValidateRequest: Kiểm tra tính hợp lệ của tham số yearMonth và tenantId. InitializeReportStatus: Cập nhật trạng thái PROCESSING vào DynamoDB. GenerateReportFile: Gọi hàm Lambda đọc lịch sử chấm công trong tháng và tạo file Excel/PDF. WriteFileToS3: Lưu file trực tiếp vào Amazon S3 Bucket (SaaSReportBucket) mã hóa KMS CMK với chế độ Lifecycle S3 Intelligent-Tiering. FinalizeReportStatus: Cập nhật trạng thái COMPLETED và link S3 Key vào DynamoDB. Phát sự kiện \u0026amp; Gửi Mail: EventBridge ghi nhận sự kiện ReportGenerated, đẩy thông báo vào SQS EmailQueue. Hàm Lambda Email Worker tiêu thụ message và gọi Amazon SES để gửi mail chứa đường dẫn tải báo cáo bảo mật tới Admin. 2. Định nghĩa AWS Step Functions State Machine (template.yaml) Dưới đây là đoạn mã định nghĩa Express State Machine trong AWS SAM:\nReportStateMachine: Type: AWS::Serverless::StateMachine Properties: Type: EXPRESS Role: !GetAtt ReportWorkflowRole.Arn Definition: StartAt: ValidateRequest States: ValidateRequest: Type: Pass ResultPath: \u0026#34;$.validation\u0026#34; Next: InitializeReportStatus InitializeReportStatus: Type: Task Resource: arn:aws:states:::dynamodb:putItem Parameters: TableName: !Ref SaaSAttendanceTable Item: PK: { S.$: \u0026#39;$.PK\u0026#39; } SK: { S.$: \u0026#39;$.SK\u0026#39; } Status: { S: \u0026#34;PROCESSING\u0026#34; } Next: GenerateReportFile GenerateReportFile: Type: Pass Result: S3Key: \u0026#34;reports/monthly-attendance-report.xlsx\u0026#34; ResultPath: \u0026#34;$.fileDetails\u0026#34; Next: WriteFileToS3 WriteFileToS3: Type: Task Resource: arn:aws:states:::aws-sdk:s3:putObject Parameters: Bucket: !Ref SaaSReportBucket Key.$: \u0026#39;$.fileDetails.S3Key\u0026#39; Body: \u0026#34;Report Binary Content\u0026#34; Next: FinalizeReportStatus FinalizeReportStatus: Type: Task Resource: arn:aws:states:::dynamodb:updateItem Parameters: TableName: !Ref SaaSAttendanceTable Key: PK: { S.$: \u0026#39;$.PK\u0026#39; } SK: { S.$: \u0026#39;$.SK\u0026#39; } UpdateExpression: \u0026#34;SET #status = :val, #file = :file\u0026#34; ExpressionAttributeNames: \u0026#34;#status\u0026#34;: \u0026#34;Status\u0026#34; \u0026#34;#file\u0026#34;: \u0026#34;ReportFileKey\u0026#34; ExpressionAttributeValues: \u0026#34;:val\u0026#34;: { S: \u0026#34;COMPLETED\u0026#34; } \u0026#34;:file\u0026#34;: { S.$: \u0026#39;$.fileDetails.S3Key\u0026#39; } End: true 3. Cấu hình SQS Queue và Email Dead Letter Queue (DLQ) Để đảm bảo không bị mất email thông báo trong trường hợp dịch vụ SES hoặc mạng gặp sự cố, hệ thống sử dụng cơ chế Dead Letter Queue (DLQ):\nEmailQueue: Type: AWS::SQS::Queue Properties: QueueName: smart-attendance-email-queue RedrivePolicy: deadLetterTargetArn: !GetAtt EmailDLQ.Arn maxReceiveCount: 3 EmailDLQ: Type: AWS::SQS::Queue Properties: QueueName: smart-attendance-email-dlq Nếu Lambda Email Worker gặp lỗi quá 3 lần, tin nhắn tự động chuyển sang EmailDLQ để hỗ trợ truy vết lỗi mà không làm thất lạc dữ liệu. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/5-workshop/","title":"Workshop","tags":[],"description":"","content":"Xây dựng Nền tảng Chấm công Thông minh Multi-Tenant với AWS Serverless Architecture Tổng quan Trong chuỗi bài thực hành Workshop này, bạn sẽ từng bước xây dựng và triển khai một nền tảng Smart Attendance SaaS Platform hoàn chỉnh dành cho mô hình đa doanh nghiệp (Multi-tenant) dựa trên kiến trúc AWS Serverless Optimized Pro.\nBạn sẽ trực tiếp thao tác đóng gói hạ tầng bằng mã với AWS SAM (Serverless Application Model), cấu hình bảo mật xác thực với Amazon Cognito User Pool, làm việc với Amazon DynamoDB (Single-Table Design) cô lập dữ liệu theo tenantId, triển khai AWS Step Functions Express Workflow và Amazon SQS / SES xử lý báo cáo bất đồng bộ, phân phối ứng dụng React SPA qua Amazon S3 và Amazon CloudFront CDN bảo mật với Custom Origin Verification Header.\nNội dung thực hành Tổng quan về workshop Chuẩn bị môi trường Triển khai Backend Serverless với AWS SAM Cấu hình DynamoDB Single-Table \u0026amp; DynamoDB Streams Xây dựng Workflow Xuất Báo cáo Bất đồng bộ Triển khai React SPA Frontend \u0026amp; CloudFront CDN Kiểm thử End-to-End \u0026amp; Dọn dẹp Tài nguyên "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.6-week6/","title":"Worklog Tuần 6","tags":[],"description":"","content":"Mục tiêu tuần 6 Hiểu triết lý thiết kế ứng dụng Không máy chủ (Serverless) và Kiến trúc hướng sự kiện (Event-Driven Architecture) trên AWS. Làm chủ AWS Lambda (Môi trường thực thi, Execution Role, Layers \u0026amp; Triggers) và xác thực người dùng với Amazon Cognito. Xây dựng Serverless APIs với Amazon API Gateway, quản lý luồng công việc phức tạp bằng AWS Step Functions \u0026amp; công cụ AWS SAM CLI. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Serverless Automation with AWS Lambda: + Mô hình xử lý Event-driven model, Execution Environment \u0026amp; Concurrency limits + IAM Execution Roles \u0026amp; Resource-based policies + Sử dụng Lambda Layers tái sử dụng thư viện dùng chung 08/06/2026 08/06/2026 https://000022.awsstudygroup.com 3 - Building Serverless APIs with Amazon API Gateway: + So sánh REST API vs HTTP API vs WebSocket API + Cơ chế Tích hợp Lambda Proxy, Request Validation \u0026amp; cấu hình CORS + Xác thực người dùng qua Amazon Cognito User Pools 09/06/2026 09/06/2026 https://000066.awsstudygroup.com https://000141.awsstudygroup.com 4 - Thực hành: + Lập trình các hàm Lambda xử lý nghiệp vụ bằng Node.js/Python + Tạo REST API trên API Gateway kết nối với Lambda \u0026amp; DynamoDB + Thử nghiệm kiểm thử gọi API từ Postman và kiểm tra phân quyền JWT Token 10/06/2026 10/06/2026 https://000066.awsstudygroup.com 5 - Workflow Orchestration with AWS Step Functions: + Máy trạng thái State Machines (Standard vs Express Workflow) + Rẽ nhánh điều kiện (Choice States), song song (Parallel States) \u0026amp; xử lý lỗi (Catch/Retry) + Giới thiệu chuẩn cấu trúc AWS SAM (template.yaml) 11/06/2026 11/06/2026 https://000047.awsstudygroup.com https://000080.awsstudygroup.com/ 6 - Thực hành Serverless Application Model (AWS SAM): + Xây dựng quy trình xử lý bất đồng bộ phức tạp điều phối nhiều hàm Lambda qua Step Functions + Sử dụng SAM CLI (sam build, sam local, sam deploy) đóng gói và triển khai ứng dụng Serverless tự động 12/06/2026 12/06/2026 https://000047.awsstudygroup.com https://000080.awsstudygroup.com/ Kết quả đạt được tuần 6 Thành thạo viết và tối ưu hóa các hàm AWS Lambda theo mô hình Event-Driven. Triển khai hệ thống Serverless REST API hoàn chỉnh tích hợp API Gateway, Lambda, Cognito và DynamoDB. Quản lý quy trình nghiệp vụ nhiều bước phức tạp bằng AWS Step Functions với khả năng tự động khôi phục khi gặp lỗi. Đóng gói, kiểm thử cục bộ và triển khai tự động toàn bộ ứng dụng Serverless chuẩn hóa bằng AWS SAM CLI. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/6---project/","title":"Dự án","tags":[],"description":"","content":""},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/5-workshop/5.6-frontend-cloudfront/","title":"Triển khai Frontend &amp; CloudFront CDN","tags":[],"description":"","content":"Triển khai React SPA Frontend \u0026amp; CloudFront CDN Trong phần này, bạn sẽ build ứng dụng web giao diện người dùng React Single Page Application (SPA), đưa mã nguồn static lên Amazon S3 Bucket và phân phối toàn cầu thông qua Amazon CloudFront CDN tích hợp cơ chế bảo mật Header verification (x-origin-verify).\n1. Phân tích Kiến trúc Edge Protection Layer [User Browser] ➔ [Route 53] ➔ [Amazon CloudFront CDN (WAF + Shield)] ├──\u0026gt; [Amazon S3 Bucket (React Static Assets)] └──\u0026gt; [API Gateway (Header: x-origin-verify)] Amazon S3 (SpaBucket): Lưu trữ các file index.html, js, css, hình ảnh của ứng dụng React. Bucket được cấu hình chặn toàn bộ truy cập public trực tiếp từ ngoài Internet. Amazon CloudFront: Phân phối nội dung tĩnh tại các Edge Location toàn cầu với độ trễ thấp nhất. Custom Verification Header (x-origin-verify): CloudFront tự động chèn một mã token bí mật vào mọi request API gửi về API Gateway. API Gateway chỉ chấp nhận yêu cầu nếu chứa đúng Secret Header này, ngăn chặn kẻ tấn công truy cập trực tiếp URL API Gateway mà không qua CloudFront/WAF. 2. Cấu hình biến môi trường Frontend (.env.production) Di chuyển vào thư mục frontend/ và cập nhật file cấu hình môi trường với thông tin tài nguyên Backend đã triển khai từ Bài 5.3:\ncd ../frontend Tạo file .env.production:\nVITE_API_BASE_URL=https://xxxxxxx.execute-api.us-east-1.amazonaws.com/prod VITE_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx VITE_AWS_REGION=us-east-1 3. Build ứng dụng React SPA Tiến hành cài đặt thư viện và đóng gói ứng dụng:\nnpm install npm run build Thư mục dist/ chứa toàn bộ file static của ứng dụng web sẽ được tạo ra:\ndist/ ├── assets/ │ ├── index-xxxx.js │ └── index-xxxx.css ├── favicon.ico └── index.html 4. Upload Static Files lên Amazon S3 Bucket Sử dụng AWS CLI để khởi tạo Bucket và đồng bộ thư mục dist/ lên S3 SPA Bucket:\n# Tạo S3 Bucket chứa Frontend aws s3 mb s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --region ap-southeast-1 # Đồng bộ file build lên S3 Bucket aws s3 sync dist/ s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --delete [!TIP] Xử lý lỗi Your account must be verified before you can add new CloudFront resources:\nLỗi này xuất hiện trên các tài khoản AWS mới do chính sách bảo mật tạm thời khóa tạo CloudFront.\nGiải pháp dùng ngay (S3 Website Endpoint): Bạn có thể bật S3 Static Website Hosting để xem trước giao diện lập tức:\naws s3 website s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt;/ --index-document index.html Truy cập link: http://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt;.s3-website.ap-southeast-1.amazonaws.com\nMở khóa CloudFront: Mở ticket tại AWS Support Center chọn Account Verification để kích hoạt dịch vụ CloudFront.\n5. Kiểm tra ứng dụng trên CloudFront CDN Truy cập Amazon CloudFront Console.\nChọn Distribution tương ứng với project smart-attendance.\nKhởi tạo Invalidation để xóa cache cũ:\naws cloudfront create-invalidation --distribution-id \u0026lt;DISTRIBUTION_ID\u0026gt; --paths \u0026#34;/*\u0026#34; Mở đường dẫn Domain CloudFront (ví dụ: https://dxxxxxxxxx.cloudfront.net) hoặc S3 Website Endpoint trên trình duyệt để kiểm tra giao diện ứng dụng!\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.7-week7/","title":"Worklog Tuần 7","tags":[],"description":"","content":"Mục tiêu tuần 7 Hiểu triết lý Hạ tầng dưới dạng mã (Infrastructure as Code - IaC) với AWS CloudFormation \u0026amp; AWS CDK v2 (TypeScript/Python). Tìm hiểu công nghệ Container hóa ứng dụng với Docker (Dockerfile, Multi-stage builds) và quản lý lưu trữ container image riêng tư trên Amazon ECR. Triển khai container microservices với Amazon ECS trên Serverless AWS Fargate và tìm hiểu tổng quan Amazon EKS (Kubernetes). Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Infrastructure as Code (AWS CloudFormation \u0026amp; AWS CDK): + CloudFormation Template syntax (YAML/JSON) \u0026amp; Stack Drift Detection + Kiến trúc AWS CDK v2: App, Stacks \u0026amp; L2 Constructs + Các câu lệnh CDK CLI (cdk init, cdk synth, cdk diff, cdk deploy) 15/06/2026 15/06/2026 https://000037.awsstudygroup.com https://000038.awsstudygroup.com 3 - Containerization with Docker \u0026amp; Amazon ECR: + Viết Dockerfile chuẩn hóa \u0026amp; kỹ thuật Multi-stage build tối ưu kích thước image + Khởi tạo kho lưu trữ Amazon ECR Private Repository và đẩy (push) container image 16/06/2026 16/06/2026 https://000015.awsstudygroup.com 4 - Amazon ECS \u0026amp; AWS Fargate: + Cấu hình Task Definitions (CPU, Memory, Logs) \u0026amp; ECS Services + Khởi tạo cụm máy chủ ECS Cluster chạy theo mô hình Serverless AWS Fargate + Tích hợp ECS Service với bộ cân bằng tải Application Load Balancer (ALB) 17/06/2026 17/06/2026 https://000067.awsstudygroup.com 5 - Amazon EKS (Elastic Kubernetes Service) Overview: + Kiến trúc EKS Control Plane, Worker Nodes và EKS Blueprints cho AWS CDK + So sánh kịch bản sử dụng: EC2 vs Serverless Lambda vs ECS Fargate vs EKS Kubernetes 18/06/2026 18/06/2026 https://000126.awsstudygroup.com https://000065.awsstudygroup.com 6 - Thực hành Tự động hóa Container IaC: + Viết mã AWS CDK định nghĩa toàn bộ hạ tầng ECR, ECS Cluster Fargate, ALB \u0026amp; CloudWatch Logs + Triển khai thành công ứng dụng containerized qua câu lệnh cdk deploy 19/06/2026 19/06/2026 https://000076.awsstudygroup.com https://000067.awsstudygroup.com Kết quả đạt được tuần 7 Thành thạo lập trình hạ tầng theo mô hình Hướng đối tượng với AWS CDK v2. Đóng gói ứng dụng web thành container image nhỏ gọn nhờ Docker Multi-stage build và quản lý bảo mật trên Amazon ECR. Triển khai hệ thống ứng dụng container chạy hoàn toàn không máy chủ (Serverless Container) trên Amazon ECS Fargate. Nắm vững kiến thức nền tảng về Kubernetes và giải pháp quản lý cụm EKS trên AWS. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/5-workshop/5.7-testing-cleanup/","title":"Kiểm thử End-to-End &amp; Dọn dẹp Tài nguyên","tags":[],"description":"","content":"Kiểm thử End-to-End \u0026amp; Dọn dẹp Tài nguyên Chúc mừng bạn đã hoàn thành việc xây dựng và triển khai toàn bộ hệ thống Smart Attendance SaaS Platform! Trong phần cuối cùng này, bạn sẽ tiến hành thử nghiệm toàn bộ quy trình nghiệp vụ (End-to-End Testing) và thực hiện dọn dẹp các tài nguyên đã tạo trên AWS để tránh phát sinh chi phí ngoài ý muốn.\n1. Kịch bản Kiểm thử End-to-End (E2E Test) Hãy thực hiện kiểm thử theo 5 kịch bản thực tế sau trên ứng dụng Web:\nKịch bản 1: Đăng ký Doanh nghiệp mới \u0026amp; Đăng nhập (Multi-tenant Auth) Mở trang Web App trên đường dẫn CloudFront CDN Domain. Chọn Đăng ký Doanh nghiệp (Register Tenant). Nhập thông tin Công ty A (tenantId: tenant-company-a), Email và Mật khẩu. Kiểm tra mã OTP xác thực gửi về Email và hoàn tất xác thực. Đăng nhập hệ thống với tài khoản Admin vừa tạo. Màn hình Dashboard quản trị hiển thị chính xác context tenantId. Kịch bản 2: Điểm danh Nhân viên (Employee Check-in / Check-out) Tạo 1 tài khoản Nhân viên (user-employee-1) gán vào tenant-company-a. Đăng nhập tài khoản Nhân viên trên thiết bị di động hoặc giả lập trình duyệt. Bấm nút Check-in (Chấm công vào) -\u0026gt; Hệ thống gửi request mang JWT Token lên API Gateway -\u0026gt; Hàm Lambda CheckInFunction ghi nhận dữ liệu thành công dưới 200ms. Bấm nút Check-out (Chấm công ra) -\u0026gt; Hệ thống cập nhật thời gian ra ca vào DynamoDB. Kịch bản 3: Truy vấn Lịch sử Chấm công (DynamoDB Query) Mở mục Lịch sử Chấm công (History). Hệ thống thực hiện Query DynamoDB theo Partition Key TENANT#tenant-company-a và trả về danh sách điểm danh theo thời gian thực dưới 50ms. Kịch bản 4: Xuất Báo cáo Excel/PDF (Step Functions \u0026amp; SES) Trên giao diện Admin, chọn Xuất Báo Cáo Tháng -\u0026gt; Bấm nút Tạo Báo Cáo. Giao diện hiển thị thông báo \u0026ldquo;Yêu cầu đang được xử lý\u0026rdquo;. Mở AWS Step Functions Console để quan sát Express State Machine khởi chạy và tạo file báo cáo. Kiểm tra hộp thư Email nhận được mail tự động từ Amazon SES chứa liên kết tải file báo cáo Excel/PDF an toàn từ S3 Bucket. Kịch bản 5: Thanh toán B2B \u0026amp; Webhook Đăng nhập Admin -\u0026gt; Chọn gói cước Pro -\u0026gt; Bấm Thanh toán. Giả lập cổng thanh toán gửi Webhook thông báo thành công về URL /billing/webhook. Hàm WebhookFunction xác thực chữ ký Webhook qua AWS Secrets Manager và cập nhật trạng thái doanh nghiệp thành ACTIVE trong DynamoDB. 2. Dọn dẹp Tài nguyên AWS (Cleanup) Để tránh bị tính phí hạ tầng sau khi kết thúc bài thực hành, hãy làm theo các bước sau để xóa toàn bộ tài nguyên AWS:\nBước 1: Xóa các file trong S3 Buckets S3 Buckets chứa file không thể bị xóa trực tiếp từ CloudFormation. Hãy dọn dẹp nội dung buckets trước bằng AWS CLI:\n# 1. Xóa nội dung S3 Report Bucket aws s3 rm s3://saas-attendance-reports-\u0026lt;AWS_ACCOUNT_ID\u0026gt;-\u0026lt;REGION\u0026gt; --recursive # 2. Xóa nội dung S3 SPA Hosting Bucket aws s3 rm s3://smart-attendance-spa-hosting-\u0026lt;AWS_ACCOUNT_ID\u0026gt; --recursive Bước 2: Xóa CloudFormation Stack bằng AWS SAM Di chuyển vào thư mục backend/ và thực hiện lệnh xóa stack:\ncd backend sam delete Xác nhận lệnh xóa:\nAre you sure you want to delete the stack smart-attendance-backend in region us-east-1? [y/N]: y Are you sure you want to delete the folder smart-attendance-backend in S3? [y/N]: y Chờ khoảng 3–5 phút để CloudFormation tự động hủy toàn bộ tài nguyên AWS (Cognito, API Gateway, Lambda, DynamoDB, Step Functions, SQS, SES, KMS Keys).\nKết luận Chúc mừng bạn đã hoàn thành xuất sắc bài thực hành Smart Attendance SaaS Platform Workshop! Bạn đã nắm vững tư duy kiến trúc AWS Serverless và kỹ năng thực tế xây dựng ứng dụng SaaS quy mô lớn trên nền tảng đám mây AWS.\n"},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/7-self-evaluation/","title":"Tự đánh giá","tags":[],"description":"","content":"Trong suốt thời gian thực tập tại Công ty TNHH Amazon Web Services Việt Nam từ 05/05/2026 đến 30/07/2026, tôi đã có cơ hội học hỏi, rèn luyện và áp dụng kiến thức đã được trang bị tại trường vào môi trường làm việc thực tế.\nTôi đã tham gia thiết kế sơ đồ cấu trúc dự án AWS, viết code demo dự án, qua đó cải thiện kỹ năng lập trình, phân tích, viết báo cáo, giao tiếp.\nVề tác phong, tôi luôn cố gắng hoàn thành tốt nhiệm vụ, tuân thủ nội quy, và tích cực trao đổi với đồng nghiệp để nâng cao hiệu quả công việc.\nĐể phản ánh một cách khách quan quá trình thực tập, tôi xin tự đánh giá bản thân dựa trên các tiêu chí dưới đây:\nSTT Tiêu chí Mô tả Tốt Khá Trung bình 1 Kiến thức và kỹ năng chuyên môn Hiểu biết về ngành, áp dụng kiến thức vào thực tế, kỹ năng sử dụng công cụ, chất lượng công việc ☐ ✅ ☐ 2 Khả năng học hỏi Tiếp thu kiến thức mới, học hỏi nhanh ☐ ✅ ☐ 3 Chủ động Tự tìm hiểu, nhận nhiệm vụ mà không chờ chỉ dẫn ✅ ☐ ☐ 4 Tinh thần trách nhiệm Hoàn thành công việc đúng hạn, đảm bảo chất lượng ✅ ☐ ☐ 5 Kỷ luật Tuân thủ giờ giấc, nội quy, quy trình làm việc ☐ ✅ ☐ 6 Tính cầu tiến Sẵn sàng nhận feedback và cải thiện bản thân ☐ ✅ ☐ 7 Giao tiếp Trình bày ý tưởng, báo cáo công việc rõ ràng ☐ ✅ ☐ 8 Hợp tác nhóm Làm việc hiệu quả với đồng nghiệp, tham gia nhóm ✅ ☐ ☐ 9 Ứng xử chuyên nghiệp Tôn trọng đồng nghiệp, đối tác, môi trường làm việc ✅ ☐ ☐ 10 Tư duy giải quyết vấn đề Nhận diện vấn đề, đề xuất giải pháp, sáng tạo ✅ ☐ ☐ 11 Đóng góp vào dự án/tổ chức Hiệu quả công việc, sáng kiến cải tiến, ghi nhận từ team ✅ ☐ ☐ 12 Tổng thể Đánh giá chung về toàn bộ quá trình thực tập ✅ ☐ ☐ Cần cải thiện Dựa trên các tiêu chí được đánh giá ở mức Khá trong bảng trên, tôi nhận thấy bản thân cần tiếp tục rèn luyện và hoàn thiện các điểm sau:\nKiến thức \u0026amp; Kỹ năng chuyên môn: Nâng cao trình độ chuyên sâu về kiến trúc đám mây AWS Serverless, các giải pháp tối ưu chi phí và cơ chế bảo mật nâng cao cho dự án thực tế. Kỷ luật \u0026amp; Quy trình làm việc: Rèn luyện tính kỷ luật cá nhân cao hơn, tuân thủ nghiêm ngặt giờ giấc, nội quy công ty và quy trình làm việc chuyên nghiệp. Khả năng học hỏi \u0026amp; Tính cầu tiến: Chủ động đẩy nhanh tốc độ nghiên cứu công nghệ mới, tích cực lắng nghe feedback từ đồng nghiệp và Mentor để hoàn thiện kỹ năng. Kỹ năng giao tiếp: Trau dồi cách trình bày ý tưởng ngắn gọn, rõ ràng và xử lý tình huống linh hoạt hơn trong công việc hàng ngày. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.8-week8/","title":"Worklog Tuần 8","tags":[],"description":"","content":"Mục tiêu tuần 8 Lên ý tưởng thiết kế dự án \u0026amp; Phân tích yêu cầu: Hình thành ý tưởng kiến trúc mô hình Multi-Tenant SaaS Timekeeping Platform (Hệ thống Điểm danh \u0026amp; Chấm công Đa người dùng), khảo sát bài toán và phân tích các yêu cầu kỹ thuật. Tiếp tục học trên CloudJourney: Nghiên cứu kiến trúc Serverless, mô hình dữ liệu đệm và phương pháp phân lập dữ liệu Multi-Tenancy trên AWS (https://cloudjourney.awsstudygroup.com/). Xây dựng tài liệu Yêu cầu Hệ thống (SRS) và lập kế hoạch triển khai chi tiết cho các tuần dự án tiếp theo. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Lên ý tưởng Đề tài Dự án (22/06/2026 – 28/06/2026): + Tìm hiểu bối cảnh doanh nghiệp và nhu cầu quản lý chấm công thời gian thực theo mô hình Multi-Tenant SaaS + Tiếp tục học bài giảng tổng quan kiến trúc đệm \u0026amp; serverless trên CloudJourney 22/06/2026 22/06/2026 https://cloudjourney.awsstudygroup.com 3 - Phân tích Yêu cầu Chức năng (Functional Requirements): + Phân tích các nghiệp vụ Check-in/Check-out GPS, quản lý ca làm việc, tính công và xuất báo cáo tự động + Xác định luồng người dùng cho các nhóm: SuperAdmin, TenantAdmin và Employee 23/06/2026 23/06/2026 https://cloudjourney.awsstudygroup.com 4 - Khảo sát Mô hình Multi-Tenancy trên AWS (Học trên CloudJourney): + So sánh mô hình Phân lập Dữ liệu: Silo Model vs Pool Model trên Amazon DynamoDB + Nghiên cứu cơ chế phân lập dữ liệu cách ly theo tenantId và xác thực tập trung Amazon Cognito 24/06/2026 24/06/2026 https://000060.awsstudygroup.com https://000039.awsstudygroup.com 5 - Đánh giá Công nghệ \u0026amp; Đăng ký Gói Dịch vụ (Tech Stack Selection): + Lựa chọn bộ công nghệ: Frontend (React/Vite), Backend (AWS Lambda), Auth (Cognito), Database (DynamoDB), IaC (AWS CDK) + Ước tính chi phí hạ tầng Serverless bằng AWS Pricing Calculator 25/06/2026 25/06/2026 https://000022.awsstudygroup.com https://000141.awsstudygroup.com 6 - Lập Kế hoạch \u0026amp; Phân rã Công việc (WBS): + Hoàn thiện tài liệu Yêu cầu Hệ thống (System Requirements Specification) + Phân chia kế hoạch tuần: Thiết kế sơ đồ, Cấu hình Bảo mật, Cập nhật UI/UX Frontend \u0026amp; Backend 26/06/2026 26/06/2026 https://cloudjourney.awsstudygroup.com Kết quả đạt được tuần 8 Chốt ý tưởng thiết kế dự án Mô hình Multi-Tenant SaaS Timekeeping Platform và hoàn thành tài liệu Phân tích Yêu cầu. Tiếp tục học và nắm vững các mô hình kiến trúc Multi-Tenancy Serverless trên CloudJourney. Lựa chọn xong bộ công nghệ triển khai (Tech Stack) và hoàn thành bảng phân rã công việc WBS cho các tuần tiếp theo. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/8-feedback/","title":"Chia sẻ, đóng góp ý kiến","tags":[],"description":"","content":"Đánh giá chung 1. Môi trường làm việc\nMôi trường làm việc rất thân thiện và cởi mở. Các thành viên trong FCAJ luôn sẵn sàng hỗ trợ khi mình gặp khó khăn, kể cả ngoài giờ làm việc. Không gian làm việc gọn gàng, thoải mái, giúp mình tập trung tốt hơn. Tuy nhiên, mình nghĩ có thể bổ sung thêm một số buổi giao lưu hoặc team bonding để mọi người hiểu nhau hơn.\n2. Sự hỗ trợ của mentor / team admin\nMentor hướng dẫn rất chi tiết, giải thích rõ ràng khi mình chưa hiểu và luôn khuyến khích mình đặt câu hỏi. Team admin hỗ trợ các thủ tục, tài liệu và tạo điều kiện để mình làm việc thuận lợi. Mình đánh giá cao việc mentor cho phép mình thử và tự xử lý vấn đề thay vì chỉ đưa đáp án.\n3. Sự phù hợp giữa công việc và chuyên ngành học\nCông việc mình được giao phù hợp với kiến thức mình đã học ở trường, đồng thời mở rộng thêm những mảng mới mà mình chưa từng được tiếp cận. Nhờ vậy, mình vừa củng cố kiến thức nền tảng, vừa học thêm kỹ năng thực tế.\n4. Cơ hội học hỏi \u0026amp; phát triển kỹ năng\nTrong quá trình thực tập, mình học được nhiều kỹ năng mới như sử dụng công cụ quản lý dự án, kỹ năng làm việc nhóm, và cả cách giao tiếp chuyên nghiệp trong môi trường công ty. Mentor cũng chia sẻ nhiều kinh nghiệm thực tế giúp mình định hướng tốt hơn cho sự nghiệp.\n5. Văn hóa \u0026amp; tinh thần đồng đội\nVăn hóa công ty rất tích cực: mọi người tôn trọng lẫn nhau, làm việc nghiêm túc nhưng vẫn vui vẻ. Khi có dự án gấp, mọi người cùng nhau cố gắng, hỗ trợ không phân biệt vị trí. Điều này giúp mình cảm thấy mình là một phần của tập thể, dù chỉ là thực tập sinh.\n6. Chính sách / phúc lợi cho thực tập sinh\nCông ty có hỗ trợ phụ cấp thực tập và tạo điều kiện về thời gian linh hoạt khi cần thiết. Ngoài ra, việc được tham gia các buổi đào tạo nội bộ là một điểm cộng lớn.\nMột số câu hỏi khác Điều bạn hài lòng nhất trong thời gian thực tập? Điều bạn nghĩ công ty cần cải thiện cho các thực tập sinh sau? Nếu giới thiệu cho bạn bè, bạn có khuyên họ thực tập ở đây không? Vì sao? Đề xuất \u0026amp; mong muốn Bạn có đề xuất gì để cải thiện trải nghiệm trong kỳ thực tập? Bạn có muốn tiếp tục chương trình này trong tương lai? Góp ý khác (tự do chia sẻ): "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.9-week9/","title":"Worklog Tuần 9","tags":[],"description":"","content":"Mục tiêu tuần 9 Chỉnh sửa sơ đồ cấu trúc dự án \u0026amp; Thiết kế kiến trúc: Tiến hành rà soát, chỉnh sửa và chuẩn hóa sơ đồ cấu trúc dự án (platform_architecture.drawio), tối ưu luồng xử lý giữa các tầng Edge, Auth, Compute và Storage. Tiếp tục học trên CloudJourney: Học chuyên sâu các mẫu thiết kế kiến trúc chuẩn AWS Well-Architected và mô hình dữ liệu đệm DynamoDB Single-Table (https://cloudjourney.awsstudygroup.com/). Hoàn thiện hồ sơ sơ đồ kiến trúc và các chỉ mục dữ liệu phục vụ phát triển ứng dụng. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Chỉnh sửa Sơ đồ Cấu trúc Dự án (29/06/2026 – 05/07/2026): + Rà soát và chỉnh sửa bản vẽ sơ đồ kiến trúc platform_architecture.drawio cho hệ thống SaaS Timekeeping Platform + Tiếp tục học các chuyên đề thiết kế kiến trúc tối ưu trên CloudJourney 29/06/2026 29/06/2026 https://cloudjourney.awsstudygroup.com 3 - Chỉnh sửa Sơ đồ Luồng Dữ liệu (Data Flow Diagram): + Cập nhật luồng xử lý dữ liệu giữa API Gateway, các hàm Lambda và DynamoDB Single-Table Design + Chuẩn hóa cấu trúc Partition Key (PK) và Sort Key (SK) phân lập theo tenantId 30/06/2026 30/06/2026 https://000060.awsstudygroup.com https://000039.awsstudygroup.com 4 - Tối ưu hóa Sơ đồ Chỉ mục Phụ (GSI Indexing Structure): + Chỉnh sửa sơ đồ GSI1-PK / GSI1-SK phục vụ truy vấn lịch sử chấm công theo phòng ban + Chỉnh sửa sơ đồ GSI2-PK / GSI2-SK phục vụ tổng hợp dữ liệu báo cáo doanh nghiệp 01/07/2026 01/07/2026 https://000060.awsstudygroup.com 5 - Chỉnh sửa Sơ đồ Phân quyền Xác thực (Auth Architecture): + Cập nhật sơ đồ tích hợp Amazon Cognito User Pools và cấu hình Custom Claims ({tenantId, role}) + Học bài giảng bảo mật tầng API trên CloudJourney 02/07/2026 02/07/2026 https://000141.awsstudygroup.com 6 - Hoàn thiện Hồ sơ Kiến trúc \u0026amp; Chuẩn hóa API Contract: + Chốt bản vẽ sơ đồ cấu trúc hệ thống hoàn chỉnh sau khi chỉnh sửa + Hoàn thiện tài liệu OpenAPI/Swagger định nghĩa dữ liệu API Gateway endpoints 03/07/2026 03/07/2026 https://000066.awsstudygroup.com Kết quả đạt được tuần 9 Hoàn thành việc chỉnh sửa và chuẩn hóa sơ đồ cấu trúc dự án (platform_architecture.drawio) đáp ứng tiêu chuẩn AWS Well-Architected. Tiếp tục học và áp dụng thành công các kiến thức thiết kế hệ thống từ CloudJourney vào dự án. Thống nhất sơ đồ luồng dữ liệu, cấu trúc DynamoDB Single-Table và hợp đồng API giữa các thành phần. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.10-week10/","title":"Worklog Tuần 10","tags":[],"description":"","content":"Mục tiêu tuần 10 Thực hiện cấu hình bảo mật cơ bản cho dự án: Triển khai các lớp bảo mật cho dữ liệu tĩnh, dữ liệu truyền tải, tầng API và phân quyền dịch vụ cho dự án SaaS Timekeeping Platform. Tiếp tục học trên CloudJourney: Tìm hiểu các tiêu chuẩn an toàn thông tin trên AWS, giải pháp mã hóa KMS, Secrets Manager \u0026amp; AWS WAF v2 (https://cloudjourney.awsstudygroup.com/). Đảm bảo hệ thống đạt chuẩn an toàn bảo mật, chống khai thác lỗ hổng và rò rỉ dữ liệu nhạy cảm. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Nghiên cứu Giải pháp Bảo mật AWS (06/07/2026 – 12/07/2026): + Học các bài giảng bảo mật dữ liệu và quản lý khóa mã hóa trên CloudJourney + Phân tích mô hình bảo mật 3 tầng cho dự án: Tầng Biên (WAF), Tầng Xác thực (Cognito/IAM) \u0026amp; Tầng Dữ liệu (KMS) 06/07/2026 06/07/2026 https://cloudjourney.awsstudygroup.com https://000033.awsstudygroup.com 3 - Cấu hình Mã hóa Dữ liệu với AWS KMS (CMK): + Tạo Customer Managed Keys (CMK) mã hóa bảng DynamoDB Single-Table và S3 Bucket lưu trữ báo cáo + Cấu hình KMS Key Policy giới hạn quyền truy cập cho dịch vụ Lambda 07/07/2026 07/07/2026 https://000033.awsstudygroup.com 4 - Quản lý Thông tin Nhạy cảm với AWS Secrets Manager: + Lưu trữ API keys, kết nối database và thông tin cấu hình nhạy cảm lên Secrets Manager + Cấu hình tự động xoay vòng (Automatic Secrets Rotation) và tích hợp lấy bí mật từ mã nguồn Lambda 08/07/2026 08/07/2026 https://000096.awsstudygroup.com 5 - Cấu hình Bảo mật Tầng Biên với AWS WAF v2: + Thiết lập WAF Web ACL gắn vào Amazon CloudFront \u0026amp; API Gateway HTTP API v2 + Áp dụng các nhóm luật AWS Managed Rules (chống SQL Injection, XSS) và cấu hình Rate-based Rule ngăn chặn tấn công DDoS 09/07/2026 09/07/2026 https://000026.awsstudygroup.com 6 - Rà soát Phân quyền IAM \u0026amp; Kiểm thử Bảo mật: + Cấu hình IAM Execution Roles cho tất cả các hàm Lambda theo chuẩn Quyền Tối thiểu (Least Privilege) + Thực hiện audit bảo mật cơ bản cho toàn bộ API Gateway endpoints 10/07/2026 10/07/2026 https://000002.awsstudygroup.com Kết quả đạt được tuần 10 Hoàn thành cấu hình bảo mật cơ bản cho toàn bộ hạ tầng dự án SaaS Timekeeping Platform. Tiếp tục nâng cao kiến thức bảo mật đám mây nhờ các bài học hướng dẫn trên CloudJourney. Mã hóa an toàn dữ liệu tĩnh với AWS KMS CMK và bảo vệ tầng API chống lại các cuộc tấn công phổ biến với AWS WAF. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.11-week11/","title":"Worklog Tuần 11","tags":[],"description":"","content":"Mục tiêu tuần 11 Thực hiện chỉnh sửa cập nhật giao diện frontend và backend: Tiến hành cập nhật, nâng cấp mã nguồn giao diện người dùng (React/Vite) và mã nguồn xử lý backend (AWS Lambda) cho dự án. Tiếp tục học trên CloudJourney: Học chuyên sâu phương pháp phát triển Web Application kết nối Serverless Backend và quy trình tự động hóa CI/CD (https://cloudjourney.awsstudygroup.com/). Hoàn thiện hạ tầng CDK v2 và thiết lập đường ống tự động hóa triển khai (AWS CodePipeline). Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Chỉnh sửa Cập nhật Giao diện Frontend (13/07/2026 – 19/07/2026): + Cập nhật giao diện React/Vite: Tối ưu UI/UX màn hình Dashboard, bảng điều khiển Admin và giao diện Check-in GPS + Học bài giảng tích hợp Frontend trên CloudJourney 13/07/2026 13/07/2026 https://cloudjourney.awsstudygroup.com https://000141.awsstudygroup.com 3 - Chỉnh sửa Cập nhật Mã nguồn Backend (AWS Lambda): + Refactor và tối ưu mã nguồn các hàm Lambda xử lý nghiệp vụ: CheckInFunction, CheckOutFunction, AttendanceSummary và AdminFunction + Xử lý định dạng dữ liệu phản hồi API chuẩn hóa 14/07/2026 14/07/2026 https://000060.awsstudygroup.com 4 - Tích hợp Tương tác Frontend \u0026amp; Backend API Gateway: + Kết nối các lệnh gọi HTTP API từ Frontend tới API Gateway v2 + Xử lý truyền Authorization Header (Bearer JWT Token) và cơ chế tự động làm mới Token 15/07/2026 15/07/2026 https://000066.awsstudygroup.com 5 - Cập nhật Bộ Mã nguồn Hạ tầng AWS CDK v2: + Cập nhật các stack hạ tầng: DatabaseStack, AuthStack, ApiStack và FrontendStack (S3 + CloudFront OAC) + Kiểm tra thực thi cdk synth và cdk diff 16/07/2026 16/07/2026 https://000076.awsstudygroup.com 6 - Cập nhật CI/CD Pipeline \u0026amp; Kiểm thử Liên thông: + Viết lại tệp buildspec.yml tự động build React UI, chạy unit tests và thực thi cdk deploy + Thực hiện kiểm thử toàn trình giữa Frontend và Backend sau khi cập nhật 17/07/2026 17/07/2026 https://000152.awsstudygroup.com Kết quả đạt được tuần 11 Hoàn thành việc chỉnh sửa, nâng cấp giao diện Frontend và mã nguồn Backend xử lý mượt mà. Tiếp tục học tập và áp dụng các kỹ thuật tự động hóa triển khai từ CloudJourney. Kết nối liên thông thành công giữa giao diện Web React và hệ thống Serverless Backend qua API Gateway. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/1-worklog/1.12-week12/","title":"Worklog Tuần 12","tags":[],"description":"","content":"Mục tiêu tuần 12 Hoàn thiện Nhật ký công việc \u0026amp; Chỉnh sửa Workshop: Tiến hành rà soát, chỉnh sửa hoàn thiện toàn bộ Nhật ký công việc (Worklog) và tiếp tục chỉnh sửa, nâng cấp bài thực hành Workshop. Tiếp tục học trên CloudJourney: Tham khảo các chuẩn tài liệu kỹ thuật và bài thực hành mẫu trên CloudJourney (https://cloudjourney.awsstudygroup.com/). Tổng duyệt tài liệu, đóng gói báo cáo và chuẩn bị tổng kết dự án thực tập. Các công việc cần triển khai trong tuần này Thứ Công việc Ngày bắt đầu Ngày hoàn thành Nguồn tài liệu 2 - Chỉnh sửa Hoàn thiện Worklog (20/07/2026 – 26/07/2026): + Rà soát và chỉnh sửa hoàn thiện chi tiết toàn bộ nội dung Nhật ký công việc (Worklog) từ Tuần 1 đến Tuần 12 + Đảm bảo tính đồng bộ giữa phiên bản Tiếng Việt và Tiếng Anh 20/07/2026 20/07/2026 https://cloudjourney.awsstudygroup.com 3 - Tiếp tục Chỉnh sửa Bài thực hành Workshop: + Rà soát và cập nhật nội dung tài liệu các phần bài tập Workshop (thư mục /content/5-Workshop) + Tối ưu hóa cấu trúc Markdown và các bước hướng dẫn triển khai 21/07/2026 21/07/2026 https://cloudjourney.awsstudygroup.com 4 - Tích hợp Kiến thức Mới từ CloudJourney: + Tiếp tục học các bài giảng và kịch bản thực hành mới trên CloudJourney + Cập nhật thêm các bước kiểm thử và xử lý lỗi thực tế vào bài hướng dẫn Workshop 22/07/2026 22/07/2026 https://cloudjourney.awsstudygroup.com 5 - Kiểm thử Thực hành \u0026amp; Chuẩn hóa Tài liệu: + Chạy thực nghiệm lại toàn bộ các bước trong bài Workshop để đảm bảo không phát sinh lỗi + Viết và đăng tải bài blog kỹ thuật tổng kết dự án lên chuyên mục BlogsPosted 23/07/2026 23/07/2026 https://cloudjourney.awsstudygroup.com 6 - Hoàn tất Đóng gói Tài liệu \u0026amp; Báo cáo Tổng kết: + Biên dịch và kiểm thử trang Hugo tĩnh (hugo server) đảm bảo hiển thị chuẩn xác + Chuẩn bị slide thuyết trình và hoàn tất tổng kết báo cáo dự án trước hội đồng 24/07/2026 24/07/2026 https://cloudjourney.awsstudygroup.com Kết quả đạt được tuần 12 Hoàn thành việc chỉnh sửa và hoàn thiện toàn bộ Nhật ký công việc (Worklog) 12 tuần chính xác. Chỉnh sửa và nâng cấp chất lượng bài thực hành Workshop phục vụ cộng đồng học tập. Đóng gói toàn bộ tài liệu dự án, xuất bản bài blog kỹ thuật và báo cáo tổng kết thành công. "},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/categories/","title":"Categories","tags":[],"description":"","content":""},{"uri":"https://karos2504.github.io/fcaj-workshop-template/vi/tags/","title":"Tags","tags":[],"description":"","content":""}]